@model BackOffice.Models.Provider.ProviderViewModel

@foreach (var CustomData in Model.RelatedProvider.CustomData)
{
    <label>Campos personalizados del cliente @CustomData.RelatedCompany.CompanyName</label>
    <br />
    <div class="container-fluid">

        @foreach (IntegrationPlatform.Models.Integration.CustomFieldModel FieldData in CustomData.CustomField)
        {            
            <div class="col-sm-6 CustomField">
                
                @Html.Partial(MVC.Shared.Views._CD_CustomField_101001.Replace("101001", FieldData.AditionalFieldType.ItemId.ToString()),
                    new Tuple<BackOffice.Models.Provider.ProviderViewModel,
                            IntegrationPlatform.Models.Integration.CustomFieldModel,
                            ProveedoresOnLine.Company.Models.Util.GenericItemModel,
                            string>
                            (Model,
                            FieldData != null ? FieldData : null,
                            CustomData.CustomData != null ? CustomData.CustomData.Where(x => x.ItemType.ItemId == FieldData.AditionalFieldId).Select(x => x).DefaultIfEmpty(null).First() : null,
                            CustomData.RelatedCompany.CompanyPublicId))

            </div>
        }
    </div>
    <hr />
}
