@model Tuple<BackOffice.Models.Provider.ProviderViewModel, IntegrationPlatform.Models.Integration.CustomFieldModel, ProveedoresOnLine.Company.Models.Util.GenericItemModel, string>

@if (!Model.Item1.RenderScripts)
{
    <label>@Model.Item2.AditionalFieldType.ItemName</label>
    <br />
    if (Model.Item3 != null &&
        Model.Item3.ItemInfo != null)
    {
        <input type="number" value="@Model.Item3.ItemInfo.FirstOrDefault().Value" />
    }
    else
    {
        <input type="number" value="" />
    }
}

