<div class="POBOFooterWrapper">
    @* AQUI SE INCLUIYE EL FOOTER pero debe ser desde SHARED *@
    <div class="POBOFooterLogos">
        <img src="~/Content/Images/logoPublicarBN.png" />
    </div>
    <div class="POBOFooterLegal">
        <span>©2014 Publicar SAS. Todos los derechos reservados</span>
        <a href="#">Terminos y condiciones de uso</a>
    </div>
</div>


