@model BackOffice.Models.Customer.CustomerViewModel

@if (!Model.RenderScripts)
{
    <div>
        @if (Model.RelatedProjectConfig.RelatedProjectProvider.RelatedEvaluationItem != null)
        {
            foreach (var item in Model.RelatedProjectConfig.RelatedProjectProvider.RelatedEvaluationItem)
            {
                if (item.ItemType.ItemId == (int)BackOffice.Models.General.enumEvaluationCriteriaType.EC_Experiences)
                {
                    <div>
                        <label>Formulario de experiencias</label>
                        <ul>
                            <li>

                            </li>
                        </ul>
                    </div>
                }
                else if (item.ItemType.ItemId == (int)BackOffice.Models.General.enumEvaluationCriteriaType.EC_Rules)
                {
                    <div>
                        <label>Formulario de normas</label>
                        <ul>
                            <li>

                            </li>
                        </ul>
                    </div>
                }
                else if (item.ItemType.ItemId == (int)BackOffice.Models.General.enumEvaluationCriteriaType.EC_LTIF)
                {
                    <div>
                        <label>Formulario de LTIF</label>
                        <ul>
                            <li>

                            </li>
                        </ul>
                    </div>
                }
                else if (item.ItemType.ItemId == (int)BackOffice.Models.General.enumEvaluationCriteriaType.EC_HealtyPolitic)
                {
                    <div>
                        <label>Formulario de salud, medio ambiente y seguridad</label>
                        <ul>
                            <li>

                            </li>
                        </ul>
                    </div>
                }
                else if (item.ItemType.ItemId == (int)BackOffice.Models.General.enumEvaluationCriteriaType.EC_BalanceSheet)
                {
                   <div>
                       <label>Formulario de balances</label>
                       <ul>
                           <li>

                           </li>
                       </ul>
                   </div>
                }
                else if (item.ItemType.ItemId == (int)BackOffice.Models.General.enumEvaluationCriteriaType.EC_ChaimberOfCommerce)
                {
                    <div>
                        <label>Formulario de camara de comercio</label>
                        <ul>
                            <li>

                            </li>
                        </ul>
                    </div>
                }
                else if (item.ItemType.ItemId == (int)BackOffice.Models.General.enumEvaluationCriteriaType.EC_RUT)
                {
                    <div>
                        <label>Formulario de registro único tributario</label>
                        <ul>
                            <li>

                            </li>
                        </ul>
                    </div>
                }
                else if (item.ItemType.ItemId == (int)BackOffice.Models.General.enumEvaluationCriteriaType.EC_SARLAFT)
                {
                    <div>
                        <label>Formulario de SARLAFT</label>
                        <ul>
                            <li>

                            </li>
                        </ul>
                    </div>
                }
            }
        }
    </div>
}


