@model List<ProveedoresOnLine.Company.Models.Util.GenericItemModel>

@if (Model != null)
{
    <select>
        <option id="0">Seleccione una opción</option>
        @foreach (var item in Model.Where(x => x.ItemType.CatalogId == 1404))
        {
            <option id="@item.ItemId">@item.ItemName</option>
        }
    </select>
} 