@model BackOffice.Models.Provider.ProviderViewModel

@{
    ViewBag.Title = "Aditional Document";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Model.RenderScripts = false;
    Model.GridToSave = "divGridAditionalDocument";
}

@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POBOProviderWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POBOProviderSideMenuWrapper">
        @Html.Partial(MVC.Shared.Views._P_ProviderMenu, Model)
    </div>
    <div class="POBOProviderContentWrapper">
        <div id="POBOProviderUpsertForm">
            <label class="POBOSectionTitles">Documentación Adicional</label>
            @{
                Model.IsForm = false;
                Html.RenderPartial(MVC.Shared.Views._P_ProviderActions, Model);
            }
            <div id="loading"></div>
            <div id="divGridAditionalDocument"></div>
            <br />
            @{
                Model.IsForm = false;
                Html.RenderPartial(MVC.Shared.Views._P_ProviderActions, Model);
            }
        </div>
    </div>
</div>

<!--templates-->
<div style="display:none;">

    <div id="divGridAditionalDocument_ShortcutToolTipTemplate">
        <img class="divGrid_kbtooltip" src="@Url.Content(BackOffice.Models.General.InternalSettings.Instance[BackOffice.Models.General.Constants.C_Settings_InfoTooltip].Value)" title=" Nuevo (alt+shift+n) -  Guardar (alt+shift+g) - Descartar (alt+shift+d) " />
    </div>

    <div id="divGridAditionalDocument_ViewEnablesTemplate">
        <label class="POBOProviderGridVerSoloTrue">Ver solo los habilitados</label>
        <input class="POBOProviderGridEnableContact" id="divGridAditionalDocument_ViewEnable" type="checkbox" checked="checked" />
    </div>

    <div id="divGridAditionalDocument_NoFile">
        <div>
            <span>Seleccione un archivo</span>
        </div>
    </div>
    <div id="divGridAditionalDocument_File">
        <div>
            <a target="_blank" href="${AD_File}">Ver archivo</a>
        </div>
    </div>
</div>

@{
    Model.RenderScripts = true;
}

@section inlinescripts{

    @Html.Partial(MVC.Shared.Views._P_ProviderMenu, Model);

    <script type="text/javascript">
        $(document).ready(function () {

            Provider_AditionalDocumentObject.Init({
                ObjectId: 'divGridAditionalDocument',
                ProviderPublicId: '@Model.RelatedProvider.RelatedCompany.CompanyPublicId',
            });

            Provider_AditionalDocumentObject.RenderAsync();

        });
    </script>
}
