@model BackOffice.Models.Provider.ProviderViewModel

@{
    ViewBag.Title = "Camara de Comercio";
    Layout = MVC.Shared.Views._Layout;

    Model.RenderScripts = false;
}

@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POBOProviderWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POBOProviderSideMenuWrapper">
        @Html.Partial(MVC.Shared.Views._P_ProviderMenu, Model)
    </div>
    <div class="POBOProviderContentWrapper">
        <div id="divGridCompanyContact"></div>
    </div>
</div>

@{
    Model.RenderScripts = true;
}

@section inlinescripts
{
    @Html.Partial(MVC.Shared.Views._P_ProviderMenu, Model)

    @{
        string oGridData = string.Empty;
        if (Model.RelatedProvider != null &&
            Model.RelatedProvider.RelatedCompany != null &&
            Model.RelatedProvider.RelatedCompany.RelatedContact != null &&
            Model.RelatedProvider.RelatedCompany.RelatedContact.Count > 0)
        {
            oGridData = (new System.Web.Script.Serialization.JavaScriptSerializer()).
                Serialize(Model.RelatedProvider.RelatedCompany.RelatedContact.
                Where(x => x.ItemType.ItemId == (int)BackOffice.Models.General.enumContactType.CompanyContact).
                Select(x => new
                {
                    //ContactId = x.
                }).ToList());
        }
    }

    <script type="text/javascript">
        var vGridData = @(Html.Raw(oGridData));
        $(document).ready(function () {
            Provider_CompanyContactObject({
                ObjectId: 'divGridCompanyContact',
                GridData: vGridData,
            });

        });
    </script>
}
