@model BackOffice.Models.Provider.ProviderViewModel

@{
    ViewBag.Title = "Camara de Comercio";
    Layout = MVC.Shared.Views._Layout;

    Model.RenderScripts = false;
}

@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POBOProviderWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POBOProviderSideMenuWrapper">
        @Html.Partial(MVC.Shared.Views._P_ProviderMenu, Model)
    </div>
    
    <form action="/" method="post">
        <ul>
            <li>
                <label>Fecha de Constitución</label>  
                <input type="date"  name="ConstitutionDate" value="" />
            </li>
            <li>
                <label>Fecha de Vigencia</label>
                <input type="date" name="ValidityDate" value="" />
            </li> 
            <li>
                <label>Departamento</label>
                <select>
                    <option id="StateId" value="value">text</option>
                </select>                
            </li> 
            <li>
                <label>Ciudad</label>
                <select>
                    <option id="CityId" value="value">text</option>
                </select>
            </li> 
        </ul>

    </form>

    </div>

@{
    Model.RenderScripts = true;
}

@section inlinescripts
{
    @Html.Partial(MVC.Shared.Views._P_ProviderMenu, Model)
}
