@model BackOffice.Models.Provider.ProviderViewModel

@{
    ViewBag.Title = "Camara de Comercio";
    Layout = MVC.Shared.Views._Layout;

    Model.RenderScripts = false;
}

@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POBOProviderWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POBOProviderSideMenuWrapper">
        @Html.Partial(MVC.Shared.Views._P_ProviderMenu, Model)
    </div>

</div>

<div class="POBOProviderContentWrapper">
    <form class="POBOProviderUpsertForm" action="@(Url.Action(MVC.Provider.ActionNames.LIChaimberOfCommerceUpsert, MVC.Provider.Name))"method="post">
        <ul>
            <li>
                <label>Fecha de Constitución</label>
                <input type="date" name="ConstitutionDate" value="" />
            </li>
            <li>
                <label>Fecha de Vigencia</label>
                <input type="date" name="ValidityDate" value="" />
            </li>
            <li>
                <label>Departamento</label>
                <select name="State">
                    <option value="value"></option>
                </select>
            </li>
            <li>
                <label>Ciudad de Inscripción</label>
                <select name="City">
                    <option value="value"></option>
                </select>
            </li>
            <li>
                <label>Número de Matricula</label>
                <input type="text" name="InscriptionNumber" id="InscriptionNumberId" value="" />
            </li>
            <li>
                <label>Certificado de Existencia y Representación Legal</label>
                <input type="text" name="RepresentantLegalPerson" id="RepresentantLegalPersonId" value="" />
            </li>
            <li>
                <label>Fecha de Expedición del Certificado</label>
                <input type="Date" name="ExpeditionCertificatedDate" id="ExpeditionCertificatedDateId" value="" />
            </li>
            <li>
                <label>Objeto Social</label>
                <input type="Text" name="SocialObject" id="SocialObjectId" value="" />
            </li>
        </ul>
        <div style="display:none">
            <input type="hidden" name="UpsertAction" id="UpsertAction" value="true" />
            <input type="hidden" name="StepAction" id="StepAction" value="" />
        </div>
        @{
            Model.IsForm = true;
            Html.RenderPartial(MVC.Shared.Views._P_ProviderActions, Model);
        }
    </form>
</div>



@{
    Model.RenderScripts = true;
}

@section inlinescripts
{
    @Html.Partial(MVC.Shared.Views._P_ProviderMenu, Model)
}
