@model BackOffice.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Politicas de Seguridad";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Model.RenderScripts = false;
}

@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POBOProviderWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POBOProviderSideMenuWrapper">
        @Html.Partial(MVC.Shared.Views._P_ProviderMenu, Model)
    </div>
    <div class="POBOProviderContentWrapper">
        <div id="divRiskPoliciesContent">
            <ul>
                <li>
                    <label>Sistema de Riesgos: </label>
                    <select id="listARL">
                        <option value="0">Seleccione una ARL</option>
                    </select>
                </li>
                <li>
                    <label>Calificación de Riesgo ARL</label>
                    <input type="text" value="" />
                </li>
                <li>
                    <label>Afiliación ARL</label>
                    <input type="file" />
                </li>
                <li>
                    <label>Certificado accidentalidad ARL</label>
                    <input type="file" />
                </li>
                <li>
                    <label>Certificados de Accidentalidad</label>
                    <div id="divGridRiskPolicies"></div>
                </li>
                <li>
                    <label>Reporte LTIF</label>
                    <ul id="ReportLITF">
                        <li id="F1">
                            <label>Fatalidades + Accidentes Incapacitantes</label>
                            <hr />
                            <label>Horas hombre trabajadas</label>
                        </li>
                        <li id="F2">
                            <label>* 1'000.000</label>
                        </li>
                        <li id="F3">
                            <label>Resultado LTIF</label>
                            <label>AÑOS </label>
                        </li>
                    </ul>
                </li>
            </ul>




        </div>
    </div>
</div>

@{
    Model.RenderScripts = true;
}

@section inlinescripts{

    @Html.Partial(MVC.Shared.Views._P_ProviderMenu, Model)

}