<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <connectionStrings>
    <add name="POL_CompanyConnection" connectionString="Data Source=devproveedoresonline.c21n120xwlou.us-east-1.rds.amazonaws.com;Initial Catalog=005_ProveedoresOnLine;User Id=ProveedoresUser;Password=gerEdit!.$" />
    <add name="POL_CompanyProviderConnection" connectionString="Data Source=devproveedoresonline.c21n120xwlou.us-east-1.rds.amazonaws.com;Initial Catalog=005_ProveedoresOnLine;User Id=ProveedoresUser;Password=gerEdit!.$" />
    <add name="POL_CompanyCustomerConnection" connectionString="Data Source=devproveedoresonline.c21n120xwlou.us-east-1.rds.amazonaws.com;Initial Catalog=005_ProveedoresOnLine;User Id=ProveedoresUser;Password=gerEdit!.$" />
    <add name="POL_CompareConnection" connectionString="Data Source=devproveedoresonline.c21n120xwlou.us-east-1.rds.amazonaws.com;Initial Catalog=005_ProveedoresOnLine;User Id=ProveedoresUser;Password=gerEdit!.$" />
    <add name="POL_SurveyConnection" connectionString="Data Source=devproveedoresonline.c21n120xwlou.us-east-1.rds.amazonaws.com;Initial Catalog=005_ProveedoresOnLine;User Id=ProveedoresUser;Password=gerEdit!.$" />
    <add name="POL_ProjectConnection" connectionString="Data Source=devproveedoresonline.c21n120xwlou.us-east-1.rds.amazonaws.com;Initial Catalog=005_ProveedoresOnLine;User Id=ProveedoresUser;Password=gerEdit!.$" />
    <add name="MS_ClientConnection" connectionString="Data Source=devproveedoresonline.c21n120xwlou.us-east-1.rds.amazonaws.com;Initial Catalog=002_MessageModule;User Id=ProveedoresUser;Password=gerEdit!.$" />
    <add name="LogConnection" connectionString="Data Source=devproveedoresonline.c21n120xwlou.us-east-1.rds.amazonaws.com;Initial Catalog=003_LogModule;User Id=ProveedoresUser;Password=gerEdit!.$" />
  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="LogTimer" value="3000" />
    <add key="EnableSSL" value="true" />

    <add key="SettingsConfig" value="\\ProjectConfigFiles\ConfigFiles\ProveedoresOnLine\MarketPlace\Rsx-SettingsConfig.xml" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <location path="." inheritInChildApplications="false">
    <system.web>
      <customErrors mode="On" defaultRedirect="~/Error" />
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" maxRequestLength="102400" executionTimeout="120" />
      <sessionState mode="Custom" customProvider="AppFabricCacheSessionStoreProvider" timeout="120">
        <providers>
          <!--specify the named cache for session data-->
          <add name="AppFabricCacheSessionStoreProvider" type="Microsoft.Web.DistributedCache.DistributedCacheSessionStateStoreProvider, Microsoft.Web.DistributedCache" cacheName="ProveedoresOnLineSession" applicationName="ProveedoresOnLine" dataCacheClientName="default" useBlobMode="true" />
        </providers>
      </sessionState>
    </system.web>
    <dataCacheClients>
      <dataCacheClient name="default" isCompressionEnabled="true">
        <!-- cache host(s) -->
        <hosts>
          <host name="AppFabricServer" cachePort="22233" />
        </hosts>
        <securityProperties mode="None" protectionLevel="None" />
      </dataCacheClient>
    </dataCacheClients>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WS-InspektorSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WS-InspektorSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://wsinspektorssl.riskconsultingcolombia.com/wsinspektor.asmx"
        binding="basicHttpBinding" bindingConfiguration="WS-InspektorSoap"
        contract="WS_Consulting.WSInspektorSoap" name="WS-InspektorSoap" />
    </client>
  </system.serviceModel>
</configuration>
