/*********** ENCABEZADO DE GRILLAS ***********/
.k-grid-content {
    overflow-y:scroll;
    max-height:308px;
    height:auto !important;
}
#divGridBranch, #divGridDistributor{
     height: auto !important;
}
    /*.k-dirty{
        background-color: rgba(255, 131, 0, 0.21);
        border: medium none;
        height: 34px;
        margin: -6px -8px;
        padding: 0;
        position: absolute;
        vertical-align: top;
        width: 199px;
        z-index: 0;
    }*/