.POBOButtons, .POBOSearchButtons{
    background-color:#ff8300;    
    font-size:1.1em;
    letter-spacing:-0.5px;
    color:#fff;
}
.POBOButtons {
    padding:5px 30px;
}
.POBOSearchButtons {
    text-transform:uppercase;
    background-image:url();
    background-position:1px 1px;
    background-size:560px;
    padding:5px 31px 5px 10px;
    margin:0px 0px 0px -5px;
}
    .POBOButtons:hover, .POBOSearchButtons:hover{
        background-color:#ffb362;
        text-decoration:underline;
        color:#fff;
    }