/********** LISTADO DE PROVEEDORES O NUEVO PROVEEDOR **********/
.POBOPClientListWrapper {
        border: none;
    display: inline-block;
    height:auto;
    min-height:400px;
    margin: 0 0 0 6px;
    width: calc(100% - 317px);
}
            .POBOPClientListWrapper tr{
                cursor:pointer;
            }
                .POBOPClientListWrapper tr:hover {
                    background-color:#e4e4e4;
                }
.POBOProviderWrapper {
        border:none;
    height:auto;
    margin: 2px 0 0 2px;
    padding: 6px 0;
    position: relative;
    width: 99.8%;    
}
    .POBOProviderSideMenuWrapper {
            border-right:2px solid #ff8300;
        display:inline-block;
        width:auto;
        height:100%;
        padding:0 21px 0 11px;
        vertical-align:top;
        min-height:490px;
    }
/************ CALCULA EL ANCHO DE CONTENIDO HASTA 1024PX ************/
    .POBOProviderContentWrapper{
        border: medium none;
        display: inline-block;
        height: auto;
        margin:0px 0px 0px 9px;
        width:calc(100% - 305px);
}

/*Message*/

.message{
    position: absolute;
    left: 50%;
    display:none;
    width: 200px;
    margin-left: -160px;
    padding: 10px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 5px solid;
    border-top: 0px none;
    z-index: 9999;
    
    -moz-box-shadow: 0px 2px 5px rgba(0,0,0,.2);
    -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,.2);
    box-shadow: 00px 2px 5px rgba(0,0,0,.2);
}

.m_success {
    color: #333;
    background-color: #b9ec75;
    border-color: #e7f8ce;
    border-color: rgba(121,191,98,.5);
}

.m_error {
    color: #000;
    background-color: #ffc9c0;
    border-color: #af1900;
    border-color: rgba(226,31,0,.5);
}

.POBOPBuyersListWrapper {
        border: none;
    display:block;
    height: auto;
    margin: 10px auto 0px auto ;
    min-height: 400px;
    width: 95.2%;
}