.POBOProviderWrapper {
        border:none;
    height:auto;
    margin: 2px 0 0 2px;
    padding: 6px 0;
    position: relative;
    width: 99.8%;    
}
    .POBOProviderSideMenuWrapper {
            border-right:2px solid #ff8300;
        display:inline-block;
        width:auto;
        height:100%;
        padding:0 21px 0 11px;
        vertical-align:top;
        min-height:420px;
    }
    .POBOProviderContentWrapper{
        border: medium none;
        display: inline-block;
        height: auto;
        margin:0px 0px 0px 18px;
        width: 77%;
}
