/************* Iframe ADMIN *************/
.POBOAdminIframe {
    width:99.8%;
    border:1px solid #ececec;
    padding:0;
    margin:0px 0px 12px 0px;
    height:448px;
}
.AdminRolesBody {
    margin:0px !important;
}