.POBOPTopSearchBar {
    margin:10px auto;
    padding:13px 0px 13px 0px;
    background-color:#ffe6d5;
    display:block;
    width:99%; height:auto;
}
.POBOPTopSearchBar ul{
    margin:0px; padding:0px;
    text-align:left;
}
.POBOPTopSearchBar ul li, .POBOPTopSearchBar ul li a{
    display:inline-block;
    vertical-align:top;
}
.POBOPTopSearchBar ul li:nth-child(2), .POBOPTopSearchBar ul li:nth-child(3){
    position: absolute;
}
    .POBOPTopSearchBar ul li:nth-child(2) {
        right:225px;
    }
    .POBOPTopSearchBar ul li:nth-child(3) {
        right:41px;
    }
        .POBOTextField{
            border:1px solid #727276;
            background-color:#f9f9f9;
            padding:5px 10px 5px 10px;
            letter-spacing:-0.5px;
            width:440px;
            margin: 0px 0px 0px 32px;
        }
        .POBOTextField [placeholder=""] {
            padding:7px 10px 7px 10px;
        }