/*********** ENCABEZADO DE GRILLAS ***********/
.k-grid-content {
    overflow-y: scroll;
    max-height: 308px;
    height: auto !important;
}

#divGridBranch, #divGridDistributor {
    height: auto !important;
}
/*.k-dirty{
        background-color: rgba(255, 131, 0, 0.21);
        border: medium none;
        height: 34px;
        margin: -6px -8px;
        padding: 0;
        position: absolute;
        vertical-align: top;
        width: 199px;
        z-index: 0;
    }*/
/***** SUCURSAL PRINCIPAL *****/

.POBOMainBranch{
    /*border:1px solid red;*/
    display:block;
    width:52px; height:27px;
    background-repeat:no-repeat;
    background-image:url(http://devproveedoresonline.s3.amazonaws.com/BackOffice/Images/industryIconSmall.png);
    background-position:20px -2px;
    background-size:31px auto;
}

/********** ESAS SON LOS AUTOCOMPLETE COMPUESTOS DE ACTIVIDAD, NOMBRE, TIPO, GRUPO Y CATEGORIA ***********/
.POBOProviderCompoundAutocomplete {
    border-bottom: 1px solid #333;
    background-color: #f9f9f9;
    padding: 6px 5px 0px 5px !important;
    margin: 0px !important;
}
    .POBOProviderCompoundAutocomplete:hover {
        background-color: #e6e6e6;
    }
    .POBOProviderCompoundAutocomplete label {
        border: none;
        font-size: 0.9em;
        line-height: 1em;
        width: 100%;
        padding:2px 0px 4px 0px !important;
        margin: 0px !important;
        color: #666;
        font-weight: normal;
        display:block;
    }
        .POBOProviderCompoundAutocomplete label span {
            border: none;
            display: block;
            font-size: 1em;
            line-height: 1.1em;
            letter-spacing: 0px;
            padding: 0px !important;
            margin: 0px !important;
        }
/********** ESTO PINTA EL TOOL TIP **********/
.divGrid_kbtooltip
{
    margin: 0px 0px 1px 10px;
    width: 22px;
    height: auto;
    cursor: pointer;
}
/*****PLACEHOLDER******/
label.PlaceHolder {
    color: rgb(166, 166, 166);
    font-size: 0.9em;
    font-weight:normal;
}

/*******DIALOGS********/
.StatusDialog {
    width: 400px;
}
    .StatusDialog label {
        font-size: 1.08em !important;
        margin: 0px !important;
    }
    .StatusDialog select {
        width: 100%;
    }
    .StatusDialog textarea {
        width: 100%;
        margin: 0 0 6px;
    }
.ListContent {
    position: relative;
    height: 110px !important;
    overflow: scroll;
    overflow-x: hidden;
    margin: 2px 0px 8px 0px;
    border: 1px solid rgb(199, 199, 199);
}
.ContentTracking {
    position: relative;
}
.CompanyList{
    width:100%;
}
.CompanyList, .Company {
    display: inline-block;
    margin:0px;
    padding:0px;
}
.Company {
    font-size: 0.88em;
    color:#666;
}
.CompanyCheck {
    display: inline-block;
    margin: 0px 5px;
    text-align: center;
    width: auto;
}
/********** ESTILOS DEl moduLO DE EVALUACIONES *********/
/***** BUSQUEDA DE EVALUACION *****/

.POBOSurveySearchInput{
    border:1px solid red;
    display:block;
}
