.POBOButtons, .POBOSearchButtons{
    background-color:#ff8300;    
    font-size:1.1em;
    letter-spacing:-0.5px;
    color:#fff;
}
.POBOButtons {
    padding:5px 30px;
}
.POBOSearchButtons {
    text-transform:uppercase;
    background-image:url(../../Images/POBOsprite.png);
    background-position:-246px 1px;
    background-size:522px auto;
    background-repeat:no-repeat;
    padding:5px 31px 5px 10px;
    margin:0px 0px 0px -5px;
}
    .POBOButtons:hover, .POBOSearchButtons:hover{
        background-color:#ffb362;
        text-decoration:underline;
        color:#fff;
    }

/************ BOTONES DE ACCIONES DEL FORMULARIO ************/

.POBOProviderActions{
    background-color: #fff;
    border: 1px solid blue;
    display: block;
    height: auto;
    margin: 0 !important;
    padding: 0;
    position:fixed;
    bottom:6px;
    left:6px;
    width:69.4%;
}