.POBOButtons, .POBOSearchButtons{
    background-color:#ff8300;    
    font-size:1.1em;
    letter-spacing:-0.5px;
    color:#fff;
}
.POBOButtons {
    display: block;
    margin: 0;
    padding:5px 30px;
}
.POBOSearchButtons {
    text-transform:uppercase;
    padding:5px 8px 4px 10px;
    margin:0px 0px 0px -5px;
    line-height:12px;
}
    .POBOSearchButtonsLupita {
            border:none;
        background-image:url(../../Images/POBOsprite.png);
        background-position:-347px -5px;
        background-size:522px auto;
        background-repeat:no-repeat;
        display:inline-block;
        width:24px; height:23px;
        vertical-align:text-bottom;

    }
    .POBOButtons:hover, .POBOSearchButtons:hover{
        background-color:#ffb362;
        text-decoration:underline;
        color:#fff;
    }
/************* BOTONES SIGUIENTE ANTERIOR *************/
    .POBOProgressButtons, .POBOProgressButtons:hover{
        font-size:1.1em;
        letter-spacing:-0.5px;
        color:#4d4d4d;
        border:1px solid #ff8300;
        padding:5px 30px;
        margin:0px 0px 0px 8px;
    }
        .POBOProgressButtons {
            background-color:#f9f9f9;
            display:inline-block;
        }
            .POBOProgressButtons:hover {
                background-color: #e6e6e6;
            }        
.POBOProviderActions{
    background-color: #fff;
        border:none;
    display: block;
    height: 34px;
    margin:0px 0 12px !important;
    padding: 0;
    width:auto !important;
}
.POBOProviderActions li {
    margin:0 !important;
    display: inline-block;
    list-style-type: none;
    width:auto !important;
}
    li.POBOButtonsSaveProvider {
        float: right;
        margin:0px 1% 0px 0px !important;
    }
    li.POBOButtonsSaveProvider a.POBOButtons{
        padding:6px 30px !important;
    }
/************* ESTOS SON LOS BOTONES E InPUTS DE LAS GRILLAS ***************/
/********************** BOTON GUARDAR *********************/
.k-grid-save-changes {
    background-color:#ff8300 !important;
    border-radius:2px !important;
    border:1px solid #727276 !important;
    background-image:none !important;
    color:#fff !important;
}
    .k-grid-save-changes:hover {
        background-color:#ff8300 !important;
        border-radius:1.5px !important;
        border:1px solid #666 !important;
        background-image:none !important;
        color:#fff !important;
    }
/********* BOTON PARA LA CARGA DE ARCHIVOS DENTRO DE LA GRILLA *********/
.k-grid tbody .k-button{
        background-color:#f9f9f9;        
        font-size:1.1em;
        letter-spacing:-0.5px;
        color:#4d4d4d;
        border:1px solid #ff8300;
        padding: 0 12px;
        margin:0px 0px 0px 8px;
        border-radius: 1px;
        background-image:none;
}
    .k-grid tbody .k-button:hover,
    .k-grid tbody .k-button:active{
        background-color: #e6e6e6;
        background-image:none;
    }
    .k-upload {
        background-color: #fff;
        border-radius: 1px;
        padding: 0 0 4px;
        border-left:0!important;
        border-right:0!important;
    }
    .k-grid, .k-edit-cell {
        padding:0px !important;
        margin: 4px 0 12px 7px !important;
    }
    .k-file, .k-file-error{
        width:95% !important;
    }
        .k-filename {
            font-size: 0.8em;
        }
        button.k-button, .k-button-bare{
            min-width:0px !important;
        }
        .k-button-bare, .k-upload-action {
            border:none !important;
        }

.k-upload-status .k-button, .k-upload-status .k-warning {
    vertical-align: middle !important;
}
/*********** CHECK PARA VER SOLO LOS REGISTROS VISIBES EN MARKET PLACE ***********/

.POBOProviderGridVerSoloTrue,
#EnableContact {
    display:inline-block;
    float:right;
    width:auto; height:auto;
    font-size:0.95em; font-weight:normal; line-height:normal;
    margin: 4px 0px 0px 0px;
    padding: 0 15px 0 10px;
    color:darkred;
}
    #EnableContact {
        height:23px;
    }