/*********fonts************/
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../../../fonts/OpenSans-Regular.eot');
    src: url('../../../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../../../fonts/OpenSans-Regular.woff') format('woff'), url('../../../fonts/OpenSans-Regular.ttf') format('truetype');

}
p, h1, h2, h3, h4, h5, h6, a, label, title, input, span{
    font-family: 'OpenSans-Regular', Fallback, sans-serif;
}
/*********Body Content************/
.POBORenderHeader, .POBORenderBody, .POBORenderFooter{
 text-align:left;
}
div#POBORenderFooter {
    width:100%;
    height:400px;
}
/* RENDER BODY */
.POBOPageBody{
    width:100%;
    margin:0px;
    height:610px;
    min-width:1024px;
        border:none;
    background-image:url('/Content/Images/POBOBackground3Small.jpg');
    background-size:100% auto;
    background-repeat:no-repeat;
    background-position:0px 0px;
}
.POBOLogInHeader {
    text-align:left;
    height:88px;
    width:100%; min-width:1024px;
    background-color:rgba(225, 225, 225, 0.8);
}
    .POBOLogInHeader img {
        height: auto;
        left: 14px;
        position: relative;
        top: 4px;
        width:235px;
    }
    .POBOLogInFormWrapper {
        height:auto;
        background-color:rgba(255, 255, 255, 0.7);
        padding:56px 18px;
        width: 346px;
        margin:8% 0 8% 62%;
    }
        .POBOLogInFormWrapper label{
            font-size: 2.2em;
            font-weight: normal;
            letter-spacing: -1.6px;
            line-height: 30px;
            color:#0066ae;
        }
        .POBOLogInFormWrapper hr{}
        .POBOLogInFormWrapper label:nth-child(3){
            color: #666;
            font-size: 1.5em;
            letter-spacing: -1.4px;

        }
        .POBOLogInFormWrapper a, .POBOLogInFormWrapper img{
            height:auto;
            display:block;
            margin: 5px auto 0;
            width:58px;

        }



