/************ PROVIDER UPSERT FORM *********/
.POBOPCompulsoryFields {
    color: #d40000;
    font-size: 0.9em;
    letter-spacing: -0.7px; 
}
.POBOProviderUpsertForm ul, .POBOProviderUpsertForm ul li,
.POBOPCompulsoryFields{
    margin:4px 0px 0px 8px;
}
.POBOProviderUpsertForm ul li{
    border: 1px solid red;
    display: inline-block;
    height: auto;
    vertical-align: top;
    width:auto;
}
    .POBOProviderUpsertForm ul li label{
        color: #4d4d4d;
    font-size: 1em;
    font-weight:normal;
    letter-spacing: -0.7px;
    margin:0px;
    }
.POBOProviderUpsertForm ul li select, .POBOProviderUpsertForm ul li input {
    background-color: #f9f9f9;
    border: 1px solid #727276;
    color: #999;
    height: 36px;
    margin: 2px 0 0;
    padding: 0 0 0 5px;
    width:400px;
}
    .POBOProviderUpsertForm ul li input[type="checkbox"] {
        margin:0px 0 0;
        padding: 0 0 0 0px;
        width:auto;
        vertical-align:top;
    }
