.POBOProviderWrapper {
    border: 1px solid green;
    height: 700px;
    margin: 2px 0 0 2px;
    padding: 6px 0;
    position: relative;
    width: 99.8%;
}
    .POBOProviderSideMenuWrapper {
            border-right:2px solid #ff8300;
        display:inline-block;
        width:auto;
        height:100%;
        padding:0 17px 0 0;
    }
    .POBOProviderContentWrapper{
        border:1px solid green;
        float:right;
        width:77%;
}
#ReportLITF {
    border: 1px solid #ff8300;
    width: 50%;
    text-align: center;
    padding: 15px 0px 15px 0px;
}

    #ReportLITF li {
        width: 45%;
        display: inline-block;
        vertical-align: middle;
        margin: 0 -2px 0 -2px;
    }

        #ReportLITF li hr {
            margin: 0 !important;
            width: 100%;
        }

li#F2 {
    width: 15%;
}

li#F3 {
    margin-top: 15px;
    width: 80%;
}

    li#F3 label {
        display: block;
    }
