/*****************UserInfo************************/
.POBOHeaderWrapper {
    display:block;
    width: 100%;
    min-width:1024px;
    height: auto;
    margin: 0px;
    text-align: left;
    border-bottom:2px solid #ff8300;
}
/****************Logo*******************/
.POBOLogo{
    display: inline-block;
    width:222px;
    height: 72px;
    vertical-align: top;
    margin:9px 0px 4px 14px;
    background-image:url(../../Images/POBOsprite.png);
    background-size:473px auto;
    background-position:-3px -43px;
    background-repeat:no-repeat;
        border:none;
}
/*************** USER MENU ***************/
.POBOMenusGrandWrapper {
        border:none;
    float: right;
    margin: 2px 0 0 2px;
    text-align: right;
}
.POBOUserMenu {
        border:none;
    width:auto; height:auto;
    display:block;
    padding:0px 8px 0px 0px;
}
    .POBOUserMenu img{
        width: 22px;
        height: 22px;
        border:0.7px solid #4d4d4d;
        vertical-align:top;
    }
    .POBOUserMenu label{
        line-height:12px;
        color:#666;
        font-weight:normal;
        vertical-align:top;
        margin: 5px 0 0;
    }
    .POBOUserMenu div{
        display:inline-block;
        width:22px; height:22px;
        background-image:url(../../Images/POBOsprite.png);
        background-size:470px auto;
        background-position:-245px -3px;
        background-repeat:no-repeat;
        vertical-align:top;
        margin: 0 0 0 6px;
    }
.POBOUserMenuOptions{
    background-color: #f5f5f5;
    border: 1px solid #ececec;
    height: auto;
    margin: 0;
    padding: 0 4px;
    position: absolute;
    right: 72px;
    top: 24px;
    width: auto;
    z-index: 5;
}
    .POBOUserMenuOptions ul{
        margin:0px !important;
        padding:0 !important;
    }
    .POBOUserMenuOptions ul li{
            border-top:1px solid #3f3f3f;
        display: block;
        margin:0px;
        text-align:left;
        min-width:140px;
    }
        .POBOUserMenuOptions ul li:first-child {
            border-top:none;
        }
        .POBOUserMenuOptions ul li:hover{
            background-color:#ececec;
            cursor:pointer;
        }
        .POBOUserMenuOptions ul li a,
        .POBOUserMenuOptions ul li a:hover{
            margin:0px 0px 0px 8px;
            color:#666;
            text-decoration:none;
        }
/*************** MAIN MENU *************/
.POBOMainMenuWrapper {
        border:none;
    height:auto;
    margin:18px 0px 0px 0px;
    display:block;
    width: auto;
    padding:0;
}
    .POBOMainMenuWrapper li{
        display:inline-block;
        padding:0px;
        text-align:center;            
            border:none;
        height:38px;
        vertical-align:top;
    }
    .POBOMainMenuWrapper li a{
            border:none;
        color: #666;
        display: inline-block;
        font-size: 1em;
        height: 28px;
        margin: 7px 0;
        padding: 0 5px;
        vertical-align: bottom;
        letter-spacing:-0.4px;
    }
        .POBOMainMenuWrapper li a:hover, .POBOMainMenuWrapper li a.selected{
            text-decoration:none;
            border-bottom:8px solid #ff8300;
        }
    li.spacers {
        border-left: 1px solid #727276;
        height: 36px;
        margin-top: 1px;
        width: 2px;
    }