/************* Iframe ADMIN *************/
.POBOAdminIframe {
    width:99.8%;
    border:1px solid #ececec;
    padding:0;
    margin:0px 0px 12px 0px;
    height:448px;
}
.AdminRolesBody {
    margin:0px !important;
}
/********* PANTALLA de LISTAS RESTRICTIVAS **********/
.POBOAdminRestrictiveList li label{}
ul.POBOAdminRestrictiveList > li > input[type="file"] {
        background-color: #f9f9f9 !important;
        border: 1px solid #727276 !important;
        color: #999 !important;
        height: 36px !important;
        margin: 7px 0 8px !important;
        padding: 0 !important;
        width: 100% !important;
    }
    .POBOAdminRestrictiveList  input[type="submit"]{
        background-color:#ff8300;
        color:#fff;
    }
.POBOAdminRestrictiveList a {
    border: 1px solid #727276;
    background-color:#f9f9f9;
    display: inline-block;
    font-size: 1.1em;
    height: auto;
    line-height: 1.1em;
    margin: 8px 0 2px;
    padding: 5px 4px;
    text-align: center;
    width:49.3%;
    border-radius:2px;
}