/******** ESTE ES EL MENU ESTE ES EL MENU ********/
.POBOProviderSideMenu {
        border:none;
    width:248px;
    letter-spacing: -1px;
}
    .POBOProviderSideMenu > ul > li.principalmenuselected > label, .POBOProviderSideMenu > ul > li > label:hover{
        background-image: none !important;
        background-color:#ff8300;
            border:none;
        border-radius: 1px;
        color: #fefefe;
        display: block;
        font-size: 1.1em;
        margin: 0;
        padding: 4px 0 6px 32px;
    }
    .POBOProviderSideMenu > ul > li > label{
        background-color: #fff;
        background-image: none !important;
        border: medium none;
        border-radius: 1px;
        color: #222;
        display: block !important;
        font-size: 1.1em !important;
        margin: 0 !important;
        padding: 4px 0 6px 32px !important;
    }
    .POBOProviderSideMenu > ul > li > label:hover {
        text-decoration:underline;
    }
        .POBOProviderSideMenu > ul > li > label > span {
            background-position: -104px -29px;
            background-size: 400px auto;
        }
/********* AQUI SE MUESTRA EL TAG DE ID DEL PROVEEDOR O COMPRADOR **********/
.POBOProviderTagWrapper{
    border-bottom: 1px solid #999;
    display: inline-block;
    height: auto;
    margin: 0px 0px 7px 0px;
    padding: 0 0 8px 5px;
    width:100%;
}
    .POBOProviderTagWrapper img {
            border:none;
        display: inline-block;
        height:auto;
        width:62px;
        margin:0px; padding:0px;
        vertical-align:top;
    }
    .POBOProviderTagWrapper div {
            border:none;
        display: inline-block;
        margin: 0px 0px 0px 4px;
        padding: 0;
        max-width: 173px;
        vertical-align:bottom;
    }
    .POBOProviderTagWrapper span {
        display:block;
        color:#666;
        margin: 0;
        padding: 0;
        font-size: 1.3em;
        line-height: 0.9em;
        width:1803
        px;
    }
        .POBOProviderTagWrapper div span:nth-child(2) {
            font-size:1em;
            line-height: 1em;
            margin:6px 0px 0px 0px;
        }
/********* AQUI INICIA EL SUBMENU ESTE ES EL SUBMENU *********/
    .POBOProviderSideSubMenu {
        padding:4px 0px 6px 24px !important;
        margin:0;
        border:none;
        height:auto !important;
    }
    .POBOProviderSideSubMenu > li{
            border:none;
        padding:0px;
    }
        .POBOProviderSideSubMenu > li:hover, .POBOProviderSideSubMenu > li.secundarymenuselected {
            background-color:#ff8300;
            cursor:pointer;
        }
        .POBOProviderSideSubMenu > li > a {
            font-size:0.9em;
            display:block;
            width:auto; height:auto;
                border:none;
            margin:0;
            padding: 5px 0 4px 7px;
        }
            .POBOProviderSideSubMenu > li > a:hover {
                text-decoration:underline;
                color:#fff;
            }
            li.secundarymenuselected > a {
                color:#fff;
                text-decoration:none;   
            }
