.POBOProviderWrapper {
        border:none;
    height: 700px;
    margin: 2px 0 0 2px;
    padding: 6px 0;
    position: relative;
    width: 99.8%;
}
    .POBOProviderSideMenuWrapper {
            border-right:2px solid #ff8300;
        display:inline-block;
        width:auto;
        height:100%;
        padding:0 17px;
    }
    .POBOProviderContentWrapper{
            border:none;
        float:right;
        width:77%;
}
