/*****************UserInfo************************/
.POBOHeaderWrapper {
    display:block;
    width: 100%;
    height: auto;
    margin: 0px;
    text-align: left;
    border-bottom:1.2px solid #ff8300;
}
/****************Logo*******************/
.POBOLogo{
    display: inline-block;
    width: 257px;
    height: 85px;
    vertical-align: top;
    margin: 15px 0px 8px 14px;
    background-image:url(../../Images/POBOsprite.png);
    background-size:546px auto;
    background-position:-3px -50px;
    background-repeat:no-repeat;
    border:1px solid purple;
}
/*************** USER MENU ***************/
.POBOUserMenu {
    float:right;
    border:1px solid red;
    width:auto; height:auto;
    display:block;
    padding:0px 8px 0px 0px;
}
    .POBOUserMenu img{
        width: 22px;
        height: 22px;
        border:0.7px solid #4d4d4d;
        vertical-align:top;
    }
    .POBOUserMenu label{
        line-height:12px;
        color:#666;
        font-weight:normal;
        vertical-align:top;
        margin: 5px 0 0;
    }
    .POBOUserMenu div{
        display:inline-block;
        width:22px; height:22px;
        background-image:url(../../Images/POBOsprite.png);
        background-size:470px auto;
        background-position:-245px -3px;
        background-repeat:no-repeat;
        vertical-align:top;
        margin: 0 0 0 6px;
    }
.POBOUserMenuOptions{
    background-color: #ececec;
        border: 1px solid #666;
    height: 26px;
    margin: 0;
    position: absolute;
    right: 31px;
    top: 25px;
    width: 150px;  
}
    .POBOUserMenuOptions ul li, .POBOUserMenuOptions ul li a{
            border:none;
        display: block;
        height: 26px;
        width: 150px;
    }
        .POBOUserMenuOptions ul li{
            margin: 0 -41px;            
        }            
            .POBOUserMenuOptions ul li a {
                margin: 0px; text-indent:12px;
                line-height:22px;
            }
/*************** MAIN MENU *************/
.POBOMainMenuWrapper {
    border: 1px solid green;
    height: 40px;
    margin: 0;
    position: absolute;
    right: 0;
    top: 64px;
    width: auto;
}
    .POBOMainMenuWrapper li{
        display:inline-block;
    }











        .LogoHeader a img {
            width: 300px;
            height: auto;
        }

.openDialog {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 16px solid #FF7E35;
    padding: 0 !important;
    display: inline-block !important;
    vertical-align: top;
    margin: 3px 30px 0px 5px;
}

#divUserMenu {
    border: 1px solid grey;
    width: 11%;
    height: auto;
    position: absolute;
    z-index: 20;
    background-color: #fff;
    right: 30px;
    text-align: center;
}

    #divUserMenu ul {
        padding: 0;
        margin: 0;
    }

        #divUserMenu ul li {
            border: none;
            border-bottom: 1px solid #333;
            height: auto;
            cursor: pointer;
            list-style: none;
        }

            #divUserMenu ul li a {
                font-size: 13px;
                line-height: 33px;
                color: #4d4d4d;
                display: block;
                margin-left: 5px;
            }



/*****************Title***********************
/*.MDTitle {
    display: inline-block;
    height: auto;
    margin: 26px auto 0 10%;
    text-align: center;
    width: auto;
}

    .MDTitle label {
        font-size: 25px;
        font-weight: normal;
        margin: 0px;
        line-height: 25px;
        letter-spacing: -0.5px;
        color: #ff8300;
    }*/

/*****************MainMenu************************/
/*.MainMenu {
    display: inline-block;
    width: 100%;
    margin: 0px 0px 14px 0px;
}

.MenuButtons {
    float: right;
    border: none;
    background-color: #fff;
    text-align: right;
    margin: -35px 0px 0px 0px;
    width: 100%;
}

    .MenuButtons li {
        border: 1px solid grey;
        display: inline-block;
        height: 44px;
        padding: 2px 6px;
        margin-left: -5px;
        vertical-align: top;
        text-align: center;
        cursor: pointer;
        background-color: #fff;
    }

        .MenuButtons li:hover,
        .MenuButtons li:active,
        .MenuButtons li.selected {
            border: 1px solid grey;
            display: inline-block;
            height: 48px;
            padding: 2px 6px;
            margin: -4px 0px 0px -5px;
            vertical-align: top;
            text-align: center;
            cursor: pointer;
            box-shadow: 2px 2px 2px;
            position: relative;
            z-index: 10;
        }*/

/*Provider*/
/*.MenuProvider {
    border-bottom: 4px solid #F5761A;
}*/
/*Customer*/
/*.MenuCustomer {
    border-bottom: 4px solid #2C67A9;
}*/
/*AdminRoles*/
/*MenuAdminRoles {
    border-bottom: 4px solid #848484;
}*/
