/************ PROVIDER UPSERT FORM *********/
.POBOPCompulsoryFields {
    color: #d40000;
    font-size: 0.9em;
    letter-spacing: -0.7px; 
}

.POBOSectionTitles {
    font-size: 1.5em;
    font-weight: normal;
    display: block;
    margin: 0px 0px 7px 8px;
    letter-spacing: -1px;
    color: #4d4d4d;
}

.POBOProviderUpsertForm ul li,
.POBOPCompulsoryFields {
    margin: 4px 0px 0px 8px;
    padding: 0;
}

.POBOProviderUpsertForm ul {
    margin: 0px;
}

    .POBOProviderUpsertForm ul li {
        border: none;
    display: inline-block;
    height: auto;
    vertical-align: top;
        width: 48.5%;
}

        .POBOProviderUpsertForm ul li label {
        color: #4d4d4d;
    font-size: 1em;
            font-weight: normal;
    letter-spacing: -0.7px;
            margin: 0px;
    }

a.POBOSmallCaption {
            color: #ff8400;
        font-size: 0.9em;
    font-weight: normal;
        letter-spacing: -0.7px;
    margin: 0px;
    display: block;
    }

/****** ESTOS SON LOS CAMPOS REBELDES DE CAMARA COMERCIO ********/

.POBOCamposProblematicos span.k-widget, 
.POBOCamposProblematicos span.k-autocomplete,
.POBOCamposProblematicos span.k-header,
.POBOCamposProblematicos span.k-state-default,
.POBOCamposProblematicos span.k-state-focused{
    background-color:#fff !important;
    border-radius:0px;
    border:none;
    margin:0;
    padding:0;
    box-shadow:none;
    width:99%;
    height:auto;
}
.POBOCamposProblematicos span > input.k-input {
    background-color: #f9f9f9 !important;
    border: 1px solid #727276 !important;
    color: #999 !important;
    height: 34px !important;
    margin: 2px 0 0 !important;
    padding: 0 0 0 5px !important;
    width: 99.6% !important;
    border-radius: 0px;
}
    #FileUploadForm,
    #FileUploadForm div:first-child    {
        border-radius:0px;
        height: 32px;
    }
        #FileUploadForm{
            border: 1px solid #727276;
            height: 34px !important;
        }
        #FileUploadForm div.k-dropzone {
            padding: 0;
        }
        #FileUploadForm input[type=file] {
            border-radius: 0px;
        }

/******* ESTILOS DE LOS CAMPOS ******/
.POBOProviderUpsertForm ul li select,
.POBOProviderUpsertForm ul li input,
.POBOProviderUpsertForm ul li input[type=file],
.POBOProviderUpsertForm ul li input[type=text]{
    background-color: #f9f9f9;
    border: 1px solid #727276;
    color: #999;
    height: 36px;
    margin: 2px 0 0;
    padding: 0 0 0 5px;
    width:100%;
}
.POBOProviderUpsertForm ul li select > option,
    .POBOProviderUpsertForm ul li select > option[selected=selected] {
        font-weight: normal;
    font-size: 0.9em;
}
    .POBOProviderUpsertForm ul li input[type=checkbox] {
        margin: 0px 0 0;
        padding: 0 0 0 0px;
        width: auto;
        vertical-align: top;
    }
/********* DETALLE PARA EL CAMPO HORA DENTRO DE LA GRILLA *********/
.POBOProviderContentWrapper span.k-picker-wrap {
    padding-right: 2em;
}
.POBOProviderContentWrapper span.k-select{
    width: 2em !important;
}
.POBOProviderContentWrapper span.k-i-clock{
    display:none;
}
/************ SISTEMA DE RIESGOS LABORALES FORM *********/
.POBOHSEQWrapper, .POBOCamaraComercioSociosWrapper{padding:0 !important;}
.POBOProviderUpsertForm li.POBOHSEQ, .POBOProviderUpsertForm li.POBOCamaraComercioSocios {
    text-align:left;
    display:block;
    width:98.2%;
    margin:10px 8px;
        border:none;
}

#ReportLITF {
        border-bottom:1px solid #ff8400;
        border-top:1px solid #ff8400;
    width: auto;
    text-align: center;
    padding: 15px 0px 15px 0px;
    /*margin-bottom: 15px;*/
}

    #ReportLITF li {
        width: auto;
        display: inline-block;
        vertical-align: middle;
        margin: 0 -2px 0 -2px;
    }

        #ReportLITF li hr {
            margin: 0 !important;
            width: 100%;
        }

    li#F2 label {
    font-size: 1.2em;
    margin: 0px 8px;
    }

li#F3, li#F3 label {
    display: block;
    width: 192px;
    text-align: left;
    padding: 1px 4px;
}

li#F3 {
    margin:0px 0px 0px 58.7%;
    background-color:#ececec;
}
