@model DocumentManagement.Models.Customer.UpserCustomerModel

<div>
    <ul>
        <li>
            <a href="@Url.Action(MVC.Customer.ActionNames.UpsertCustomer, MVC.Customer.Name, new { CustomerPublicId = Model.RelatedCustomer.CustomerPublicId })">Información básica</a>
        </li>
        <li>
            <a href="@Url.Action(MVC.Customer.ActionNames.UploadProvider, MVC.Customer.Name, new { CustomerPublicId = Model.RelatedCustomer.CustomerPublicId })">Cargar proveedores</a>
        </li>
        <li>
            <a href="@Url.Action(MVC.Customer.ActionNames.ListForm, MVC.Customer.Name, new { CustomerPublicId = Model.RelatedCustomer.CustomerPublicId })">Formularios</a>
        </li>
    </ul>
</div>
