<div class="MPMainWrapper">
    <div class="MPTextWrapper">
        <ul>
            <li>
                <a title="Términos legales" rel="nofollow" href="">Términos legales |</a>
            </li>
            <li>
                <a title="Condiciones y restricciones" rel="nofollow" href="">Condiciones y restricciones |</a>
            </li>
            <li>
                <a title="Preguntas frecuentes" rel="nofollow" href="">Preguntas frecuentes |</a>
            </li>
            <li>
                <a title="Habeas Data" rel="nofollow" href="">Habeas Data</a>
            </li>
        </ul>
    </div>
</div>