<div class="DMMainWrapper">
    <a title="" href="">
        <img src="~/Content/Images/LogoPublicarFooter.png" alt="Publicar Publicidad Multimedia" />
    </a>
    <div class="DMTextWrapper">
        <ul>
            <li>
                <a title="Términos legales" rel="nofollow" href="">Términos legales</a>
            </li>
            <li><span> | </span></li>
            <li>
                <a title="Condiciones y restricciones" rel="nofollow" href=""> Condiciones y restricciones</a>
            </li>
            <li><span> | </span></li>
            <li>
                <a title="Preguntas frecuentes" rel="nofollow" href=""> Preguntas frecuentes</a>
            </li>
            <li><span> | </span></li>
            <li>
                <a title="Habeas Data" rel="nofollow" href=""> Habeas Data</a>
            </li>
        </ul>
    </div>
</div>