<div>
    
    <!--User Info-->
    <div class="UserInfo">
        @Html.Partial(MVC.Shared.Views._L_UserInfo)
    </div>
    <div class="MainMenu">
        <!--Logo-->
        <div class="LogoHeader">
            <img src="" />
        </div>
        <!--Titulo-->
        <div class="MDTitle">
            <label>Módulo de gestión documental</label>
        </div>       
        <!--Principal menu-->
        @Html.Partial(MVC.Shared.Views._L_PrincipalMenu)
    </div>
</div>
