<div>
    <!--Logo-->
    <div><img src="" /></div>
    <label>Módulo de gestion documental</label>
    <!--User Info-->
    @Html.Partial(MVC.Shared.Views._L_UserInfo)
    <!--Principal menu-->
    @Html.Partial(MVC.Shared.Views._L_PrincipalMenu)
</div>
