<div>    
    <!--User Info-->
    <div class="UserInfo">
        @Html.Partial(MVC.Shared.Views._L_UserInfo)
    </div>
    <div class="MainMenu">
        <!--Logo-->
        <div class="LogoHeader">
            <a href="" title="Proveedores Online">
                <img src="~/Content/Images/LogoPOHeader.png" alt="Proveedores Online" />
            </a>
        </div>
        <!--Titulo-->
        <div class="MDTitle">
            <label>Módulo de gestión documental</label>
        </div>       
        <!--Principal menu-->
        @Html.Partial(MVC.Shared.Views._L_PrincipalMenu)
    </div>
</div>
