@if (HttpContext.Current.Request.RawUrl.ToString().Contains("/Customer"))
{
    <ul class="MenuButtons MenuCustomer">
        <li class="MenuButtons_Provider">
            <a href="@Url.Action(MVC.Provider.ActionNames.Index,MVC.Provider.Name)">Proveedores</a>
        </li>
        <li class="MenuButtons_Customer selected">
            <a href="@Url.Action(MVC.Customer.ActionNames.ListCustomer, MVC.Customer.Name)">Compradores</a>
        </li>
        @*<li class="MenuButtons_BO">
                <a href="">Ir a Backoffice</a>
            </li>*@
    </ul>
}
else
{
    <ul class="MenuButtons MenuProvider">
        <li class="MenuButtons_Provider selected">
            <a href="@Url.Action(MVC.Provider.ActionNames.Index,MVC.Provider.Name)">Proveedores</a>
        </li>
        <li class="MenuButtons_Customer">
            <a href="@Url.Action(MVC.Customer.ActionNames.ListCustomer, MVC.Customer.Name)">Compradores</a>
        </li>
        @*<li class="MenuButtons_BO">
                <a href="">Ir a Backoffice</a>
            </li>*@
    </ul>
}