<ul class="MenuButtoms">
    -<li class="MenuButtoms_Provider selected">
        <a href="@Url.Action(MVC.Provider.ActionNames.Index,MVC.Provider.Name)">Proveedores</a>
    </li>
    <li class="MenuButtoms_Customer">
        <a href="@Url.Action(MVC.Customer.ActionNames.Index,MVC.Customer.Name)">Clientes</a>
    </li>
    <li class="MenuButtoms_BO">
        <a href="">Ir a Backoffice</a>
    </li>
</ul>