@model DocumentManagement.Models.Provider.ProviderFieldModel

@if (!Model.RenderScripts)
{
    <div>
        <!--File field-->
        <label>@Model.RealtedField.Name:</label>
        <input type="text" id="" name="" value="" />
    </div>
}

