@model DocumentManagement.Models.Provider.ProviderFormModel

<form action="" method="post">
    <ul>
        @foreach (var Item in Model.RealtedStep.RelatedField)
        {
            <li>
                @switch (Item.ProviderInfoType.ItemId)
                {

                    default:
                        Html.RenderPartial(MVC.Shared.Views._P_FieldText,
                            new DocumentManagement.Models.Provider.ProviderFieldModel()
                            {
                                RealtedField = Item,
                                RealtedProviderInfo = Model.RealtedProvider.RelatedProviderInfo.
                                    Where(x => x.ProviderInfoType.ItemId == Item.ProviderInfoType.ItemId).
                                    ToList(),
                                ProviderOptions = Model.ProviderOptions,
                            });
                        break;
                }

            </li>
        }
    </ul>
</form>

