@model DocumentManagement.Models.Provider.ProviderFormModel

@if (!Model.RenderScripts)
{
    int? PreviewStep = Model.
        RealtedForm.
        RelatedStep.
        Where(x => x.Position < Model.RealtedStep.Position).
        OrderByDescending(x => x.Position).
        Select(x => (int?)x.StepId).
        DefaultIfEmpty(null).
        FirstOrDefault();

    int? NextStep = Model.
            RealtedForm.
            RelatedStep.
            Where(x => x.Position > Model.RealtedStep.Position).
            OrderBy(x => x.Position).
            Select(x => (int?)x.StepId).
            DefaultIfEmpty(null).
            FirstOrDefault();

    <ul class="DMFormNavigationWrapper">
        @if (PreviewStep != null)
        {
            <li><a class="DMButtonsPrev" href="javascript:PF_PostBackForm('FrmGenericStep', '@PreviewStep.ToString()')"><< Anterior / Back</a></li>
        }
        @if (NextStep != null)
        {
            <li><a class="DMButtonsNext" href="javascript:PF_PostBackForm('FrmGenericStep', '@NextStep.ToString()')">Siguiente / Next >></a></li>
        }
        <li class="DMButtonsSave">
            <a class="DMButtonsForm" href="javascript:PF_PostBackForm('FrmGenericStep', '')">Guardar / Save</a>
            &nbsp;

            @{
                if (DocumentManagement.Models.General.SessionModel.CurrentLoginUser != null)
                {
                    <a class="DMButtonsForm" href="javascript:PF_PostBackForm('FrmGenericStep', '','true')">Sincronizar</a>
                }
            }
        </li>
    </ul>
}

