@model DocumentManagement.Models.Provider.ProviderFormModel


<div class="DMLogInformWrapper">

    <label class="DMTextWelcome">Bienvenido al sistema de registro de proveedores de<br />Proveedores Online. </label>
    <hr />
    <label class="DMTextDirection">Para iniciar el proceso de registro ingrese su tipo y número de Identificación, y de clic en ingresar</label>


    <form action="@(Url.Action(MVC.ProviderForm.ActionNames.LoginProvider, MVC.ProviderForm.Name,
                        new
                        {
                            ProviderPublicId = Model.RealtedProvider.ProviderPublicId,
                            FormPublicId = Model.RealtedForm.FormPublicId,
                            CustomerPublicId = Model.RealtedCustomer.CustomerPublicId,
                        }))" method="post">
        <ul class="DMForm">
            <li>
                <span>Tipo de identificación</span>
                <select name="IdentificationType">
                    @foreach (var Item in Model.ProviderOptions[0].
                                Where(x => x.CatalogId.ToString() == DocumentManagement.Models.General.InternalSettings.Instance[DocumentManagement.Models.General.Constants.C_Settings_Catalog_IdentificationType].Value).
                                OrderBy(x => x.ItemName))
                    {
                        <option value="@Item.ItemId">@Item.ItemName</option>
                    }
                </select>
            </li>
            <li>
                <span>Número de identificación</span>
                <input type="text" name="IdentificationNumber" />
            </li>
            <li>
                <input class="DMButtons" type="submit" value="Ingresar" />
            </li>
        </ul>
    </form>

</div>


