@{
    ViewBag.Title = "Proveedores OnLine - Proceso de selección";
    Layout = MVC.Desktop.Shared.Views._Layout;
}
<div>

</div>
@section inlinescripts
{
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}

