@{
    ViewBag.Title = "ProveedoresOnLine";
    Layout = "~/Views/Shared/_LayoutProviderForm.cshtml";
}

<div class="">
    <div class="DMLogIntopWrapper">
        <img class="DMProviderlogo" src="@Url.Content("~/Content/Images/LogoPOLogInAlpha.png")" alt="" />
        <label>SISTEMA DE REGISTRO DE PROVEEDORES</label>
        <img class="DMPOLogo" src="@Url.Content("~/Content/Images/LogoPOLogInAlpha.png")" alt="" />
    </div>

    <div>
        <img style="margin-left: 10%;" src="~/Content/Images/Error.png" />
    </div>

    <div class="DMLogInbottomWrapper">
        <img class="DMLogPublicar" src="~/Content/Images/LogoPublicarFooterBlack.png" alt="" />
        <label class="DMPublicarCopyright">Publicar publicidad y soluciones multimedia - Proveedores Online &copy; 2014 - 2015</label>
    </div>
</div>



