/*************MenuCustomer**************/
.DMMenuCustomer {
    display: inline-block;
    width: 19%;
    border: none;
    margin-top: 1%;
}

    .DMMenuCustomer ul {
        width: 100%;
        height: auto;
        padding: 0;
    }

        .DMMenuCustomer ul li {
            display: block;
            padding: 10px 0px;
            width: 100%;
            height: auto;
            text-align: left;
            color: #333;
        }

            .DMMenuCustomer ul li:hover {
                cursor: pointer;
                background-color: #FFBD97;
            }

                .DMMenuCustomer ul li:hover a {
                    color: #fff;
                }


            /************ ESTE ES EL ESTILO DEL ITEM ACTIVO *************/
            .DMMenuCustomer ul li a {
                display: block;
                margin: 0px 0px 0px 20px;
                width: auto;
                height: auto;
                border: none;
                font-size: 18px;
                line-height: 15px;
                vertical-align: middle;
                color: #333;
            }

                .DMMenuCustomer ul li a:hover {
                    text-decoration: none;
                }

            .DMMenuCustomer ul li.selected {
                background-color: #FF7E35;
                z-index: 10;
                border-right: medium none #FFF;
                position: relative;
                display: inline-block !important;
                width: 87%;
            }

                .DMMenuCustomer ul li.selected a {
                    color: #fff;
                }

.triangulo {
    border-style: solid;
    border-width: 17px;
    padding: 0 !important;
    width: 0 !important;
    border-color: #FFF #FFF #FFF #FF7E35;
    /* position: relative; */
    display: inline-block !important;
    vertical-align: top;
    margin: 0px -4px;
}

/******FormBody********/

.DMCustomerForm {
    display: inline-block;
    vertical-align: top;
}

.DMCustomerForm {
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    border-color: #FF7E35;
    width: 81%;
    min-width: 58%;
    min-height: 490px;
    display: inline-block;
    margin: 0px 0px 0px -4px;
    padding-bottom: 25px;
}

    .DMCustomerForm h3 {
        display: block;
        margin: 10px 0px 10px 16px;
        width: auto;
        font-size: 20px;
        line-height: 20px;
    }

/**********FormStyles************/

.divListForm {
    width: 98%;
    margin-left: 2%;
}

.spanTitleForm {
    font-size: 18px;
    margin-left: 40%;
}

/**********UpsertForm***********/
.stepGrid {
    margin: 15px 0px 15px 0px;
    width: 98%;
    margin-left: 2%;
}

.fieldGrid {
    width: 98%;
    margin-left: 2%;
}
