/*************MenuCustomer**************/
.DMMenuCustomer {
    display: inline-block;
    width: 23%;
    border: none;
    margin-top: 2%;
}

    .DMMenuCustomer ul {
        width: 100%;
        height: auto;
    }

        .DMMenuCustomer ul li {
            display: block;
            padding: 10px 0px;
            width: 100%;
            height: auto;
            text-align: left;
            color: #333;
        }

            .DMMenuCustomer ul li:hover {
                cursor: pointer;
                background-color: #FFBD97;
            }

                .DMMenuCustomer ul li:hover a {
                    color: #fff;
                }


            /************ ESTE ES EL ESTILO DEL ITEM ACTIVO *************/
            .DMMenuCustomer ul li a {
                display: block;
                margin: 0px 0px 0px 20px;
                width: auto;
                height: auto;
                border: none;
                font-size: 18px;
                line-height: 15px;
                vertical-align: middle;
                color: #333;
            }

                .DMMenuCustomer ul li a:hover {
                    text-decoration: none;
                }

            .DMMenuCustomer ul li.selected {
                background-color: #FF7E35;
                z-index: 10;
                border-right: medium none #FFF;
                position: relative;
            }

                .DMMenuCustomer ul li.selected a {
                    color: #fff;
                }

/******FormBody********/
.DMCustomerForm {
    vertical-align: top;
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    border-color: #FF7E35;
    width: 76.9%;
    min-width: 58%;
    min-height: 490px;
    display: inline-block;
    margin: 0px 0px 0px -4px;
    padding-bottom: 25px;
}

    .DMCustomerForm ul li {
        list-style-type: none;
        margin: 8px auto;
    }

        .DMCustomerForm ul li span {
            font-size: 0.9em;
            /*color: #727276;*/
            display: block;
        }

        .DMCustomerForm ul li input, .DMCustomerForm ul li select {
            border: 1px solid #727276;
            width: 340px;
            height: 32px;
            background-color: #f9f9f9;
            color: #727276;
            font-size: 1em;
        }
        .DMCustomerForm ul li input[type="submit"], .DMButtonsForm {
            border:none;
            width:auto;
            height:auto;
            background-color:#ff8300;
            color:#fff;
            font-size:1.3em;
            padding:3px 38px;
        }
            .DMCustomerForm ul li input[type="submit"]:hover, .DMButtonsForm:hover {
                text-decoration:underline;
                background-color:#ff9955;
        }

input[type="file"] {
    height: 24px !important;
}

    .DMCustomerForm h3 {
        display: block;
        margin: 10px 0px 10px 16px;
        width: auto;
        font-size: 20px;
        line-height: 20px;
    }

/******Grid********/
#divGridStep, #divGridForm, #divGridCustomer .k-grid-content table tbody tr {
    cursor: pointer;
}

#divGridField .k-grid-content table tbody tr {
    cursor: default;
}

/*************MenuCustomer**************/
.DMMenuCustomer {
    display: inline-block;
    width: 19%;
    border: none;
    margin-top: 1%;
}

    .DMMenuCustomer ul {
        width: 100%;
        height: auto;
        padding: 0;
    }

        .DMMenuCustomer ul li {
            display: block;
            padding: 10px 0px;
            width: 100%;
            height: auto;
            text-align: left;
            color: #333;
        }

            .DMMenuCustomer ul li:hover {
                cursor: pointer;
                background-color: #FFBD97;
            }

                .DMMenuCustomer ul li:hover a {
                    color: #fff;
                }


            /************ ESTE ES EL ESTILO DEL ITEM ACTIVO *************/
            .DMMenuCustomer ul li a {
                display: block;
                margin: 0px 0px 0px 20px;
                width: auto;
                height: auto;
                border: none;
                font-size: 18px;
                line-height: 15px;
                vertical-align: middle;
                color: #333;
            }

                .DMMenuCustomer ul li a:hover {
                    text-decoration: none;
                }

            .DMMenuCustomer ul li.selected {
                background-color: #FF7E35;
                z-index: 10;
                border-right: medium none #FFF;
                position: relative;
                display: inline-block !important;
                width: 87%;
            }

                .DMMenuCustomer ul li.selected a {
                    color: #fff;
                }

.triangulo {
    border-style: solid;
    border-width: 17px;
    padding: 0 !important;
    width: 0 !important;
    border-color: #FFF #FFF #FFF #FF7E35;
    display: inline-block !important;
    vertical-align: top;
    margin: 0px -4px;
}

/******FormBody********/

.DMCustomerForm {
    display: inline-block;
    vertical-align: top;
}

.DMCustomerForm {
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    border-color: #FF7E35;
    width: 81%;
    min-width: 58%;
    min-height: 490px;
    display: inline-block;
    margin: 0px 0px 0px -4px;
    padding-bottom: 25px;
}

    .DMCustomerForm h3 {
        display: block;
        margin: 10px 0px 10px 16px;
        width: auto;
        font-size: 20px;
        line-height: 20px;
    }

/**********FormStyles************/

.divListForm {
    width: 98%;
    margin-left: 2%;
}

.spanTitleForm {
    font-size: 18px;
    margin-left: 40%;
}

form ul {
    list-style: none;
    padding: 0;
    margin-left: 2%;
}

.ulBasicInfo {
    /*border: 1px solid green;*/
}

    .ulBasicInfo li {
        margin: 15px 0px 15px 0px;
        width: 100%;
    }

        .ulBasicInfo li span {
            font-size: 15px;
            vertical-align: top;
            margin-right: 20px;
        }

        .ulBasicInfo li input {
            width: 20%;
            /*margin-left: 103px;*/
        }

        .ulBasicInfo li textarea {
            min-width: 50% !important;
        }

.ulFormLogo {
    /*border: 1px solid red;*/
}

    .ulFormLogo li {
        margin: 0px 0px 15px 0px;
        width: 100%;
    }

        .ulFormLogo li span {
            font-size: 15px;
            vertical-align: top;
            margin-right: 20px;
            display: inline-block;
        }

        .ulFormLogo li input {
            width: 50%;
            display: inline-block;
        }

        .ulFormLogo li img {
            width: 25%;
            height: auto;
            margin: 1% 0 0px 10%;
            display: block;
        }


/**********UpsertForm***********/
.stepGrid {
    margin: 15px 0px 15px 0px;
    width: 98%;
    margin-left: 2%;
}

.fieldGrid {
    width: 98%;
    margin-left: 2%;
}
