/*************MenuCustomer**************/
.DMMenuCustomer {
    display: inline-block;
    width: 23%;
    border: none;
    margin-top: 2%;
}

    .DMMenuCustomer ul {
        width: 100%;
        height: auto;
    }

        .DMMenuCustomer ul li {
            display: block;
            padding: 10px 0px;
            width: 100%;
            height: auto;
            text-align: left;
            color: #333;
        }

            .DMMenuCustomer ul li:hover {
                cursor: pointer;
                background-color: #FFBD97;
            }

            .DMMenuCustomer ul li:hover a{
                color: #fff;
            }


            /************ ESTE ES EL ESTILO DEL ITEM ACTIVO *************/
            .DMMenuCustomer ul li a {
                display: block;
                margin: 0px 0px 0px 20px;
                width: auto;
                height: auto;
                border: none;
                font-size: 18px;
                line-height: 15px;
                vertical-align: middle;
                color: #333;
            }

                .DMMenuCustomer ul li a:hover {
                    text-decoration: none;
                }

            .DMMenuCustomer ul li.selected {
                background-color: #FF7E35;
                z-index: 10;
                border-right: medium none #FFF;
                position: relative;
            }

                .DMMenuCustomer ul li.selected a {
                    color: #fff;
                }

/******FormBody********/

.DMCustomerForm {
    display: inline-block;
    vertical-align: top;
}

.DMCustomerForm {
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    border-color: #FF7E35;
    width: 76.9%;
    min-width: 58%;
    min-height: 490px;
    display: inline-block;
    margin: 0px 0px 0px -4px;
    padding-bottom: 25px;
}

    .DMCustomerForm h3 {
        display: block;
        margin: 10px 0px 10px 16px;
        width: auto;
        font-size: 20px;
        line-height: 20px;
    }
