.DMMainWrapper {
    display: block;
    width:100%;
    height:89px;
    /*Mantener en el fondo de la página*/
    clear: both;
    background-color:#b3b3b3;
}
    .DMMainWrapper a {
        width:160px;
        height:auto;
            border:none;
        margin:10px 20px 10px 0px;
        float:right;
    }
        .DMMainWrapper a img{
            display: block;
            width:160px;
            height:auto;
                border:none;
        }
.DMTextWrapper {
    display: inline-block;
    width:100%;
    height:22px;
    margin:0px auto;
        border:none;
    text-align: center;
    background-color:#727276;
}
.DMTextWrapper a{
    color:#fff;
    font-family: "MuseoSans100","Trebuchet MS", Helvetica, sans-serif;
    width:auto;
}
.DMTextWrapper ul li{
    display:inline-block;
    margin:3px 0px 0px 0px;
}
        .DMTextWrapper a, .DMTextWrapper span {
        font-size:1em;
        color: #fff;
        display: inline;
        margin: 0px;
        line-height:1em;
    }
        .DMTextWrapper a:hover {
            text-decoration: underline;
        }