/*********fonts************/
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../../../fonts/OpenSans-Regular.eot');
    src: url('../../../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../../../fonts/OpenSans-Regular.woff') format('woff'), url('../../../fonts/OpenSans-Regular.ttf') format('truetype');

}
p, h1, h2, h3, h4, h5, h6, a, label, title, input, span{
    font-family: 'OpenSans-Regular', Fallback, sans-serif;
}
/*********Body Content************/
.PageBody{
    width: 96%;
    margin: 0px 0px 22px 2%;
    min-height: 430px;
}
.DMSectionTitle {
    color: #727276;
    display: block;
    font-size: 1.6em;
    letter-spacing: -0.7px;
    margin: 0 auto 3px;
    text-transform: uppercase;
    width: 100%;
}
.ItemLeftPosition{
    margin-left: 15px !important;
    width:355px;
}
.CheckBox_Position{
    margin-left: 355px !important;
    margin-top: -32px;
}
.CheckBox_size{
    width: 17px !important;
    margin-top: 0px !important;
    margin-left: 3px !important;
}