.DMLogInProviders {
    background-image: url("/Content/Images/MDLogInProvBackground.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100%;
    min-height: 597px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    min-width: 1024px;
    z-index: 12;
}

.DMLogIntopWrapper {
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 115px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
}

.DMProviderlogo {
    float: left;
    height: auto;
    margin: 8px 0px 0 2%;
    width: 133px;
}

.DMLogIntopWrapper label {
    border: none;
    color: #0066ae;
    display: inline-block;
    font-size: 1.2em;
    font-weight: normal;
    height: auto;
    line-height: 1.3em;
    margin: 3.6% auto 0 auto;
    text-transform: uppercase;
    width: 600px;
}

.DMPOLogo {
    float: right;
    width: 14%;
    height: auto;
    margin: 24px 2% 0 0;
}

.DMLogInformWrapper {
    background-color: rgba(255, 255, 255, 0.8);
    display: block;
    height: auto;
    margin: 36px 0 0 66%;
    width: 338px;
    padding: 16px 22px 6px 22px;
}

.DMTextWelcome, .DMTextDirection {
    font-weight: normal;
    letter-spacing: -0.4px;
    line-height: 1em;
    font-size: 1.8em;
    color: #0066ae;
}

.DMTextDirection {
    font-size: 1.3em;
    color: #4d4d4d;
}

hr {
    color: #ff8300;
    border-color: #ff8300;
    width: 90%;
    margin: 11px auto;
}

.DMForm li {
    margin: 4px 0 9px;
}

    .DMForm li span {
        color: #4d4d4d;
        display: block;
        font-size: 0.9em;
    }

    .DMForm li select, .DMForm li input {
        background-color: #f9f9f9;
        border: 1px solid #727276;
        color: #727276;
        font-size: 1em;
        height: 32px;
        width: 99%;
    }

.DMButtons, .DMButtons input [type="submit"] {
    background-color: #ff8300 !important;
    border: medium none !important;
    color: #fff !important;
    font-size: 1.3em !important;
    height: auto !important;
    padding: 3px 38px !important;
    width: auto !important;
}

    .DMButtons:hover {
        text-decoration: underline;
        background-color: #ff9955;
    }

.DMLogInbottomWrapper {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 0px;
    margin-left: 0px;
    background-color: rgba(255, 255, 255, 0.8);
}

.DMLogPublicar {
    display: block;
    margin: 6px 0 0 86%;
    width: 12%;
    height: auto;
}

.DMPublicarCopyright {
    display: block;
    margin: 5px 0px 7px 0px;
    width: 100%;
    color: #4d4d4d;
    font-size: 0.9em;
    line-height: 0.7em;
    font-weight: normal;
}
