.DMStepsLayOutWrapper{
    display: block;
    padding: 14px 0 0;
    border-top:3px solid #ff8300;
}
.DMPageBodyProviderForm {
    width: 100%;
    margin: 0px;
    min-height: 430px;
}

/************* PINTA EL FOOTER DENTRO DE LOS PASOS **************/

.DMStepsBottomWrapper {
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 1px solid #e6e6e6;
    display: block;
    height: auto;
    margin: 9px 0 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

/*********** MENU LATERAL DE LOS PASOS DEL FORMULARIO **************/

.DMStepsMenuCustomer {
    display: inline-block;
    width: 19%;
    border: none;
    margin: 0px 0px 0px 25px;
}

    .DMStepsMenuCustomer ul {
        width: 100%;
        height: auto;
        padding: 0;
    }

        .DMStepsMenuCustomer ul li {
            display: block;
            padding: 6px 0px;
            width: 92%;
            height: auto;
            text-align: left;
            color: #4d4d4d;
            margin: 0px 0px 6px 0px;
        }

            .DMStepsMenuCustomer ul li:hover {
                cursor: pointer;
                background-color: #ececec;
            }
            /************ ESTE ES EL ESTILO DEL ITEM ACTIVO *************/
            .DMStepsMenuCustomer ul li a {
                display: block;
                margin: 0px 0px 0px 20px;
                width: auto;
                height: auto;
                border: none;
                font-size: 1.2em;
                line-height: 15px;
                vertical-align: middle;
                color: #333;
            }

                .DMStepsMenuCustomer ul li a:hover {
                    text-decoration: underline;
                }

            .DMStepsMenuCustomer ul li.MenuSelected {
                background-color: #ff8300;
                z-index: 10;
                border-right: medium none #FFF;
                position: relative;
                display: inline-block !important;
                background-image: url('/Content/Images/arrowSelectedMenuSmall.png');
                background-repeat: no-repeat;
                background-position: 100% 0px;
                background-size: auto;
                width: 90%;
            }

                .DMStepsMenuCustomer ul li.selected a {
                    color: #fff;
                }