@model BackOffice.Models.Provider.ProviderViewModel

@{
    ViewBag.Title = "TRM";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Model.RenderScripts = false;
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POBOProviderWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POBOProviderSideMenuWrapper">
        @Html.Partial(MVC.Shared.Views._P_ProviderMenu, Model)
    </div>
    <div class="POBOProviderContentWrapper">
        <div id="POBOProviderUpsertForm">
            <label class="POBOSectionTitles">Administración de TRM</label>
            <div id="divGridTRMInfo"></div>
        </div>
    </div>
</div>


@{
    Model.RenderScripts = true;
}

@section inlinescripts{

    @Html.Partial(MVC.Shared.Views._P_ProviderMenu, Model);

    @{

        //ger CertificationTypeValues
        string oAdminTRMInfoOptionList = "[]";
        if (Model.ProviderOptions != null &&
            Model.ProviderOptions.Count > 0)
        {
            Dictionary<int, List<ProveedoresOnLine.Company.Models.Util.CatalogModel>> oOptionTRM =
                Model.ProviderOptions.
                GroupBy(x => x.CatalogId).
                Select(x =>
                    new
                    {
                        okey = x.Key,
                        ovalue = Model.ProviderOptions.Where(y => y.CatalogId == x.Key).OrderBy(y => y.ItemName).ToList(),
                    }).ToDictionary(k => k.okey, v => v.ovalue);

            oAdminTRMInfoOptionList = (new System.Web.Script.Serialization.JavaScriptSerializer()).
                Serialize(oOptionTRM.Select(x => new { Key = x.Key, Value = x.Value }));
        }
    }
     
    <script type="text/javascript">
        var vAdminTRMInfoOptionList = @(Html.Raw(oAdminTRMInfoOptionList));
        $(document).ready(function () {
            Admin_CategoryObject.Init({
                ObjectId: 'divGridTRMInfo',
                UtilOptions: vAdminTRMInfoOptionList ,
                CategoryType: 'AdminTRM',                
            });
            Admin_CategoryObject.RenderAsync();
        });
    </script>
}

