<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
    
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WS-InspektorSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WS-InspektorSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WS-InspektorSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://wsinspektorssl.riskconsultingcolombia.com:444/wsinspektor.asmx"
                binding="basicHttpBinding" bindingConfiguration="WS-InspektorSoap"
                contract="WS_Inspekt.WSInspektorSoap" name="WS-InspektorSoap" />
            <endpoint address="https://wsinspektorssl.riskconsultingcolombia.com:444/wsinspektor.asmx"
                binding="customBinding" bindingConfiguration="WS-InspektorSoap12"
                contract="WS_Inspekt.WSInspektorSoap" name="WS-InspektorSoap12" />
        </client>
    </system.serviceModel>
</configuration>