<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WS-InspektorSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WS-InspektorSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://wsinspektorssl.riskconsultingcolombia.com/wsinspektor.asmx"
                binding="basicHttpBinding" bindingConfiguration="WS-InspektorSoap"
                contract="WS_Consulting.WSInspektorSoap" name="WS-InspektorSoap" />
        </client>
    </system.serviceModel>
</configuration>