/***********NEW STYLES 03-Nov-2015**********/
.POMPSurveyBorderBotttom {
    border-bottom: 1px solid #ff8300;
}

.POMPFormsizeText > h2 {
    font-size: 1.3em;
    margin-left: 1.5em;
}

.POMP_SurveyControls > a {
    color: #337ab7 !important;
    text-decoration: none;
}

/****************Survey********************/
.PMMPSurveyHeader > div {
    display: inline-block;
    vertical-align: top;
}

.POMPSurveyContainerPosition {
    margin-left: 10px;
}

.PMMPSurveyProviderInfo {
    width: 78%;
    min-width: 500px;
}

    .PMMPSurveyProviderInfo > ul {
        list-style-type: none;
        margin-top: 5px;
    }

        .PMMPSurveyProviderInfo > ul > li {
            width: 33%;
            display: inline-block;
            vertical-align: top;
            margin-bottom: 10px;
        }

            .PMMPSurveyProviderInfo > ul > li > span {
                width: 100%;
                display: inline-block;
                margin-top: 5px;
            }

            .PMMPSurveyProviderInfo > ul > li .selProgressBar {
                width: 80%;
                height: 22px;
                margin: -2px 0px -2px 0px;
            }

/**************Survey Questions******************/
.PMMPMandatorySurvey {
    margin: 10px 0px;
    display: block;
}

.PMMPSurveyQuestions {
    padding: 1% 3%;
}

.PMMPEvaluationArea {
    margin: 10px 0px;
}

    .PMMPEvaluationArea > ul {
        list-style-type: none;
    }

        .PMMPEvaluationArea > ul > li {
            padding: 8px 0;
        }

            .PMMPEvaluationArea > ul > li > ul {
                list-style-type: none;
            }

                .PMMPEvaluationArea > ul > li > ul > li {
                    padding: 0.2em 0;
                }

.PMMPSurveyFinished {
    padding: 10% 0px;
    text-align: center;
    font-size: 18px;
    /*border-top: 1px solid #FF8300;*/
    width: 98%;
    margin-left: 1%;
}

#Survey_ProgramSurvey_EvaluatorDiv li label {
    width: 40.5%;
}

/**************************************Survey evaluator detail styles*********************************************/
.SurveyAreaTitlesBox {
    height: auto;
    line-height: 40px;
    background: #ececec;
    margin: 10px 0 0px 0;
    height: 40px;
}

.SurveyAreaEvaluatorDetail {
    width: 100%;
    flex: 30%;
    height: auto;
    /*border: 1px solid #808080;*/
}

    .SurveyAreaEvaluatorDetail > p {
        margin: 15px 0px 10px 2%;
    }

.SurveyAreaAnswer {
    display: inline-block;
    margin: 0px 0px 0px 4%;
}

    .SurveyAreaAnswer > p {
        margin: 2px 0px 2px 0px;
    }

.SurveyAreaObservation {
    margin: 10px 0px 10px 4%;
    display: block;
}

    .SurveyAreaObservation > p {
        margin: 5px 0px 10px 0px;
        display: inline-block;
        font-size: 1.1em;
    }

.SurveyObservationInfo {
    margin: 0px 0px 20px 0px !important;
}

.SurveryAreaCalification {
    width: 100%;
    height: 50px;
    background: #EEEEEE;
    display: inline-block;
}

    .SurveryAreaCalification > p {
        padding: 15px 0px 0px 2%;
    }

.SurveyFileList {
    margin: 0;
    list-style: none;
}

    .SurveyFileList > li {
        height: 30px;
        margin-top: 5px;
    }

.SurveyFileUploadName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #555;
    display: inline-block;
    font-size: 0.88em;
    letter-spacing: -0.4px;
    line-height: 1.3em;
}

.SurveySeparator {
    width: 100%;
    margin: 10px 0px 10px 0px;
}

/**********************************Survey Styles**************************************/
.SurveyContainerDetail {
    background-color: #f9f9f9;
    margin-top: 5px;
    margin-left: 5px;
}

.SurveyMandatoryBox {
    line-height: 40px;
    background: #ececec;
    height: 40px;
    margin-top: 10px;
}

.SurveyActions {
    text-align: right;
}

.SurveyAreaBox {
    line-height: 40px;
    background: #ececec;
    margin: 0;
    height: 41px;
    font-size: 1.1em;
}

.SurveyActionsList {
    display: inline-block !important;
    margin: 0px 6px 0 0 !important;
    padding: 0 4px !important;
}

.SurveyAreaObservation {
    width: 96%;
    height: auto;
    margin-left: 2%;
    display: inline-block;
}

.SurveyArea {
    width: 96%;
    height: auto;
    margin: 15px 0px 15px 2%;
}

    .SurveyArea > p {
        display: inline-block;
        font-size: 1.2em;
        text-align: justify;
    }

.SurveyDescription {
    width: 100%;
    min-height: 50px;
    border: 1px solid #999;
    background-color: #f9f9f9;
}

.SurveyAreaDetail {
    width: 96%;
    height: auto;
    margin-left: 2%;
}

.SurveyAreaQuestion2 {
    font-size: 1.2em;
    display: inline-block;
    height: auto !important;
    width: 100%;
}

    .SurveyAreaQuestion2 > ul {
    }

.SurveyAreaAnswer {
    width: 95%;
    height: auto;
    margin-left: 2%;
    display: inline-block;
}

    .SurveyAreaAnswer > ul {
        margin: 10px 0px 10px 2%;
    }

        .SurveyAreaAnswer > ul > li {
            margin-top: 10px;
        }

            .SurveyAreaAnswer > ul > li > p {
                margin: 0px;
            }

.SurveyAreaObservation {
    width: 95%;
    height: auto;
    margin: 0px 0px 2% 2%;
    display: inline-block;
}

    .SurveyAreaObservation > p {
        font-size: 1.2em;
        text-align: justify;
    }

.SurveyDescriptionArea {
    border: 1px solid #999;
    border-radius: 2px;
    background-color: #f9f9f9;
    width: 100%;
    min-height: 50px;
    height: auto;
}

.SurveyFileUpload {
    min-height: 50px;
    margin: 1% 0px 1% 0px;
}

.SurveySeparatorList {
    border-color: #ff8300;
    color: #ff8300;
    margin: 2% 0px 2% 0px;
    width: 100%;
}

/*********************************SURVEY PROGRAM****************************************/
.SurveySearchBox {
    background-color: #f9f9f9;
}

.SurveySeachSelect {
    background-color: #ddd;
    border: 1px solid #727276;
    color: #666;
    display: inline-block;
    font-size: 1.05em;
    width: 100%;
    height: 26px;
}

.SurveyRow {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
}

    .SurveyRow > div > span {
        font-size: 1em;
        line-height: 2.2em;
        width: 100%;
    }

.SurveySearchButtoms {
    background-color: #ff8300;
    color: #fff;
    display: inline-block;
    font-size: 1em;
    letter-spacing: -0.5px;
    padding: 3px 10px;
    border-radius: 2px;
    border: none;
    width: 40%;
    text-align: center;
    margin: 10px 5% 0px 0px;
}

    .SurveySearchButtoms:hover {
        color: #23527c;
    }

.SurveySearchProm {
    text-align: right;
    margin-right: 4%;
}

.SurveyPromLabel {
    margin: 25px 17% 0px 0px;
}

.SurveyPromDiv {
    font-size: 3.3em;
    margin: 20px 16% 13px 0px;
}

.SurveyPromA {
    width: 50%;
    margin-right: 0px;
    text-align: center;
}

.SurveySearchHR {
    width: 100%;
    margin-top: 10px;
}
