
.POMPSearchContainer{
    width:100%;
    height:auto;
}

.POMPNameSearch{
    width:35%;
    border-radius:0;
    height:35px;
    padding-left:20px;
    margin:10px 0 0 2%;
}

.POMPIDSearch{
    width:30%;
    border-radius:0;
    height:35px;
    padding-left:20px;
    margin:10px 0 0 1.2%;
}

.POMPConsultButton{
    width: 100px;
    height:35px;
    background:#ff8300;
    margin-left: 1.2%;
    border:none;
    border-radius:0;
    color:#fff;
}

.POMPWrapperColorResult{
     width:98%;
    height:auto;
    background:#f9f9f9;
    margin:10px 0 0 2%;
    float:left;
}

.POMPContainerResult{
    width:98%;
    height:100px;
    border-bottom:1px solid #E4E4E4;
    margin:0 0 20px 1%;
    float:left;
}

#POMPResultName{
    width:100%;
    height:30px;
    background:#ececec;
   
}

#POMPResultName > p{
   line-height:30px;
   color:#4d4d4d;
   text-align:left;
   font-size:1.2em;
   padding-left:15px;

}


.POMPResultSection{
    width:28%;
    height:70px;
    float:left;
}



.POMPResultSection > p{
       text-align:center;
       padding:15px 5px 10px 0;
}


.POMPResultDownload{
    width:16%;
    height:70px;
    float:left;
}

.POMPResultDownload > p{
       text-align:center;
       line-height:60px;
       color:#337ab7;
      
}

#POMPResultText{
    margin:10px 0 20px 2%;
    font-size: 1.2em;
    float:left;
    font-weight:bold;

}