
.POMPPoweredby {
    width: 79% !important;
    color: #727276;
    position: absolute;
    bottom: -30px;
    left: 268px;
}
.POMPPoweredby-font {
    font-family:Verdana !important; 
    font-size:10px !important; 
    font-weight:normal !important;
}
.POMPSearchContainer {
    width: 100%;
    height: auto;
}

.POMPNameSearch {
    width: 35%;
    border-radius: 0;
    height: 35px;
    padding-left: 20px;
    margin: 10px 0 0 2%;
}

.POMPIDSearch {
    width: 35%;
    border-radius: 0;
    height: 35px;
    padding-left: 20px;
    margin: 10px 0 0 1.2%;
}

.POMPConsultButton {
    width: 100px;
    height: 35px;
    background: #ff8300;
    margin-left: 1.2%;
    border: none;
    border-radius: 0;
    color: #fff;
}

.POMPWrapperColorResult {
    width: 98%;
    height: auto;
    background: #f9f9f9;
    margin: 10px 0 0 2%;
    float: left;
}

.POMPContainerResult {
    width: 98%;
    height: auto;
    margin: 2% 0 20px 1%;
    float: left;
}

.POMPResultSection label {
    margin: 6px 0px 6px 6%;
}

#POMPResultName {
    width: 100%;
    height: 35px;
    background: #ececec;
    padding: 0px;
}

    #POMPResultName > p {
        color: #4d4d4d;
        text-align: left;
        font-size: 1.2em;
        padding-left: 15px;
        display: inline-block;
        width: 80%;
        margin: 7px 0 0 0;
    }

#POMPSSResultName {
    width: 96%;
    background: #ececec;
    padding: 7px;
    margin: 18px 0px 0px 20px;
}

.POMPDetailSection {
    width: 100%;
    height: 30px;
    display: block;
    text-align: right;
    border-bottom: 1px solid #E4E4E4;
    margin: 66px 0 -20px 0;
}

    .POMPDetailSection > a {
        margin-right: 23px;
    }


.POMPResultSection-Priority {
    width: 10%;
    height: 70px;
    float: left;
    display: inline-block;
}

    .POMPResultSection-Priority > p {
        text-align: center;
        padding: 0px 5px 10px 0;
    }


.POMPResultSection {
    width: 20%;
    height: 70px;
    float: left;
    display: inline-block;
}



    .POMPResultSection > p {
        text-align: center;
        padding: 0px 5px 10px 0;
    }


.POMPResultDownload {
    width: 16%;
    height: 70px;
    float: left;
}

    .POMPResultDownload > p {
        text-align: center;
        line-height: 60px;
        color: #337ab7;
    }

#POMPResultText {
    margin: 10px 0 20px 2%;
    font-size: 1.2em;
    float: left;
    font-weight: bold;
}

#POMPDateSearch {
    -moz-box-shadow: 0 0 2px black;
    -webkit-box-shadow: 0 0 2px black;
    box-shadow: 0 0 2px black;
}

.POMPTKSearchButton {
    background: #ff8300;
    height: 30px;
    text-transform: uppercase;
    padding: 5px 30px;
    margin: 0px 0px 0px -30px;
    vertical-align: -15.6px;
    display: inline-block;
    border-radius: 0;
    border: 0;
}

    .POMPTKSearchButton:hover, .POMPTKSearchButton:hover {
        background-color: #ffb362;
        text-decoration: underline;
        color: #fff;
    }

#ThirdKnowledge_InitDateId {
    width: 70%;
    border-radius: 0;
    height: 30px;
    padding-left: 20px;
    margin: 10px 0 0 2%;
}

#ThirdKnowledge_EndDateId {
    width: 70%;
    border-radius: 0;
    height: 30px;
    padding-left: 20px;
    margin: 10px 0 0 2%;
}

.ThirdKnowledge_Detail {
    font-weight: lighter;
    font-size: 1.05em;
    letter-spacing: -0.5px;
}

.ThirdKnowledge_ListDetail {
    float: right;
    font-weight: lighter;
    font-size: 14px;
    line-height: 20px;
    padding-left: 100px;
    padding-top: 20px;
    margin-bottom: 17px;
}

.ThirdKnowledge_FilterDetail {
    font-weight: lighter;
    font-size: 12px;
}

.ThirdKnowledge_FilterDetail, p {
    margin-bottom: -15px;
}

.ThirdKnowledge_marginBottom {
    margin-bottom: 0px;
}

.ThirdKnowledge_GoBack {
    padding-top: 10px;
}

/*.row, hr {
    border-color: #E4E4E4;
    margin: 6px auto;
    width: 100%;
}*/

.ThirdKnowledge_title {
    background: #ececec;
    line-height: 50px;
    width: 100% !important;
    font-weight: bold;
}

.TK-Uploadpanel {
    padding-top: 5px;
}

.TK-UploadpanelText {
    font-weight: bold;
    font-size: 1.3em;
    padding-bottom: 5px;
}

.TK-DownloadIcon {
    width: 16px;
}

.TK-DownloadFile {
    line-height: 15px;
    padding-left: 82px;
    padding-top: 5px;
}

.TK-DownloadFile-p {
    font-size: 0.58em;
    float: inherit;
    color: #D47212;
}

.TK-DownloadFile-a {
    font-size: 1.5em;
}

.TK-DownloadFile-a, a:link {
    text-decoration: none;
}

.Tk-DetailSingleSearchSeparator {
    border-color: #E4E4E4;
    size: 1px;
}

/********************New styles third knowledge*************************/

.POMPThirdKnowledgeTitles {
    font-size: 1.5em;
    font-weight: normal;
    letter-spacing: -1px;
    display: block;
    margin: 0 8px 7px 22px;
    padding: 12px 0 0px 14px;
    color: #fff;
    box-shadow: 1px 1px 3px #444;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 1px solid #666;
    border-bottom: none;
    background-color: #f87b00;
    background-image: url(http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/BGScatterLogoSmall.png);
    background-position: 238px -162px;
    background-size: 931px auto;
    background-repeat: no-repeat;
}

.POMPEvalTitle {
    height: auto;
    line-height: 45px;
    background: #ececec;
    margin: 12px 0 8px 24px;
    width: 97%;
}

    .POMPEvalTitle > div > a {
        cursor: pointer;
        text-decoration: none;
        color: #337ab7 !important;
        line-height: 45px !important;
    }

.POMPDetailTitle {
    line-height: 40px;
    background: #ececec;
    padding: 6px;
}

    .POMPDetailTitle > div > p {
        font-weight: bold;
    }



.POMPTKSeparator {
    border-color: #E4E4E4;
    margin: 6px auto;
    width: 100%;
}

.POMPTKDetailTitle {
    line-height: 35px;
    background: #ececec;
    margin: 15px 0 15px 2px;
}

.POMPTKShowDetail {
    margin-top: 10px;
}

.POMPTKDetailContainer {
    width: 90%;
    margin-left: 30px;
}
.POMPTKContainerDetail {
    background-color: #f9f9f9;
    width: 98%;
    margin-top: 8px;
    margin-left: 13px;
    /*min-height:640px*/
}
.POMPButtonDownloadReport_TK {
    margin: 5px -9px 0px 0px;
    background: #ff8300;
    color: #fff;
    height: 30px;
    width: 180px;
    line-height: 20px;
}
.POMPNoresultRequestText {
    font-weight:normal;
}
.POMPNoresultText {
    color: #ff8300;
}

.POMPTKfromText {
    left: 2px !important;
    top: 15px;
}
.POMPTKDateInit {
    left: 5px !important;
}
.POMPTKDateEnd {
    left: -20px !important;
}
.POMPTKCmbType {
    left: -40px;
    top: 13px;
}
.POMPTKCmbStatus {
    left: -60px;
    top: 12px;
    width: 185px;
}
.POMPTKSButtonPosition {
    left: 343px;
    top: -25px;
}