/************ AQUI VA LA TODA LA INFORMACION DEL DATA WRAPPER ***********/
.POMPSectionTitles {
    font-size: 1.5em; font-weight: normal; letter-spacing: -1px;
    display: block;
    margin:0 12px 7px 8px; padding:21px 0 0px 14px;
    color: #fff;
    box-shadow:1px 1px 3px #444;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
    border: 1px solid #666; border-bottom:none;
    background-color:#f87b00;
    background-image:url(http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/BGScatterLogoSmall.png);
    background-position:238px -165px; background-size:941px auto; background-repeat:no-repeat;
}
.POMPProviderInfoDisplayList {
    padding:0px;
}
    .POMPProviderInfoDisplayList li {
        display:block;
        height: auto;
        vertical-align: top;
        width: 48%;
        margin: 0px 0px 0px 8px;
        padding: 0 0 4px 17px;
        list-style-type:none;
        border-bottom: 2px dotted #ddd;
    }
        .POMPProviderInfoDisplayList li label {
            color: #0066ae;
            font-size: 1.35em; font-weight:normal;
            letter-spacing:0.8px; line-height:1.5em;
            margin: 0px; width:89%;
    }
        .POMPProviderInfoDisplayList li label > span {
            display: block; font-size: 0.7em;
            font-weight: normal; letter-spacing: -0.5px;
            line-height: 1em; color:#666;
        }
        /********** MUESTRA EL CASO DE TIPO Y VALOR ***********/
        .POMPProviderTypeOption span {
            display:inline !important;
        }
        span.POMPProviderTypeOptionValue {
            display:inline !important;
            font-weight:bold !important;
            font-size:0.9em !important;
        }

a.POMPSmallCaption {
        color: #ff8400;
        font-size: 0.9em;
        font-weight: normal;
        letter-spacing: -0.7px;
        margin: 0px;
        display: block;
    }


    
