/************ AQUI VA LA TODA LA INFORMACION DEL DATA WRAPPER ***********/
.POMPSectionTitles {
    font-size: 1.5em; font-weight: normal; letter-spacing: -1px;
    display: block;
    margin:0 12px 7px 8px; padding:21px 0 0px 14px;
    color: #fff;
    box-shadow:1px 1px 3px #444;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
    border: 1px solid #666; border-bottom:none;
    background-color:#f87b00;
    background-image:url(http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/BGScatterLogoSmall.png);
    background-position:238px -165px; background-size:941px auto; background-repeat:no-repeat;
}
    .POMPProviderInformationDisplayList ul li {
        border: none;
        display:block;
        height: auto;
        vertical-align: top;
        width: 48.5%;
        margin: 4px 0px 0px 8px;
        padding: 0;
        list-style-type:none;
    }
        .POMPProviderInformationDisplayList ul li label {
            color: #4d4d4d;
            font-size: 2em; font-weight:bold;
            font-weight: normal;
            letter-spacing:0.8px;
            margin: 0px;
    }
        .POMPProviderInformationDisplayList ul li label > span {

        }

a.POMPSmallCaption {
        color: #ff8400;
        font-size: 0.9em;
        font-weight: normal;
        letter-spacing: -0.7px;
        margin: 0px;
        display: block;
    }


    
