/**************** CONTENEDOR DE LOS GRÁFICOS *******************/

#POMPGraphicContainerMain {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

h1 {
    padding: 0;
    margin: 0;
}
/*****************  GRÁFICOS DINÁMICOS ******************/

.POMPGraphicDynamic {
    flex: 48%;
    -ms-flex:48%;
    margin: 1%;
    height: 350px;
    position: relative;
    background: #fff;
    border: 1px solid #f1f1f1;
}

.POMPHeaderGraphicDynamic {
    width: 100%;
    height: 35px;
    position: relative;
    float: left;
    background: #e5e5e5;
    border-bottom: 1px solid #ffa951;
}

    .POMPHeaderGraphicDynamic > h1 {
        font-size: 16px;
        color: #6e6e6e;
        padding-left: 20px;
        margin-top: 10px !important;
    }

.POMPGraphicDynamic2 {
    width: 48%;
    height: 280px;
    float: left;
    position: relative;
    margin: 15px 0 20px 1.5%;
    background: #fff;
}

.POMPHeaderGraphicDynamic2 {
    width: 100%;
    height: 35px;
    position: relative;
    float: left;
    background: #e5e5e5;
}

    .POMPHeaderGraphicDynamic2 > h1 {
        font-size: 16px;
        color: #6e6e6e;
        padding-left: 20px;
        margin-top: 10px !important;
    }


.ResponsiveChartsClass {
    /*border:1px solid black !important;*/
    max-height: 100% !important;
    height: 270px !important;
    position: relative;
    float: left;
    width: 95%;
    margin: 20px 0 0 2.2%;
    height: 300px;
    max-height: 300px;
}
