/***********CONTENEDOR EVALUACIÓN********/
/*.POMPContainerEvaluation{
    width:50%;
    height:auto;
    margin: 0 auto !important;
    float:left;
    background:Red;
 
}*/

.row{
    width:95% !important;
    margin-left:2.5%;
    /*background:red !important;*/
}


.col-xs-4{
    margin:10px 0 10px 0;
    /*background:grey;*/
}


.POMPEvaluationInput{
    width:100% !important;
    border-radius:3px;
    background:#fff;
    border-color:#c5c5c5;
}

.POMPSaveButton{
    width:100px;
    margin:20px 0 0 15px !important;
    color:#fff;
    background:#ff8300;
}

#Survey_ProgramSurvey_Comments{
    height:100px;
}

.panel-default{
    margin-top:20px;
}
.areaTitle{
    margin:10px 0 0 0;
}

.areaBox{
    margin:5px 0 0 0;
}

/**********EXPERIMENTO**********/
.EvaluationPeriodDialog label{
    width:100% !important;
}

#Survey_ProgramSurvey_SurveyName{
    width:100% !important;
}

#Survey_ProgramSurvey_ProjectName{
    width:100% !important;
}

.k-autocomplete.k-state-default, .k-picker-wrap.k-state-default, .k-numeric-wrap.k-state-default, .k-dropdown-wrap.k-state-default{
    width: 85.5% !important;
}
