
.POMPFinancialBalanceGreatWrapper {
    border: 1px solid #c5c5c5;
    margin: 10px 0 0 8px;
    width: calc(100% - 16px);
    min-width:682px;
}
.POMPBalanceSheet_mainFilter {
    border-bottom: 1px solid #c5c5c5;
    background-color: #f9f9f9;
    margin: 0px !important;
    padding: 24px 0 0 15px;  
    height:67px;
}
    .POMPBalanceSheet_mainFilter li{
        display: inline-block;
        height: auto;
        vertical-align: top;
        width: 37.5%;
    }
    .POMPBalanceSheet_mainFilter li:nth-child(3){
        display: inline-block;
        height: auto;
        vertical-align: top;
        width:auto;
    }
        .POMPBalanceSheet_mainFilter li label {
            display: inline;
            font-size: 0.9em;
            font-weight: normal;
            margin: -21px 0 0;
            position: absolute;
        }
        .POMPBalanceSheet_mainFilter li span {
            color: #4d4d4d;
            font-size: 1.2em;
        }
        .POMPBalanceSheet_mainFilter li select {
            display:inline-block;
            color: #666;
            font-size: 1.05em;
            border:1px solid #727276;
            width:66%;
            background-color:#ddd;
        }
        .POMPBalanceSheet_mainFilter li a {
            border-radius:2px;
        }
/************** AQUI VAN LOS TABS DE INDICADORES Y BALANCEE **************/
.POMPBalanceSheet_tabs {
    margin:12px 0 0 9px;
    padding:0px;
    width:100%;
}
    .POMPBalanceSheet_tabs li{
        background-color: #b3b3b3;
        border: 1px solid #727276;
        border-top-right-radius: 7px;
        display: inline-block;
        padding: 4px 10px 1px 10px;
        height: 27px;
    }
        .POMPBalanceSheet_tabs li a{
            display:inline-block;
            /*border:1px solid green;*/
            color:#333;
        }
.POMPBalanceSheet_tabs li.selected{
    border-top-right-radius: 7px;
    border-bottom:none;
    padding:6px 10px 1px 10px;
    margin:0px; height: 29px;
    background-color:#ddd;
}
/************** AQUI VA EL CONTENIDO DE CADA TAB OSEA LAS TABLAS DE CUENTAS *************/

.POMPBalanceSheetContent {
    border-top:1px solid #727276;
    margin:-1px 0px 0px 0px;
    width:auto;
    padding:0px;
}
    .POMPBalanceSheetContent ul{
        /*border:1px solid pink;*/
        margin:0px; padding:0px;
        list-style-type:none;
    }
        .POMPBalanceSheetContent ul li{
            /*border:1px solid green;*/
            background-color:#ddd;
        }
            .POMPBalanceSheetContent ul li ul{
                /*border:1px solid blue;*/
                background-color:#ddd;             
            }
            .POMPBalanceSheetContent ul li label {
                font-size:1.08em;
                font-weight:bold;
                color:#333;
                display:block;
                width:158px;
                margin:0px auto;
                text-align:center;
            }
                .POMPBalanceSheetContent ul li ul li{
                    /*border:1px solid darkred;*/
                }
                .POMPBalanceSheetContent > ul > li > ul > li > span{
                    border:1px solid grey;
                    font-size:0.8em;
                    margin:10px 0px 0px 0px;
                    background-color:#eeeeee;
                    text-align:left;
                }
                /******** HEADER COLUMNAS ********/
                .POMPBalanceSheetColumnOne,
                .POMPBalanceSheetColumnTwo,
                .POMPBalanceSheetColumnThree,
                .POMPBalanceSheetColumnFour,
                .POMPBalanceSheetColumnDataOne,
                .POMPBalanceSheetColumnDataTwo,
                .POMPBalanceSheetColumnDataThree,
                .POMPBalanceSheetColumnDataFour{
                    display:inline-block;
                    letter-spacing:-0.5px;
                    background-color:#fff !important;
                    padding:5px 2px 5px 4px;
                    line-height:1.06em;                    
                }
                    .POMPBalanceSheetColumnDataTwo,
                    .POMPBalanceSheetColumnDataThree,
                    .POMPBalanceSheetColumnDataFour{
                        text-align:right;
                        height:28px !important;
                    }

                    .POMPBalanceSheetColumnOne,
                    .POMPBalanceSheetColumnDataOne {
                        width:22%;
                        text-align:left;
                    }
                        .POMPBalanceSheetColumnDataOne {
                            height:28px !important;
                            padding:0px 2px 0px 4px !important;
                        }
                    .POMPBalanceSheetColumnTwo,
                    .POMPBalanceSheetColumnDataTwo {
                        width:16%;
                    }
                    .POMPBalanceSheetColumnThree,
                    .POMPBalanceSheetColumnDataThree {
                        width:14%;  
                    }
                    .POMPBalanceSheetColumnFour,
                    .POMPBalanceSheetColumnDataFour {
                        width:15.1%;
                    }
/********** DATOS DE LAS CELDAS **********/
                    .POMPBalanceSheetContent ul li ul li > ul > li > ul > li > span{
                        border:1px solid grey;
                        font-size:0.8em;
                        margin:3px 0px;
                        vertical-align:top;
                    }
    .POMPBalanceSheetContentFormulaFields {
        /*border:1px solid aquamarine;*/
        background-color:#c5c5c5 !important;
    }
        .POMPBalanceSheetContentFormulaFields li{
            display:block;
            background-color:#ffb362 !important;
            width:100%; height:auto; 
        }
            .POMPBalanceSheetContentFormulaFields > li > span{
                letter-spacing:-0.5px;
                background-color:#fff !important;
                padding:5px 2px 5px 4px;
                line-height:1.06em;
                display:inline-block;
                margin:3px 0px 3px 0px !important;
            }
                .FormulaFieldsColumnOne{
                    width: 22%;
                    height: 28px !important;
                    padding: 0 2px 0 4px !important;
                }
                .FormulaFieldsColumnTwo,
                .FormulaFieldsColumnThree,
                .FormulaFieldsColumnFour{
                    text-align:right;
                    height: 28px !important;
                }
                    .FormulaFieldsColumnTwo{
                        width:16%;
                    }
                    .FormulaFieldsColumnThree{
                        width:14%;
                    }
                    .FormulaFieldsColumnFour{
                        width:15.1%; 
                    }
        /********** ESTE PINTA EL ULTIMO GRUPO DE VALORES ***********/

                .POMPBalanceSheetContent > ul > li > ul > li > ul > li > span{
                    border:1px solid grey;
                    font-size:0.8em;
                    margin:2px 0px;
                    background-color:#eeeeee;
                    vertical-align:top;
                    height: 24px;
                }
/********** EN ESTE LADITO SE PINTA INDICADORES FINANCIEROS ***********/
.POMPBalanceSheetFinanceIndex {
    margin:0px;
    text-align:left;
    padding: 12px 0px 0px 0px;
}
    .POMPBalanceSheetFinanceIndex span{
        background-color:#fff;
        border:1px solid grey;
        font-size:0.9em;
        padding:3px 5px;
        display:inline-block;
        text-align:left;
    }
        .POMPBalanceSheetFinanceCellOne{
            width:21%;
        }
        .POMPBalanceSheetFinanceCellTwo{
            width:11%;
        }
        .POMPBalanceSheetFinanceCellThree{
            width:8%;
        }
        .POMPBalanceSheetFinanceCellFour{
            width:23%;
        }
        .POMPBalanceSheetFinanceCellFive{
            width:23%;
        }

.POMPBalanceSheetFinanceIndexData {
    margin:0px; padding:0px; width:auto; height:auto;
}
.POMPBalanceSheetFinanceIndexData ul > li{
    /*border:1px solid red;*/
}
.POMPBalanceSheetFinanceIndexData ul > li > label{
    /*border:1px solid green;*/
    width:100%;
    margin:0px; padding:4px 0px;
}
.POMPBalanceSheetFinanceIndexData ul > li > ul > li {
    /*border:1px solid blue;*/
    display:block;
}
.POMPBalanceSheetFinanceIndexData ul > li > ul > li > span{
       padding:2px;
       height:auto !important;
       display:inline-block;
       background-color:#fff !important;
       min-height:35px;
       line-height: 1.21em;
}
.IndexDataAccountTypeColumnOne {
    width:20.9%;
}
.IndexDataAccountTypeColumnTwo {
    width:11.1%;
}
                .IndexDataAccountTypeColumnTwo,
                .IndexDataAccountTypeColumnThree {
                    text-align:right;
                }
.IndexDataAccountTypeColumnThree {
    width:8%;
}
.IndexDataAccountTypeColumnFour {
    width:23.1%;
}
.IndexDataAccountTypeColumnFive {

    width:22.9%;
}
