.POMPComparisonTitle, .POMPComparisonSelectionTitle{
        color: #4d4d4d;
    display: block;
    font-size: 1.4em;
    font-weight: normal;
    letter-spacing: -1px;
    line-height:0.9em;
    margin: 6px 0 4px 8px;
    max-width:273px;
}
.POMPComparisonActionWrapper {
    display:block;
    border:1px solid green;
    width:auto; height:auto;
    margin:0px; padding:0px;
}
    .POMPComparisonActionWrapper a{
        display:inline-block;
        border:1px solid green;
        width:auto; height:auto;
        margin:0px; padding:0px;
        text-align:center;
        vertical-align:top;
    }
        .POMPComparisonActionWrapper a div{
            display:block;
            border:1px solid green;
            width:42px; height:42px;
            margin:0px auto; padding:0px;
        }
        .POMPComparisonActionWrapper a span{
            border:1px solid blue;
            width:auto; height:auto;
            margin:0px; padding:0px;
            color:#337ab7;
            font-size:0.8em; line-height:0.8em; letter-spacing:-0.6px;
        }
        .POMPComparisonActionNew{
            margin: 0 0 0 24px !important;
            width: 102px !important;
        }
        .POMPComparisonSelectionTitle {
            font-size: 1.12em !important;
            letter-spacing: -1px !important;
            line-height: 1em !important;
        }
/********** MUESTRA LA LISTA DE PROVEEDORES SELECCIONADOS PARA COMPARACION **********/
.POMPComparisonProvListWrapper {
            display:block;
        border:1px solid green;
        width:auto; height:auto;
        margin:0px; padding:0px;
}
        .POMPComparisonProvListWrapper li{
            list-style-type:none;
            margin:0px 0px 10px 0px;
        }
.POMPComparisonResultLineOne {
    border:1px solid red;
    display:block;
    margin:0px; padding:0px;
    width:100%; height:auto;
    max-width:327px;
}
    .POMPComparisonResultStatusCertified{
            border:none;
        display:inline-block;
        width:30px; height:36px;
        vertical-align:top;
        background-image:url('http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/POMPsprite1.png');
        background-repeat:no-repeat;
        background-position:-7px -2px;
        background-size:151px auto;
    }
        .POMPComparisonResultProvLogo {
            border:1px solid brown;
            display:inline-block;
            width:60px; height:auto;
            vertical-align:middle;
        }
        .POMPComparisonResultProvDataWrapper {
            border:1px solid purple;
            display:inline-block;
            width:auto; height:auto;
            vertical-align:top;
            max-width:170px;
        }
            .POMPComparisonResultProvDataWrapper a{
                border:1px solid purple;
                display:block;
                font-size:1.1em; line-height:1.1em; font-weight:normal;
                letter-spacing:-0.8px;
            }
            .POMPComparisonResultProvDataWrapper label, .POMPComparisonResultProvDataWrapper span{
                border:1px solid green;                
                font-size:0.9em; line-height:1.3em; font-weight:normal;
                letter-spacing:-0.1px;
                color:#4d4d4d;
            }
            .POMPComparisonResultProvDataWrapper label span {
                font-weight:bold;
            }
        .POMPComparisonResultProvAlert{
               border:none !important;
            display:inline-block;
            width:21px; height:20px;
            margin:0px 0px 0px 2px; padding:0px;
            vertical-align:top;
            background-image:url('http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/POMPsprite1.png');
            background-repeat:no-repeat;
            background-position:-20px 1px;
            background-size:80px auto;
        }
        .POMPComparisonResultIncludeCoparisonIcon {
                border:none !important;
            float:right;
            width:21px; height:20px;
            margin:0px; padding:0px;
            background-image:url('http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/POMPsprite1.png');
            background-repeat:no-repeat;
            background-position:-62px -19px;
            background-size:80px auto;
        }
.POMPComparisonResultLineTwo {
        border-bottom:1px solid #ff8300;
    display:block;
    margin:0px; padding:0px;
    width:100%; height:61px;
    max-width:327px;
}
    .POMPComparisonResultProvRating{
        border:1px solid red;
        display:inline-block;
        width:84px; height:24px;
        margin:4px 0px 0px 23px;
    }
        .POMPComparisonResultProvActions{
            border:1px solid orange;
            display:block;
            margin:4px 0px 0px 0px;
            font-size:0.8em;
            text-align:center;
        }
        div.POMPComparisonResultProvActions a{
            border-right:1px solid #666;
            margin:0px; padding:0px 4px;
            letter-spacing:-0.4px;
        }
        div.POMPComparisonResultProvActions a:nth-child(3){
            border-right:none;
        }