/************ AQUI VA LA TODA LA INFORMACION DEL DATA WRAPPER ***********/
.POMPSectionTitles {
    font-size: 1.5em; font-weight: normal; letter-spacing: -1px;
    display: block;
    margin:0 12px 7px 8px; padding:21px 0 0px 14px;
    color: #fff;
    box-shadow:1px 1px 3px #444;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
    border: 1px solid #666; border-bottom:none;
    background-color:#f87b00;
    background-image:url(http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/BGScatterLogoSmall.png);
    background-position:238px -165px; background-size:941px auto; background-repeat:no-repeat;
}
.POMPProviderInfoDisplayList,
.POMPProviderInfoMultipleValues{
    padding:0px;
}
/*********** ESTOS ESTILOS MUESTRAN LA INFORMACION DE PROVEEDOR
           CUANDO LA LISTA SOLO TIENE UN TIPO Y UN VALOR POR ITEM ************/
    .POMPProviderInfoDisplayList li {
        display:inline-block;
        height: auto;
        vertical-align: top;
        width: 42%;
        margin: 0px 0px 0px 48px;
        padding:12px 0 2px 12px;
        list-style-type:none;
        border-bottom: 2px dotted #ddd;
    }
        .POMPProviderInfoDisplayList li label {
            color: #0066ae;
            font-size: 1.35em; font-weight:normal;
            letter-spacing:0.8px; line-height:1.3em;
            margin: 0px; width:89%;
    }
        .POMPProviderInfoDisplayList li label > span {
            display: block; font-size: 0.8em;
            font-weight: normal; letter-spacing: -0.5px;
            line-height: 1.7em; color:#666;
        }
        /********** MUESTRA EL CASO DE TIPO Y VALOR ***********/
        .POMPProviderTypeOption, .POMPProviderTypeOption span{
            color: #666 !important;
            font-size:17px !important;
            letter-spacing: -0.7px !important;
            line-height: 1em !important;
            margin:6px 0px 0px 0px;
        }
            .POMPProviderTypeOption span{
                display:inline-block !important;
            }
/*********** ESTOS ESTILOS MUESTRAN LA INFORMACION DE PROVEEDOR
        CUANDO LA LISTA TIENE MULTIPLES TIPOS Y UN VALORES POR ITEM ************/
    .POMPProviderInfoMultipleValues li {
        display:inline-block;
        height: auto;
        vertical-align: top;
        width: 88%;
        margin: 0px 0px 0px 48px;
        padding:12px 0 10px 12px;
        list-style-type:none;
        border-top: 1px solid #ff8300;
    }
    .POMPProviderInfoMultipleValues li:first-child {
        border-top:none;
    }
        .POMPProviderInfoMultipleValues li label {
            color: #0066ae;
            font-size: 1.14em; font-weight:normal;
            letter-spacing:-0.2px; line-height:1em;
            margin:0px 5px 0px 0px; width:32%; max-width:232px;
            padding:6px 0px; border-top:1px solid #d4d4d4;
            vertical-align:top;
    }
        .POMPProviderInfoMultipleValues li label > span {
            display: block; font-size: 0.93em;
            font-weight: normal; letter-spacing: -0.5px;
            line-height: 1.5em; color:#666;
            white-space: nowrap;
            overflow:hidden !important;
            text-overflow: ellipsis;
        }
        .POMPProviderInfoMultipleValues li label > iframe,
        .POMPProviderDocumetIcon{
            border: 1px solid #d4d4d4;
            margin: 5px 0 0; padding: 2px;          
        }
            .POMPProviderInfoMultipleValues li label > iframe{
                width:230px; height:100px;
            }
            /********** MUESTRA EL ICONO DE VER DOCUMENTO PDF *********/
            .POMPProviderDocumetIcon {
                display:block;
                background-size:52px auto;
                background-position:4px 4px;
                background-image:url('http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/documentIconSmall.png');
                background-repeat:no-repeat;
                width:62px; height:76px;
            }
        .POMPProviderInfoMultipleValues li label > a{
            display: block;
            font-size:0.8em;
        }






a.POMPSmallCaption {
        color: #ff8400;
        font-size: 0.9em;
        font-weight: normal;
        letter-spacing: -0.7px;
        margin: 0px;
        display: block;
    }


    
