.POMPFooterPosition {
    position: absolute;
    left:0px;
    bottom: -100px;
    width: 100%;
    height: 100%;
}
.POMPFooterWrapper {
    border:none;
}
    .POMPFooterLegal, .POMPFooterLogos{
        display:block;
        border:none;
        width:100%;
        position: relative;
        z-index: 100;
        min-width:960px;
    }        
        .POMPFooterLogos {
            bottom:-34px;
            height:76px;
            text-align:right;
            background-color:#b3b3b3;
        }
            .POMPFooterLogos img:first-child {
                width:auto; height:57px;
                float:left; left:12px; top:8px;
            }
            .POMPFooterLogos img{
                position:relative;
                width:auto;
                height:auto;
                    border:none;
                right:12px;
                top:13px;
            }
        .POMPFooterLegal {
            bottom:-34px;
            height:22px;
            background-color:#727276;
            text-align: center;
        }
            .POMPFooterLegal span, .POMPFooterLegal a{
                color: #fff;
                font-size: 0.9em;
            }


/*MANUAL MENU*/

.div-centered{
    float: none;
    margin: 0 auto;
}

#POMPManuals {
    position: absolute;
    bottom: 24px;
    left: 14px;
    width: 100%;
    height: 65px;
    z-index: 100;
    display: inline-block;
}

#POMPManualTittle {
    height:25px;
    width:90px;
    background-color:#fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 1px solid #E4E4E4;
    border-right: 1px solid #E4E4E4;
    border-left: 1px solid #E4E4E4;
    cursor: pointer;
}
#POMPManualIcons {
    height:25px;
    width:200px;
    height:60px;
    background-color:#fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
    border-right: 1px solid #E4E4E4;
    border-left: 1px solid #E4E4E4;

}

.POMPPdfIcon {
    padding-top:5px;
    width:36%;
}
