
.POMPFinancialBalanceGreatWrapper {
    border: 1px solid #c5c5c5;
    margin: 10px 0 0 8px;
    width: calc(100% - 16px);
}
.POMPBalanceSheet_mainFilter {
    border-bottom: 1px solid #c5c5c5;
    background-color: #f9f9f9;
    margin: 0px !important;
    padding: 24px 0 0 15px;  
    height:67px;
}
    .POMPBalanceSheet_mainFilter li{
        display: inline-block;
        height: auto;
        vertical-align: top;
        width: 37.5%;
    }
    .POMPBalanceSheet_mainFilter li:nth-child(3){
        display: inline-block;
        height: auto;
        vertical-align: top;
        width:auto;
    }
        .POMPBalanceSheet_mainFilter li label {
            display: inline;
            font-size: 0.9em;
            font-weight: normal;
            margin: -21px 0 0;
            position: absolute;
        }
        .POMPBalanceSheet_mainFilter li span {
            color: #4d4d4d;
            font-size: 1.2em;
        }
        .POMPBalanceSheet_mainFilter li select {
            display:inline-block;
            color: #666;
            font-size: 1.05em;
            border:1px solid #727276;
            width:66%;
            background-color:#f9f9f9;
        }
        .POMPBalanceSheet_mainFilter li a {
            border-radius:2px;
        }
/************** AQUI VAN LOS TABS DE INDICADORES Y BALANCEE **************/
.POMPBalanceSheet_tabs {
    margin:12px 0 0 9px;
    padding:0px;
    width:100%;
}
    .POMPBalanceSheet_tabs li{
        background-color: #b3b3b3;
        border: 1px solid #727276;
        border-top-right-radius: 7px;
        display: inline-block;
        padding: 5px 9px 1px 4px;
        height: 27px;
    }
        .POMPBalanceSheet_tabs li a{
            display:inline-block;
            border:1px solid green;
            color:#333;
        }
.POMPBalanceSheet_tabs li.selected{
    border-top-right-radius: 7px;
    border-bottom:none;
    padding: 7px 6px 1px;
    margin:0px; height: 29px;
    background-color:#eeeeee;
}
/************** AQUI VA EL CONTENIDO DE CADA TAB OSEA LAS TABLAS DE CUENTAS *************/

.POMPBalanceSheetContent {
    border-top:1px solid #727276;
    margin:-1px 0px 0px 0px;
    width:auto;
    padding:0px;
}
    .POMPBalanceSheetContent ul{
        border:1px solid pink;
        margin:0px; padding:0px;
        list-style-type:none;
    }
        .POMPBalanceSheetContent ul li{
            border:1px solid green;
        }
            .POMPBalanceSheetContent ul li ul{
                border:1px solid blue;
                background-color:#eeeeee;             
            }
            .POMPBalanceSheetContent ul li label {
                font-size:1.08em;
                font-weight:bold;
                color:#666;
                display:block;
                width:158px;
                margin:4px auto;
                text-align:center;
            }
                .POMPBalanceSheetContent ul li ul li{
                    border:1px solid darkred;
                }
                .POMPBalanceSheetContent > ul > li > ul > li > span{
                    border:1px solid grey;
                    padding:4px;
                    font-size:0.8em;
                    margin:10px 0px 0px 0px;
                    background-color:#eeeeee;
                }
                /******** HEADER COLUMNAS ********/
                .POMPBalanceSheetColumnOne,
                .POMPBalanceSheetColumnTwo,
                .POMPBalanceSheetColumnThree,
                .POMPBalanceSheetColumnFour,
                .POMPBalanceSheetColumnDataOne,
                .POMPBalanceSheetColumnDataTwo,
                .POMPBalanceSheetColumnDataThree,
                .POMPBalanceSheetColumnDataFour{
                    display:inline-block;
                    letter-spacing:-0.5px;
                    background-color:#fff !important;
                    padding:5px 2px 5px 4px;
                    line-height:1.06em;
                }
                    .POMPBalanceSheetColumnDataTwo,
                    .POMPBalanceSheetColumnDataThree,
                    .POMPBalanceSheetColumnDataFour{
                        text-align:right;
                    }

                    .POMPBalanceSheetColumnOne,
                    .POMPBalanceSheetColumnDataOne {
                        width:22%;
                    }
                        .POMPBalanceSheetColumnDataOne {
                            height:24px !important;
                            padding:0px 2px 0px 4px !important;
                        }
                    .POMPBalanceSheetColumnTwo,
                    .POMPBalanceSheetColumnDataTwo {
                        width:16%;
                    }
                    .POMPBalanceSheetColumnThree,
                    .POMPBalanceSheetColumnDataThree {
                        width:14%;  
                    }
                    .POMPBalanceSheetColumnFour,
                    .POMPBalanceSheetColumnDataFour {
                        width:15%;
                    }
/********** DATOS DE LAS CELDAS **********/
                    .POMPBalanceSheetContent ul li ul li > ul > li > ul > li > span{
                        border:1px solid red;
                        font-size:0.8em;
                        margin: 2px 0;
                        vertical-align:top;
                    }
    .POMPBalanceSheetContent ul li ul li > div {
        border:1px solid aquamarine;
        font-size:0.8em;
        text-align:center;
        background-color:#c5c5c5;
    }
        .POMPBalanceSheetContent ul li ul li > div > span:nth-child(1),
        .POMPBalanceSheetContent ul li ul li > div > span:nth-child(2),
        .POMPBalanceSheetContent ul li ul li > div > span:nth-child(3),
        .POMPBalanceSheetContent ul li ul li > div > span:nth-child(4),
        .POMPBalanceSheetContent ul li ul li > div > span:nth-child(5),
        .POMPBalanceSheetContent ul li ul li > div > span:nth-child(6){
            border:1px solid aquamarine;
            letter-spacing:-0.5px;
            background-color:#fff !important;
            padding:5px 2px 5px 4px;
            margin:1px 0px;
            line-height:1.06em;
            display:inline-block;
            vertical-align:top;
        }
            .POMPBalanceSheetContent ul li ul li > div > span:nth-child(2),
            .POMPBalanceSheetContent ul li ul li > div > span:nth-child(3),
            .POMPBalanceSheetContent ul li ul li > div > span:nth-child(4),
            .POMPBalanceSheetContent ul li ul li > div > span:nth-child(5),
            .POMPBalanceSheetContent ul li ul li > div > span:nth-child(6) {
                text-align:right;
            }
        .POMPBalanceSheetContent ul li ul li > div > span:nth-child(1){
            height: 24px !important;
            padding:0px 2px 0px 4px !important;
            width:22%;
            text-align:left;
            font-weight:bold;
            font-size: 1em;
            font-weight: bold;
        }
        .POMPBalanceSheetContent ul li ul li > div > span:nth-child(2){
            width:16%;
        }
        .POMPBalanceSheetContent ul li ul li > div > span:nth-child(3){
            width:14%; 
        }
        .POMPBalanceSheetContent ul li ul li > div > span:nth-child(4){
            width:16%;
        }
        .POMPBalanceSheetContent ul li ul li > div > span:nth-child(5){
            width:14%;
        }
        .POMPBalanceSheetContent ul li ul li > div > span:nth-child(6){
            width:15%;
        }
        /********** ESTE PINTA EL ULTIMO GRUPO DE VALORES ***********/

                .POMPBalanceSheetContent > ul > li > ul > li > ul > li > span{
                    border:1px solid grey;
                    font-size:0.8em;
                    margin:2px 0px;
                    background-color:#eeeeee;
                    vertical-align:top;
                }