/***********NEW STYLES 03-Nov-2015**********/
.POMPSurveyBorderBotttom{
    border-bottom:1px solid #ff8300;
}
.POMPFormsizeText > h2 {
    font-size: 1.3em;
    margin-left: 1.5em;
}
.POMP_SurveyControls > a {
    color: #337ab7 !important;
    text-decoration: none;
}

/****************Survey********************/
.PMMPSurveyHeader > div {
    display: inline-block;
    vertical-align: top;
}

.POMPSurveyContainerPosition {

    margin-left: 10px;
}

.PMMPSurveyProviderInfo {
    width: 78%;
    min-width: 500px;
}

    .PMMPSurveyProviderInfo > ul {
        list-style-type: none;
        margin-top: 5px;
    }

        .PMMPSurveyProviderInfo > ul > li {
            width: 33%;
            display: inline-block;
            vertical-align: top;
            margin-bottom: 10px;
        }

            .PMMPSurveyProviderInfo > ul > li > span {
                width: 100%;
                display: inline-block;
                margin-top: 5px;
            }

            .PMMPSurveyProviderInfo > ul > li .selProgressBar {
                width: 80%;
                height: 22px;
                margin: -2px 0px -2px 0px;
            }

/**************Survey Questions******************/
.PMMPMandatorySurvey {
    margin: 10px 0px;
    display: block;
}

.PMMPSurveyQuestions {
    padding: 1% 3%;
}

.PMMPEvaluationArea {
    margin: 10px 0px;
}

    .PMMPEvaluationArea > ul {
        list-style-type: none;
    }

        .PMMPEvaluationArea > ul > li {
            padding: 8px 0;
        }

            .PMMPEvaluationArea > ul > li > ul {
                list-style-type: none;
            }

                .PMMPEvaluationArea > ul > li > ul > li {
                    padding: 0.2em 0;
                }

.PMMPSurveyFinished {
    padding: 10% 0px;
    text-align: center;
    font-size: 18px;
    /*border-top: 1px solid #FF8300;*/
    width: 98%;
    margin-left: 1%;
}

#Survey_ProgramSurvey_EvaluatorDiv li label {
    width: 40.5%;
}
