/************** ESTE ES EL CONTENEDOR
    DEL HEADER *************/
.POMPProjectBidGreatWrapper {
    display:block;
        border-bottom:2px solid #ff8300;
    width:auto; height:auto; min-width:960px;
    margin:0px; padding:0px 18px 12px; 
    text-align:left;
}
.POMPProjectBidGreatWrapper > div{
        display:block;
        border:none;
    width:auto; height:auto;
    margin:0px; padding:0px;
    text-align:left;
}
.POMPProjectBidGreatWrapper > div > label{
    background-color: #eeeeee;
    border-bottom: 1px dotted #5d5d5d !important;
    border-top: medium none !important;
    color: #5d5d5d !important;
    display: block;
    font-size: 1.1em !important;
    line-height: 1em !important;
    margin: 8px 0 6px !important;
    max-width: 100% !important;
    min-height: 33px !important;
    padding: 8px 0 0 !important;
    width: 100% !important;
    letter-spacing: -0.5px;
}
    ul.POMPProjectBidMainData,
    ul.POMPProjectBidDataActions {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        vertical-align:top;
        width:70%;
    }
        ul.POMPProjectBidMainData > li {
            display:inline-block;
            width:48.2%;
            vertical-align:top;
            margin:4px 0 0 4px;
            min-height: 32px;
            height:auto;
        }
.POMPProjectBidDataActions{
    text-align:right !important;
    width:96.2% !important;
    border-bottom:none !important;
    min-height: initial !important;
}

    .POMPProjectBidDataActions > a {
        border-left: 1px solid gray;
        display: inline-block;
        font-size: 0.88em;
        margin: 0;
        padding: 0 8px;
        width: auto;
    }
    .POMPProjectBidDataActions > a:first-child {
        border-left: none;        
    }
.POMPProjectBidMainData label,
.POMPProjectBidMainData span {
    font-size: 0.95em;
    letter-spacing: -0.2px;
    display:inline-block;
    font-weight: normal;
    line-height: 1em;
    margin:0px;
    padding: 4px 0 0;
}
.POMPProjectBidMainData label{    
    color: #0066ae;    
}
.POMPProjectBidMainData span{
    color: #666;
}
li.POMPProjectBidActivityData{
    width: 48.2% !important;
    min-height: 80px !important;
    overflow-y: auto;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
li.POMPProjectBidActivityData ul{
    margin:0px; padding:0px 0px 0px 10px;
}
    li.POMPProjectBidActivityData ul li{
        list-style-type:none;
    }
    li.POMPProjectBidWinClosingNote {
        width:97.6% !important;
    }

/*********** AQUI SE PINTA LO DE CARGAR ARCHIVOS ************/
.POMPProjectBidFileUploadWrapper {
    border-left : 1px solid grey !important;
    display: inline-block !important;
    min-height: 222px; max-height: 222px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 29.4% !important;
    margin: 4px 0 0 !important;
    padding: 0 0 0 6px;
}
.POMPProjectBidFileUploadWrapper > label {
    display:block;
    width:100%; height:auto;
    color:#5d5d5d;
    background-color:#f9f9f9;
    font-weight:normal;
    padding:6px 0px 6px 8px;
}
.POMPProjectBidFileUploadWrapper > div.k-upload{
    border-radius:0px !important;
}
    .POMPProjectBidFileUploadWrapper div.k-dropzone {
        display: inline-block;
        background-color:#f9f9f9;        
        border-radius:0px;
        width:99%; padding:0px;
        min-height:48px;
    }
    .POMPProjectBidFileUploadWrapper div.k-upload-button{
        border: 1px solid #666;
        display: inline-block;
        height: 26px;
        width: auto;
        padding:0px;
    }
    .POMPProjectBidFileUploadWrapper ul.k-upload-files {
        margin: 0!important;
    }
    .POMPProjectBidFileUploadWrapper ul.k-upload-files > li.k-file {
        height: 36px !important;
        padding: 0 0.167em 0 0.8em !important;
    }
    .POMPProjectBidFileUploadWrapper ul.k-upload-files > li.k-file > span.k-filename{
        font-size: 0.9em !important;
        max-width: 12.667em !important; 
    }
.POMPProjectBidFileUploadWrapper > div > em{
    display: inline-block;
    width: calc(100% - 111px);
    height: 42px;
}
.POMPProjectBidFileUploadWrapper > ul {
    list-style-type:none;
    padding:0px; margin:0px;
}
    .POMPProjectBidFileUploadWrapper > ul > li {
        display:block;
        border-bottom:1px solid #ff8300;
        padding: 1px 0 2px;
    }

    a.POMPFileUploadDelet{
        background-image: url("http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/cross.png");
        background-position:-19px 0px;
        background-repeat: no-repeat;
        background-size: 35px auto;
        width:16px; height:16px;
        margin:0 0 0 4px;
        display:inline-block;
    }
    div.POMPFileUploadIcon{
        background-image: url("http://stgproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/defult_text.png");
        background-repeat:no-repeat;
        background-position:1px 1px;
        background-size:20px 20px;
        display: inline-block;
        height: 20px;
        margin: 0; padding: 0;
        width: 20px;
    }
    a.POMPFileUploadName{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 80%;      
        color: #555;
        display: inline-block;
        font-size: 0.88em;
        letter-spacing: -0.4px;
        line-height: 1.3em; 
    }
/*********** AQUI SE PINTA EL LISTADO DE 
    PROVEEDORES A PRECALIFICAR ************/
.POMPProjectBidGridWrapper,
.POMPProjectBidProviderAreaGrid {
    width:auto; height:auto;
    display:block; list-style-type:none;
}
.POMPProjectBidGridWrapper{
    min-width:960px;
    margin:10px 0; padding:0 18px 4px;
}
.POMPProjectBidGridWrapper > li{
    display:block;
    width:100%; height:auto;
    margin:0px 0px 2px 0px; padding:0px;    
}
    .POMPProjectBidGridWrapper > li:nth-child(even) > ul > li.POMP_ProjectDetail_Win,
    .POMPProjectBidGridWrapper > li:nth-child(even) > ul > li.POMP_ProjectDetail_Lose{
        background-color:#e6e6e6;
    }
.POMPProjectBidProviderAreaGrid {
    margin:0px; padding:0px;
}
.POMPProjectBidProviderAreaGrid > li{ 
    display:inline-block;
    vertical-align:bottom;
    height:50px;
}
    .POMPProjectBidProviderAreaGrid > li:first-child {
        width:27%;
    }
    .POMPProjectBidProviderAreaGrid > li:nth-child(2),
    .POMPProjectBidProviderAreaGrid > li:nth-child(3),
    .POMPProjectBidProviderAreaGrid > li:nth-child(4),
    .POMPProjectBidProviderAreaGrid > li:nth-child(5){
        width:13%;
        margin:0 0 0 -4px;
    }
.POMPProjectBidProviderAreaGrid > li:nth-child(6){
    width:20.8%;
    margin:0 0 0 -4px;
    background-color:#fff;
}
.POMPProjectBidProviderAreaGrid li > label{
        display:block;
    font-size: 0.9em;
    font-weight:bold;
    letter-spacing: -0.2px;
    line-height: 1em; margin:6px 0 0 6px;
}
.POMPProjectBidProviderAreaGrid li > label > span{
    font-weight:normal;
    display:block;
}
.ProviderRowes > li{
    border-bottom: 1px solid #ff8300;
    height:102px;
}
.ProviderRowes > li:first-child{
    background-color:#fff !important;
}
    .ProviderRowes > li:first-child div.ProveedorPendiente,
    .ProviderRowes > li:first-child div.ProveedorAprobado,
    .ProviderRowes > li:first-child div.ProveedorRechazado,    
    .ProviderRowes > li:first-child div.ProveedorAdjudicado{
        width:20px; height:20px;
        border:none;
        margin: -85px 0 0 92%;
        position: relative;
    }
    .ProviderRowes > li:first-child div.ProveedorPendiente,
    .ProviderRowes > div > div.ProveedorPendiente{
        background-image:url("http://proveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/pendiente.png");
        background-position: -4px -3px;
        background-repeat: no-repeat;
        background-size: 24px auto;
    }
    .ProviderRowes > li:first-child div.ProveedorAprobado,
    .ProviderRowes > div > div.ProveedorAprobado {
        background-image: url("http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/OKicon.png");
        background-position: 0 -3px;
        background-repeat: no-repeat;
        background-size: 23px auto;
        -ms-transform: rotate(-17deg);
        -webkit-transform: rotate(-17deg);
        transform: rotate(-17deg);
    }
    .ProviderRowes > li:first-child div.ProveedorRechazado,
    .ProviderRowes > div > div.ProveedorRechazado {
        background-image: url("http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/cross.png");
        background-position:-19px 1px;
        background-repeat: no-repeat;
        background-size: 35px auto;
    }
    .ProviderRowes > li:first-child div.ProveedorAdjudicado,
    .ProviderRowes > div > div.ProveedorAdjudicado {
        background-image: url("http://proveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/award_iconSmall.png");
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 18px auto;
        height: 30px;
    }
/**************** ESTADOS DE CRITERIOS DE SELECCION
    PASA, NO PASA ETC. ****************/
.POMP_ProjectDetail_Win span,
.POMP_ProjectDetail_Lose span{
    display:inline-block;
    margin:39px 0 0 5px;
    font-size: 0.88em;
}
.POMP_ProjectDetail_Lose{
    border-left:12px solid #FF2A2A;  
}
.POMP_ProjectDetail_Win {
    border-left:12px solid #55D400;
}
/**************** acciones DE CRITERIOS DE SELECCION
    DETALLE, SOLICITAR, APROVACION. ****************/
.POMPProjectBidProviderActions {
    list-style-type:none; padding:0; margin:23px 0px 0px 0px;
}
.POMPProjectBidProviderActions li{
    padding:0 0 0 8px; margin:0px;
    height:14px;
}
    .POMPProjectBidProviderActions li a,
    .POMPProjectBidProviderActions li span {
        font-size:0.89em;
    }
    div.Pendiente, div.Aprobado, div.Rechazado{
        border: medium none !important;
        display: inline-block;
        margin: 41px 0 0 2%;
        padding: 0;
        height: 16px !important;            
        width: 16px !important;
        vertical-align: top;
        display: inline-block;
    }
        div.Aprobado{
            background-image: url("http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/OKicon.png");
            background-position: 0 -4px;
            background-repeat: no-repeat;
            background-size: 22px auto;
            -ms-transform: rotate(-17deg);
            -webkit-transform: rotate(-17deg);
            transform: rotate(-17deg);
        }
        div.Rechazado{
            background-image: url("http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/cross.png");
            background-position:-15px 2px;
            background-repeat: no-repeat;
            background-size: 28px auto;
        }        
        div.Pendiente{
            background-image:url("http://proveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/pendiente.png");
            background-position: -3px -2px;
            background-repeat: no-repeat;
            background-size: 22px auto;
            height: 18px !important;
        }
/************** DETALLE DEL AREA DE APROBACION *************/
.POMPProjectBidDetailGreatWrapper {
    margin:0; padding:8px 18px;
    display:block; width:auto; height:auto;
}
/****** CONTIENE PROVEEDOR Y MENU ******/
div.POMPProjectBidDetailMenu{
    margin:inherit; padding:1px 5px 0px 0px;
    display:inline-block; border-right:2px solid #ff8300;
    width:238px; height:inherit; min-height:349px;
    vertical-align:top;
}
    .POMPProjectBidAreas {
        margin:inherit; padding:0px;
        display:inline-block; 
        width:100%; height:inherit;
        vertical-align:top;
        list-style-type:none;
    }
    .POMPProjectBidAreas li,
    .POMPprojectmenuselected{
        padding:3px 0px; margin:0px 0px 3px 0px;
        font-size:0.9em !important; letter-spacing:-0.7px;
    }
    .POMPprojectmenuselected {
        background-color:#ff8300;        
    }
    .POMPprojectmenuselected a{
        color:#fff !important;  margin: 0 0 0 12px;
        font-size:inherit;
    }
        .POMPProjectBidAreas > li > a{
        color:#333; margin: 0 0 0 12px;
        font-size:inherit;
        }
.POMPProjectBidDetailData{
    margin:inherit; padding:0px;
    display:inline-block;
    width:calc(100% - 242.9px); height:inherit;
    vertical-align:top;
}    
.POMPProjectBidViewMore {
    margin:inherit; padding:0px;
    display:block;
    width:100%; height:inherit;
    vertical-align:top;
}
/******* ESTE CONTIENE LAS ACCIONES DEL DETALLE 
    Y LA GRILLA DEL AREA *************/
.POMPProjectBidDetailGrid,
.POMPProjectBidDetailGridHeaderRowe,
.POMPProjectBidDetailGridRowes,
.POMPProjectBidDetailGridResultRowes {
    margin:0; padding:0;
    display:block; 
    width:auto; height:auto;
}
    .POMPProjectBidDetailGrid > ul{
        list-style-type:none;
        padding:0 14px;
    }
        .POMPProjectBidDetailGrid > ul > li:nth-child(odd) {
            background-color:#efefef;
        }
        .POMPProjectBidDetailGridHeaderRowe {
            background-color:#e2e2e2;
        }
        .POMPProjectBidDetailGridHeaderRowe li:first-child,
        .POMPProjectBidDetailGridRowes li:first-child{margin:0px !important;}


        .POMPProjectBidDetailGridHeaderRowe li,        
        .POMPProjectBidDetailGridRowes li{
            list-style-type:inherit;
            margin:0 0 0 -4px; padding:0;
            display:inline-block;
            width:33.3%; height:28px;
            border-left: 2px solid #fff;
            vertical-align:top;
        }
            .POMPProjectBidDetailGridHeaderRowe li > span,
            .POMPProjectBidDetailGridRowes li > span,
            .POMPProjectBidDetailGridResultRowes li > span{
                display: block;
                font-size: 0.9em;
                font-weight: bold;
                letter-spacing: -0.2px;
                line-height: 1em;
                margin:7px 0 0 22px;
                text-transform:uppercase;
            }
            .POMPProjectBidDetailGridRowes li{
                text-transform:none;
                height:38px !important;
            }
                .POMPProjectBidDetailGridRowes li > span {
                    text-transform:none !important;
                    margin:12px 0 0 22px !important;
                    font-weight:normal !important;
                }
        .finalrowe {
            margin-top:12px !important;
        }
        .POMPProjectBidDetailGridResultRowes > li{
            list-style-type:inherit;
            margin:0; padding:0;
            display:inline-block;
            width:32.3%; height:50px;
            vertical-align:top;
        }
    .POMPProjectBidDetailGridResultRowes li > span {
        text-transform:uppercase !important;
        margin:18px 0 0 14px !important;
        font-weight:bold !important;
    }

    /********* HE AQUI LAS ACCIONES DEL 
        DETALLE DE AREAS A EVALUAR ***************/
.POMPProjectBidDetailGridActions,
div.POMPProjectBidDetailGridActions{
    list-style-type:none; padding:0; margin:auto;
    text-align:right; display:block; width:95.9%;
}
.POMPProjectBidDetailGridActions li,
div.POMPProjectBidDetailGridActions > div{
    padding:0 4px 0 8px; margin:0px 0px 6px;
    height:18px; text-align:right;
    width:auto; display:inline-block;
    border-bottom:none !important;
    border-left:1px solid gray;
}
    .POMPProjectBidDetailGridActions li a,
    .POMPProjectBidDetailGridActions li span,
    div.POMPProjectBidDetailGridActions div span {
        font-size:0.89em;
    }
    .POMPProjectBidApprovalText {
        height: auto !important;
        margin: 0px 0 7px 0 !important;
        padding: 2px !important;
        text-align: left !important;
        width: 99% !important;       
    }
.ProviderRowes > div > div.ProveedorPendiente,
.ProviderRowes > div > div.ProveedorAprobado,
.ProviderRowes > div > div.ProveedorRechazado,
.ProviderRowes > div > div.ProveedorAdjudicado {
        width:16px; height:18px;
        border:none;
        display:inline-block;
}
/************ AQUI VAN LOS DETALLES DE CADA AREA,
    LOS PARCIALES DE DETALLE DE PROVEEDOR **************/
.POMPProjectBidDetailData > div.POMPProviderDataWrapper {
    border-top:1px solid #ff8300 !important;
    border-left:none !important;
    display:block;
    height: auto;
    margin:0px 0px 0px 0px;
    min-height:initial !important;
    min-width:initial !important;
    padding: 13px 0 6px 0 !important;
    width:99% !important;
}
.POMPProjectBidDetailData > div.POMPProviderDataWrapper > label.POMPSectionTitles {
    background-color: #eeeeee !important;
    background-image:none !important;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border:none !important;
    box-shadow: 1px 1px 2px #444;
    color: #5d5d5d !important;
    display: block;
    font-size: 1.3em;
    font-weight: normal;
    letter-spacing: -1px;
    margin: 0 0px 0px !important;
    padding: 0px 0 0 8px !important;
}
    .POMPProjectBidDetailData > div.POMPProviderDataWrapper > ul.POMPProviderInfoDisplayList {
        display: block;
        margin: 1px auto;
        width: 98%;
    }
    .POMPProjectBidDetailData > div.POMPProviderDataWrapper > ul.POMPProviderInfoDisplayList > li{
        border-bottom: 1px solid #d4d4d4;        
        margin: 0 5px 0 0;
        min-height: 62px;
        min-width: 213px;
        padding: 4px 0 0;
        vertical-align: top;
        width: 32.5%;
    }
        .POMPProjectBidDetailData > div.POMPProviderDataWrapper > ul.POMPProviderInfoDisplayList > li > label {
            color: #0066ae;
            font-size: 1.14em;
            font-weight: normal;
            letter-spacing: -0.2px;
            line-height: 1em;
        }
    .POMPProjectBidDetailData > div.POMPProviderDataWrapper > ul.POMPProviderInfoMultipleValues > li{
        color: #5d5d5d !important;
        display: block;
        height: auto;
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
        vertical-align: top;
        width: 98%;
    }
        .POMPProjectBidDetailData > div.POMPProviderDataWrapper > ul.POMPProviderInfoMultipleValues > li > label.POMPProviderDataSubtitle {
            background-color: #fff;
            border-bottom: 1px dotted #5d5d5d !important;
            display: block;
            margin: 8px 0 6px !important;
            min-height: 21px !important;
            padding: 2px 0 0 6px !important;
            width: 100% !important;
        }
            .POMPProjectBidDetailData > div.POMPProviderDataWrapper > ul.POMPProviderInfoMultipleValues > li > label.POMPProviderDataSubtitle > span {
                color: #5d5d5d;
                font-size: 0.82em;
                font-weight: normal;
                letter-spacing: -0.2px;
                line-height: 1em;
                margin: 0;
            }
            .POMPProjectBidTotalExperience li {
                display: inline-block;
                height:30px;
                list-style-type: none;
                padding: 0;
                width:auto;
            }
            .POMPProjectBidTotalExperience li span{
                color: #666;
                font-size: 1.2em;
                font-weight: normal;
                letter-spacing: -0.5px;
                line-height: 1.19em;
                vertical-align:middle;
            }
/*********** ESTOS SON LOS ESTILOS DE LA BUSQUEDA
    DE PROCESOS DE SELECCION **********/
.SearchProject {
    width:100% !important;
}
.POMPProjectBidSearchProject {
    display: inline-block;
    width:49%;
    vertical-align:top;
}
    .POMPProjectBidSearchProject span {
        display: inline-block;
        font-size: 1.1em;
        font-weight: normal;
        letter-spacing: -0.8px;
        line-height: 1.06em;
        margin: 0;
        width: auto;
    }
    .POMPProjectBidSearchProjectDetail{
        border: none !important;
        display: block;
        height: auto;
        width: 100%;
        text-align:right;
    }
    .POMPProjectBidSearchProjectDetail a{
        font-weight: normal;
        font-size: 0.9em;
    }










