/*********** ENCABEZADO DE GRILLAS ***********/
.k-grid-content {
    overflow-y:scroll;
    max-height:308px;
    height:auto !important;
}
#divGridBranch, #divGridDistributor{
     height: auto !important;
}
.k-pager-numbers {
        cursor: default;
    float: left;
    padding: 0 !important;
    width: auto !important;
}
/************** ESTE PINTA LA GRILLA DE *************/
.POMPTrakingInfoGridWrapper {
    margin: 10px 0 0 8px;
    min-width: 682px;
    width: calc(100% - 16px);
}