/*****************UserInfo************************/
.POMPHeaderWrapper {
    display: block;
    width: 100%;
    min-width: 960px;
    height: auto;
    margin: 0px;
    text-align: left;
    border-bottom: 2px solid #ff8300;
}
/****************Logo*******************/
.POMPLogo {
    display: inline-block;
    height: 79px;
    vertical-align: middle;
    margin: 21px 0px 11px -11px;
    border: none;
}
#POMPLogoPositionTop{
    margin-top: -19px;
}
/*************** USER MENU ***************/

#POMPMenuIconHand {
    cursor:pointer;
    font-weight: lighter;
}
.POMPUserLogo {
    width: 20px;
}

.POMPMenusGrandWrapper {
    border: none;
    float: right;
    margin: 2px 0 0 2px;
    text-align: right;
}

.POMPUserMenu {
    border: none;
    width: auto;
    height: auto;
    display: block;
    padding: 0px 8px 0px 0px;
}

    .POMPUserMenu img {
        width: 22px;
        height: 22px;
        border: 0.7px solid #4d4d4d;
        vertical-align: top;
    }

    .POMPUserMenu label {
        line-height: 12px;
        color: #666;
        font-weight: normal;
        vertical-align: top;
        margin: 5px 0 0;
    }

    .POMPUserMenu div {
        display: inline-block;
        width: 22px;
        height: 22px;
        background-image: url(../../Images/POMPsprite.png);
        background-size: 470px auto;
        background-position: -245px -3px;
        background-repeat: no-repeat;
        vertical-align: top;
        margin: 0 0 0 6px;
    }


.POMPUserMenuOptions {
    background-color: #f5f5f5;
    border: 1px solid #ececec;
    height: auto;
    margin: 0;
    padding: 0 4px;
    position: absolute;
    right: 72px;
    top: 24px;
    width: auto;
    z-index: 5;
}

#POMPMenuPositionTop{
    margin-top: -19px;
}

    .POMPUserMenuOptions ul {
        margin: 0px !important;
        padding: 0 !important;
    }

        .POMPUserMenuOptions ul li {
            border-top: 1px solid #3f3f3f;
            display: block;
            margin: 0px;
            text-align: left;
            min-width: 140px;
        }

            .POMPUserMenuOptions ul li:first-child {
                border-top: none;
            }

            .POMPUserMenuOptions ul li:hover {
                background-color: #ececec;
                cursor: pointer;
            }

            .POMPUserMenuOptions ul li a,
            .POMPUserMenuOptions ul li a:hover {
                margin: 0px 0px 0px 8px;
                color: #666;
                text-decoration: none;
            }
/*************** MAIN MENU *************/
.POMPMainMenuWrapper {
    border: none;
    height: auto;
    margin: 18px 0px 0px 0px;
    display: block;
    width: auto;
    padding: 0;
    font-size:0.9em;
}

    .POMPMainMenuWrapper li {
        display: inline-block;
        padding: 0px;
        text-align: center;
        border: none;
        height: 35px;
        vertical-align: top;
    }

        .POMPMainMenuWrapper li a {
            border: none;
            color: #666;
            display: inline-block;
            font-size: 1em;
            height: 28px;
            margin: 7px 0;
            padding: 0,5px;
            vertical-align: bottom;
            letter-spacing: -0.4px;
        }

            .POMPMainMenuWrapper li a:hover, .POMPMainMenuWrapper > li.selected {
                text-decoration: none;
                border-bottom: 2px solid #ff8300;
                font-weight: normal !important;
            }

li.spacers {
    border-left: 1px solid #727276;
    height: 36px;
    margin-top: 1px;
    width: 2px;
}

/**********************Notifications***********************/
div#POMPNotifications {
   /* width: 22px;
    position: absolute;
    margin-left: 44%;
    height: 24px;*/
}

div#Notification img {
    width: 30px;
    height: 30px;
    cursor:pointer;
    color:white;
}

#POMPNotificationsList {
    width: 200px;
    margin-left: -15%;
    position: absolute;
    margin-top: -6px;
    z-index: 100;
    background-color: #ddd;
    opacity: 0.95;
    filter: alpha(opacity=100);
    border-radius: 3px;
    color: white;
}
/* LINE SEPARATOR HEADER */
.POMPHeaderMenuSeparator {
    position: absolute;
    top: 85px;
    border-bottom: 1px solid #ff8300;
}