/***********CONTENEDOR EVALUACIÓN********/
/*.POMPContainerEvaluation{
    width:50%;
    height:auto;
    margin: 0 auto !important;
    float:left;
    background:Red;
 
}*/

.row{
    background:red !important;
}

.POMPContainerEvaluation > li {
    display:block;
    width:100%;
    margin-top:15px !important;
  
}
.POMPEvaluationInput{
    width:270px !important;
    border:1px solid black;
    background:green;
}

.POMPSaveButton{
    width:100px;
    margin:20px 0 0 0 !important;
    color:#fff;
    background:#ff8300;
}

   /*border-bottom: 1px solid #ff8300;
    margin: 4px 2% 0 4px;
    padding: 0px;
    text-align: left;
    width: 96%;
    background:red;*/