/*********fonts************/

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../../../fonts/OpenSans-Regular.eot');
    src: url('../../../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../../../fonts/OpenSans-Regular.woff') format('woff'), url('../../../fonts/OpenSans-Regular.ttf') format('truetype');

}
p, h1, h2, h3, h4, h5, h6, a, label, title, input, span, select, option{
    font-family: 'OpenSans-Regular', Fallback, sans-serif;
}

/*********Body Content************/

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#POMP_GeneralBodyContainer{
  min-height:480px;
}


#GeneralContainer{
   min-height:100%;
   position:relative;
}

.POMPRenderHeader, .POMPRenderBody, .POMPRenderFooter{
     text-align:left;
     display:block;
     /*border:none;*/
}

.POMPRenderBody{
   padding:10px;
   padding-bottom:98px;
}

#POMP_Footer {
    position: relative;
    bottom: 0px;
    /*left: -16px;*/
    /*width: calc(100% + 16.4px);*/
}


.POMPRenderFooter{
   position:absolute;
   bottom:0;
   width:100%;
   height:98px;
   
}

div#POMPRenderFooter {
    
   position:absolute;
   bottom:0;
   width:100%;
   height:98px;
    /*float:left;*/
    
}
/*************** AQUI VA TODA LA INFORMACION 
    DETALLADA DEL PROVEEDOR  *************/

.POMPProviderGreatWrapper {
    border: medium none;
    height: auto;
    margin: 2px 0 0 2px;
    padding: 0px 0;
    position: relative;
    width: 99.8%;
    min-width:960px;
}

/*********** CONTENEDOR DEL MENU LATERAL ***********/

.POMPProviderSideMenuWrapper {
    display: inline-block;
    height: auto;
    padding: 0 9px 0 11px;
    vertical-align: top;
    width: auto;
}
.POMPProviderSideMenuWidth {
    min-width: 240px;
    max-width: 240px;
}

.POMPProviderContainerMenuDetail {
    width: 265px!important;
    border-right: 1px solid #FF8301;
}

/*********** CONTENEDOR DE INFORMACION PROVEDOR ***********/

.POMPProviderDataWrapper {
    border-left: 2px solid #ff8300;
    display: inline-block;
    height: auto;
    margin: 8px 0px 10px 0px;
    padding: 0 0 0 2px;
    min-height: 464px;
    min-width:694px;
    width: calc(100% - 262px);
}



/************ SISTEMA DE RIESGOS LABORALES FORM *********/

.POBOHSEQWrapper, .POBOCamaraComercioSociosWrapper{padding:0 !important;}
.POBOProviderUpsertForm li.POBOHSEQ, .POBOProviderUpsertForm li.POBOCamaraComercioSocios {
    text-align:left;
    display:block;
    width:95.2%;
    margin:10px 8px;
        border:none;
}
#ReportLITF {
        border-bottom:1px solid #ff8400;
        border-top:1px solid #ff8400;
    width: auto;
    text-align: center;
    padding: 15px 0px 15px 0px;
    /*margin-bottom: 15px;*/
}
    #ReportLITF li {
        width: auto;
        display: inline-block;
        vertical-align: middle;
        margin: 0 -2px 0 -2px;
    }

        #ReportLITF li hr {
            margin: 0 !important;
            width: 100%;
        }

    li#F2 label {
    font-size: 1.2em;
    margin: 0px 8px;
    }

li#F3, li#F3 label {
    display: block;
    width: 192px;
    text-align: left;
    padding: 1px 4px;
}

li#F3 {
    margin:0px 0px 0px 58.7%;
    background-color:#ececec;
}


.POMPSeparator {
    width:100%
}

.POMPMenuBody {
    padding-top: 15px;
    font-size: 12px;
    max-width: 232px;
    min-width: 232px;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}