/********* REGRESAR A LA BUSQUEDA **********/
.POMPComparisonGoBackWrapper {
    display:block;
    width:auto; height:auto;
    margin:0px; padding:10px 0px;
    text-align:center;
}
.POMPComparisonGoBackWrapper a,
.POMPComparisonGoBackWrapper div{
    vertical-align:middle;
    display:inline-block;
}
    .POMPComparisonGoBackWrapper div{        
        width:40px; height:34px; padding:0px; margin:0px;
        background-position:0px 1px;
        background-image:url('http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/goBack.png');
        background-size:36px auto;
        background-repeat:no-repeat;
    }

/********* CONTENEDOR PRINCIPAL DE GRILLA COMPARACION **********/
#CompareDetail {
    display:block;
    margin:0px; padding:0px;
}
    #CompareDetail > div > div > table > thead > tr > th{
       background-color:#fff !important;
       background-image:none !important;
       width:auto; height:auto; margin:0px; padding:4px 2px;
    }
    #CompareDetail > div > div > table > thead > tr > th[data-field="_EvaluationArea"]{
       padding:6px; margin:0px;
       vertical-align: bottom;
       font-size:1.3em; line-height:0.9em; color:#666;
    }
        #CompareDetail > div > div > table > thead > tr > th > div{}
        #CompareDetail > div > div > table > thead > tr > th > ul{
            display:block; width:auto; height:auto; margin:0px; padding:1px;
            list-style-type:none;
        }
            #CompareDetail > div > div > table > thead > tr > th > ul > li {
                display:inline-block; width:45%; height:18px;
                text-align:right; margin: 0px; padding:0px 10px 0px 0px;
                font-size:1em; line-height:0.9em; color:#666;
            }
            #CompareDetail > div > div > table > thead > tr > th > ul > li:last-child {
                border-left:1px solid grey;
            }
/*********** PRIMERA COLUMNA CON AREA DE EVUALUACION ************/
    #CompareDetail > div > div > table > tbody > tr{
        height:auto !important;
    }
        #CompareDetail > div > div > table > tbody > tr > td[role="gridcell"] {
            margin:0px; padding:0px; height:auto !important;
        }
            #CompareDetail > div > table > tbody > tr > td[role="gridcell"] > div {
                display:block; margin:0px; padding:0px;
                height:48px;
            }
                #CompareDetail > div > table > tbody > tr > td[role="gridcell"] > div > span{
                    height:48px; text-overflow:ellipsis; overflow:hidden;
                }
/*********** COLUMNAs CON ProVEEDORES ************/
            #CompareDetail > div > table > tbody > tr > td[role="gridcell"] > ul {
                display:block; width:auto; height:48px; margin:0px; padding:1px;
                list-style-type:none;
            }
                #CompareDetail > div > table > tbody > tr > td[role="gridcell"] > ul > li{
                    display:inline-block; width:45%; height:48px;
                    text-align:right; margin: 0px; padding:0px 10px 0px 0px;
                    font-size:1em; line-height:0.9em; color:#666;
                }
                #CompareDetail > div > table > tbody > tr > td[role="gridcell"] > ul > li:last-child {
                    border-left:1px solid grey;
                }

    #CompareDetail > div > div > table > thead > tr > th div.POMPComparisonResultNameIDWrapper{
        min-width: 146px;
        width: 52%;
    }
    #CompareDetail > div > div > table > thead > tr > th div.POMPComparisonResultNameIDWrapper label {
            max-height: 28px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
    }