/********** SEARCH PROVIDER BOX **********/
.POMPProviderSearchBox{
    border:1px solid blue;
    display:block;
    width:62%;
    padding:6px 0px 6px 0px;
    margin:0px auto;
}
    .POMPTextField{
        border:1px solid #727276;
        background-color:#f9f9f9;
        padding:7px 4px 4px 10px;
        letter-spacing:-0.5px;
        width:440px;
        margin: 0px 0px 0px 32px;
    }
    .POMPTextField [placeholder=""] {
        padding:7px 10px 7px 10px;
    }
