
.POMPSearchContainer {
    width: 100%;
    height: auto;
}

.POMPNameSearch {
    width: 35%;
    border-radius: 0;
    height: 35px;
    padding-left: 20px;
    margin: 10px 0 0 2%;
}

.POMPIDSearch {
    width: 30%;
    border-radius: 0;
    height: 35px;
    padding-left: 20px;
    margin: 10px 0 0 1.2%;
}

.POMPConsultButton {
    width: 100px;
    height: 35px;
    background: #ff8300;
    margin-left: 1.2%;
    border: none;
    border-radius: 0;
    color: #fff;
}

.POMPWrapperColorResult {
    width: 98%;
    height: auto;
    background: #f9f9f9;
    margin: 10px 0 0 2%;
    float: left;
}

.POMPContainerResult {
    width: 98%;
    height: auto;
    /* border-bottom: 1px solid #E4E4E4; */
    margin: 2% 0 20px 1%;
    float: left;
}

.POMPResultSection label {
    margin: 6px 0px 6px 6%;
}

#POMPResultName {
    width: 100%;
    height: 35px;
    background: #ececec;
    padding: 0px;
}

    #POMPResultName > a {
        margin: 0px 0px 89% !important;
        display: inline-block;
        width: 18%;
    }

    #POMPResultName > p {
        /* line-height: 30px; */
        color: #4d4d4d;
        text-align: left;
        font-size: 1.2em;
        padding-left: 15px;
        display: inline-block;
        width: 80%;
        /* height: auto; */
        margin: 7px 0 0 0;
    }


.POMPResultSection {
    width: 25%;
    height: 70px;
    float: left;
    display: inline-block;
    border: 1px solid #E4E4E4;
}



    .POMPResultSection > p {
        text-align: center;
        padding: 0px 5px 10px 0;
    }


.POMPResultDownload {
    width: 16%;
    height: 70px;
    float: left;
}

    .POMPResultDownload > p {
        text-align: center;
        line-height: 60px;
        color: #337ab7;
    }

#POMPResultText {
    margin: 10px 0 20px 2%;
    font-size: 1.2em;
    float: left;
    font-weight: bold;
}

#POMPDateSearch {
    -moz-box-shadow: 0 0 2px black;
    -webkit-box-shadow: 0 0 2px black;
    box-shadow: 0 0 2px black;
}

.POMPTKSearchButton {
    background: #ff8300;
    height: 30px;
    text-transform: uppercase;
    padding: 5px 30px;
    margin: 0px 0px 0px -30px;
    vertical-align: -15.6px;
    display: inline-block;
    border-radius: 0;
    border: 0;
}

    .POMPTKSearchButton:hover, .POMPTKSearchButton:hover {
        background-color: #ffb362;
        text-decoration: underline;
        color: #fff;
    }

#ThirdKnowledge_InitDateId {
    width: 70%;
    border-radius: 0;
    height: 30px;
    padding-left: 20px;
    margin: 10px 0 0 2%;
}

#ThirdKnowledge_EndDateId {
    width: 70%;
    border-radius: 0;
    height: 30px;
    padding-left: 20px;
    margin: 10px 0 0 2%;
}

.ThirdKnowledge_Detail {
    float: right;
    font-weight: lighter;
    font-size: 14px;
    line-height: 20px;
    padding-top: 10px;
}

.ThirdKnowledge_ListDetail {
    float: right;
    font-weight: lighter;
    font-size: 14px;
    line-height: 20px;
    padding-left: 100px;
    padding-top: 20px;
}

.ThirdKnowledge_FilterDetail {
    font-weight: lighter;
    font-size: 12px;
}

.ThirdKnowledge_FilterDetail, p {
    margin-bottom: -15px;
}

.ThirdKnowledge_marginBottom {
    margin-bottom: 0px;
}

.ThirdKnowledge_GoBack {
    padding-top: 10px;
}

.row, hr {
    border-color: #E4E4E4;
    margin: 6px auto;
    width: 100%;
}

.ThirdKnowledge_title {
    background: #ececec;
    line-height: 50px;
    width: 100% !important;
    font-weight: bold;
}

.TK-Uploadpanel {
    padding-top: 5px;
}

.TK-UploadpanelText {
    font-weight: bold;
    font-size: 1.3em;
    padding-bottom: 5px;
}

.TK-DownloadIcon {
    width: 20px;
}

.TK-DownloadFile {
    line-height: 15px;
    padding-left: 82px;
    padding-top: 5px;
}

.TK-DownloadFile-p {
    font-size: 0.6em;
    float: inherit;
    color: #D47212;
}

.TK-DownloadFile-a {
    font-size: 1.5em;
}

.TK-DownloadFile-a, a:link {
    text-decoration: none;
}
