/********* TERMINOS CONDICIONES *********/
.POMPTermsConditionsGreatWrapper {
    border:1px solid red;
}
    .POMPTermsConditionsGreatWrapper div {
        border:1px solid orange;
        height: auto;
        display:inline-block;
        width: 180px;
        background-image:url('http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/logo.png');
        background-size:180px auto;
        background-position:1px 1px;
        background-repeat:no-repeat;
    }
    .POMPTermsConditionsGreatWrapper label,
     label.POMPTermsConditionSubtitle{
        border:1px solid green;
        border-bottom: 1px solid #d4d4d4;
        color: #0066ae;
        font-size: 1.14em;
        font-weight: normal;
        letter-spacing: -0.2px;
        line-height: 1em;
        margin: 0 5px 0 0;
        min-height: 62px;
        min-width: 213px;
        padding: 4px 0 0;
        vertical-align: top;
        width: 32.1%;
    }
        label.POMPTermsConditionSubtitle {
            color:#666 !important;
        }
    .POMPTermsConditionsGreatWrapper span {
        border:1px solid blue;
                color: #666;
        display: block;
        font-size: 0.93em;
        font-weight: normal;
        letter-spacing: -0.5px;
        line-height: 1.5em;
        overflow: hidden !important;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
