/************** ESTE ES EL CONTENEDOR
    DEL HEADER *************/
.POMPProjectBidGreatWrapper {
    display:block;
        border-bottom:2px solid #ff8300;
    width:auto; height:auto; min-width:960px;
    margin:0px; padding:0px 18px 12px; 
    text-align:left;
}
.POMPProjectBidGreatWrapper > div{
        display:block;
        border:none;
    width:auto; height:auto;
    margin:0px; padding:0px;
    text-align:left;
}
.POMPProjectBidGreatWrapper > div > label{
    background-color: #eeeeee;
    border-bottom: 1px dotted #5d5d5d !important;
    border-top: medium none !important;
    color: #5d5d5d !important;
    display: block;
    font-size: 1.1em !important;
    line-height: 1em !important;
    margin: 8px 0 6px !important;
    max-width: 100% !important;
    min-height: 33px !important;
    padding: 8px 0 0 !important;
    width: 100% !important;
    letter-spacing: -0.5px;
}
    ul.POMPProjectBidMainData,
    ul.POMPProjectBidDataActions {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        vertical-align:top;
        width:70%;
    }
        ul.POMPProjectBidMainData > li {
            display:inline-block;
            width:32.2%;            
            vertical-align:top;
            border-bottom: 1px solid grey;
            margin:4px 0 0 4px;
            min-height: 55px;
        }
.POMPProjectBidDataActions{
    text-align:right !important;
    width:96.2% !important;
    border-bottom:none !important;
    min-height: initial !important;
}

    .POMPProjectBidDataActions > a {
        border-left: 1px solid gray;
        display: inline-block;
        font-size: 0.88em;
        margin: 0;
        padding: 0 8px;
        width: auto;
    }
    .POMPProjectBidDataActions > a:first-child {
        border-left: none;        
    }
.POMPProjectBidMainData label,
.POMPProjectBidMainData span {
    font-size: 0.98em;
    letter-spacing: -0.2px;
    display:block;
    font-weight: normal;
    line-height: 1em;
    margin:0px;
    padding: 4px 0 0;
}
.POMPProjectBidMainData label{    
    color: #0066ae;    
}
.POMPProjectBidMainData span{
    color: #666;
}
li.POMPProjectBidActivityData{
    width: 49% !important;
    height: 84px;
    overflow-y: auto;
}
li.POMPProjectBidActivityData ul{
    margin:0px; padding:0px 0px 0px 10px;
}
    li.POMPProjectBidActivityData ul li{
        list-style-type:none;
    }
    li.POMPProjectBidWinClosingNote {
        width:99.1% !important;
    }

/*********** AQUI SE PINTA LO DE CARGAR ARCHIVOS ************/
.POMPProjectBidFileUploadWrapper {
    border: 1px solid grey !important;
    display: inline-block !important;
    min-height: 222px; max-height: 222px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 29% !important;
     margin: 4px 0 0 !important
}
    .POMPProjectBidFileUploadWrapper div.k-dropzone {
        display: inline-block;
        background-color:#f9f9f9;
        border-bottom:1px solid grey;
        border-radius:0px;
        width:100%; padding:0px;
    }
    .POMPProjectBidFileUploadWrapper div.k-upload-button{
        border: 1px solid #666;
        display: inline-block;
        height: 26px;
        width: auto;
        padding:0px;
    }
.POMPProjectBidFileUploadWrapper > div > em{
    display: inline-block;
    width: calc(100% - 111px);
    height: 42px;
}
.POMPProjectBidFileUploadWrapper > ul {
    list-style-type:none;
    padding:0px; margin:0px;
}
    .POMPProjectBidFileUploadWrapper > ul > li {
        display:block;
        border-bottom:1px solid #ff8300;
        padding: 1px 0 2px;
    }

    a.POMPFileUploadDelet{
        background-image: url("http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/cross.png");
        background-position:-19px 0px;
        background-repeat: no-repeat;
        background-size: 35px auto;
        width:16px; height:16px;
        margin:0 0 0 4px;
        display:inline-block;
    }
    div.POMPFileUploadIcon{
        background-image: url("http://stgproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/defult_text.png");
        background-repeat:no-repeat;
        background-position:1px 1px;
        background-size:20px 20px;
        display: inline-block;
        height: 20px;
        margin: 0; padding: 0;
        width: 20px;
    }
    a.POMPFileUploadName{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 80%;      
        color: #555;
        display: inline-block;
        font-size: 0.88em;
        letter-spacing: -0.4px;
        line-height: 1.3em; 
    }
/*********** AQUI SE PINTA EL LISTADO DE 
    PROVEEDORES A PRECALIFICAR ************/
.POMPProjectBidGridWrapper,
.POMPProjectBidProviderAreaGrid {
    width:auto; height:auto;
    display:block; list-style-type:none;
}
.POMPProjectBidGridWrapper{
    min-width:960px;
    margin:10px 0; padding:0 18px 4px;
}
.POMPProjectBidGridWrapper > li{
    display:block;
    width:100%; height:auto;
    margin:0px 0px 2px 0px; padding:0px;    
}
    .POMPProjectBidGridWrapper > li:nth-child(even) > ul > li.POMP_ProjectDetail_Win,
    .POMPProjectBidGridWrapper > li:nth-child(even) > ul > li.POMP_ProjectDetail_Lose{
        background-color:#e6e6e6;
    }
.POMPProjectBidProviderAreaGrid {
    margin:0px; padding:0px;
}
.POMPProjectBidProviderAreaGrid > li{ 
    display:inline-block;
    vertical-align:bottom;
    height:50px;
}
    .POMPProjectBidProviderAreaGrid > li:first-child {
        width:27%;
    }
    .POMPProjectBidProviderAreaGrid > li:nth-child(2),
    .POMPProjectBidProviderAreaGrid > li:nth-child(3),
    .POMPProjectBidProviderAreaGrid > li:nth-child(4),
    .POMPProjectBidProviderAreaGrid > li:nth-child(5){
        width:13%;
        margin:0 0 0 -4px;
    }
.POMPProjectBidProviderAreaGrid > li:nth-child(6){
    width:20.8%;
    margin:0 0 0 -4px;
    background-color:#fff;
}
.POMPProjectBidProviderAreaGrid li > label{
        display:block;
    font-size: 0.9em;
    font-weight:bold;
    letter-spacing: -0.2px;
    line-height: 1em; margin:6px 0 0 6px;
}
.POMPProjectBidProviderAreaGrid li > label > span{
    font-weight:normal;
    display:block;
}
.ProviderRowes > li{
    border-bottom: 1px solid #ff8300;
    height:102px;
}
.ProviderRowes > li:first-child{
    background-color:#fff !important;
}
    .ProviderRowes > li:first-child div.ProveedorPendiente,
    .ProviderRowes > li:first-child div.ProveedorAprobado,
    .ProviderRowes > li:first-child div.ProveedorRechazado,
    .ProviderRowes > li:first-child div.ProveedorAdjudicado{        
        width:20px; height:20px;
        border:none;
        margin: -85px 0 0 92%;
        position: relative;
    }
    .ProviderRowes > li:first-child div.ProveedorPendiente {
        background-image:url("http://proveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/pendiente.png");
        background-position: -4px -3px;
        background-repeat: no-repeat;
        background-size: 24px auto;
    }
    .ProviderRowes > li:first-child div.ProveedorAprobado {
        background-image: url("http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/OKicon.png");
        background-position: 0 -3px;
        background-repeat: no-repeat;
        background-size: 23px auto;
        -ms-transform: rotate(-17deg);
        -webkit-transform: rotate(-17deg);
        transform: rotate(-17deg);
    }
    .ProviderRowes > li:first-child div.ProveedorRechazado {
        background-image: url("http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/cross.png");
        background-position:-19px 1px;
        background-repeat: no-repeat;
        background-size: 35px auto;
    }
    .ProviderRowes > li:first-child div.ProveedorAdjudicado {
        background-image: url("http://proveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/award_iconSmall.png");
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 18px auto;
        height: 30px;
    }
/**************** ESTADOS DE CRITERIOS DE SELECCION
    PASA, NO PASA ETC. ****************/
.POMP_ProjectDetail_Win span,
.POMP_ProjectDetail_Lose span{
    display:inline-block;
    margin:39px 0 0 5px;   
}
.POMP_ProjectDetail_Lose{
    border-left:12px solid #FF2A2A;  
}
.POMP_ProjectDetail_Win {
    border-left:12px solid #55D400;
}
/**************** acciones DE CRITERIOS DE SELECCION
    DETALLE, SOLICITAR, APROVACION. ****************/
.POMPProjectBidProviderActions {
    list-style-type:none; padding:0; margin:23px 0px 0px 0px;
}
.POMPProjectBidProviderActions li{
    padding:0 0 0 8px; margin:0px;
    height:14px;
}
    .POMPProjectBidProviderActions li a,
    .POMPProjectBidProviderActions li span {
        font-size:0.89em;
    }
    div.Pendiente, div.Aprobado, div.Rechazado{
        border: medium none !important;
        display: inline-block;
        margin: 41px 0 0 2%;
        padding: 0;
        height: 16px !important;            
        width: 16px !important;
        vertical-align: top;
        display: inline-block;
    }
        div.Aprobado{
            background-image: url("http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/OKicon.png");
            background-position: 0 -4px;
            background-repeat: no-repeat;
            background-size: 22px auto;
            -ms-transform: rotate(-17deg);
            -webkit-transform: rotate(-17deg);
            transform: rotate(-17deg);
        }
        div.Rechazado{
            background-image: url("http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/cross.png");
            background-position:-15px 2px;
            background-repeat: no-repeat;
            background-size: 28px auto;
        }        
        div.Pendiente{
            background-image:url("http://proveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/pendiente.png");
            background-position: -3px -2px;
            background-repeat: no-repeat;
            background-size: 22px auto;
            height: 18px !important;
        }
