.POMPProviderKContratacion {
        border: none;
    display: block;
    margin: 1px auto;
    padding:0 0 0 13px;
    width: 98.5%;
}
        .POMPProviderKContratacion > li:first-child{
            display:inline-block;
            border-left:none;
            width:33.5% !important;
            height: auto;
            list-style-type: none;
            margin: 0 auto;
            padding: 0;
            vertical-align: top;    
            text-align:left;
        }
            .POMPProviderKContratacion > li {
                display:inline-block !important;
                width:21.2% !important;
                border-left:1px solid #5d5d5d;
                height: auto;
                list-style-type: none;
                margin: 0 auto;
                padding: 0;
                vertical-align: top;
                text-align:right;
            }
            .POMPProviderKContratacion > li > label{
                margin:0px;
                font-size: 0.9em !important;
                padding:5.6px 5px!important;
                color: #0066ae;
                min-height:initial !important;
                min-width:initial !important;
            }
.POMPProviderKContratacion > li > label:first-child,
.POMPProviderKContratacion > li > span:first-child{
    background-color: #eeeeee;
    color:#5d5d5d !important;
    border-bottom: 1px dotted #5d5d5d !important;
    border-top: medium none !important;
    display: block;
    font-size: 0.97em !important;
    line-height: 1.2em !important;
    padding: 5px!important; margin:0px;
    width: 100% !important;
    font-weight:bold;
}
            .POMPProviderKContratacion > li > span {
                font-size: 0.97em !important;
                color: #666 !important;
                padding: 5px!important;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
                .POMPProviderKContratacion > li > span:nth-child(5),
                .POMPProviderKContratacion > li > span:nth-child(6),
                .POMPProviderKContratacion > li > span:nth-child(7) {
                    font-weight:bold;
                }
.POMPProviderKContratacion > li > label,
.POMPProviderKContratacion > li > span{
    background-color: #fff;
    border-bottom: 1px dotted #5d5d5d !important;
    border-top: medium none !important;    
    display: block;    
    line-height: 1.2em !important;
    width: 100% !important;
    font-weight:normal;
}

