/********** MUESTRA LA PAGINACION **********/
.POMPSearchResultsPager,
.POMPSearchResultsOrder,
.POMPSearchResultsList{
        border:none;
    display:block;
    width:auto;
    height:auto;
}
.POMPSearchResultsPager {
    padding: 10px 25px 10px 0;
    text-align: right;
}
    .POMPSearchResultsPager ul,
    .POMPSearchResultsOrder ul{
        display:inline-block;
        /*border:1px solid red;*/
        margin:0px; padding:0px;
    }
        .POMPSearchResultsPager ul li,
        .POMPSearchResultsOrder ul li{
            display:inline-block;
            /*border:1px solid purple;*/
        }
        .POMPSearchResultsPager ul li a{
            font-size:1.3em;
            letter-spacing:-1px;
            line-height:1.1em;
        }
/******* MUESTRA EL ORDENAMIENTO *******/
.POMPSearchResultsOrder {
    border-bottom: 1px solid #ff8300;
    margin: 0 auto 10px;
    padding: 0 0 6px 6px;
    text-align: left;
    width: 93%;
}
        .POMPSearchResultsOrder ul li span{
            font-size:1.1em;
            letter-spacing:-1px;
            line-height:1em;
        }

/********** MUESTRA LA LISTA DE PROVEEDORES **********/
.POMPSearchResultsList {
    margin:0px; padding:0px 24px;
}
    .POMPSearchResultsList li{
        list-style-type:none;
        margin:0px 0px 12px 0px;
    }
        .POMPSearchResultsList li a{
            /*border:1px solid blue;*/
        }
        .POMPSearchResultsList li span{
            /*border:1px solid green;*/
        }
/*********** ENLACES **********/
.selected {
    font-weight:bold;
}
/************** MUESTRA CADA RESULTADO ***************/
.POMPSearchResultLineOne {
        /*border:1px solid red;*/
    display:block;
    margin:0px; padding:0px;
    width:100%; height:auto;
}
    .POMPSearchResultStatusCertified{
            border:none;
        display:inline-block;
        width:46px; height:52px;
        vertical-align:top;
        background-image:url('http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/POMPsprite1.png');
        background-repeat:no-repeat;
        background-position:-10px -3px;
        background-size:230px auto;
    }
        .POMPSearchResultProvLogo {
            border:1px solid #999;
            display:inline-block;
            min-width:76px;
            width:15%; 
            height:auto;
            vertical-align:middle;
            padding:2px;
        }
        .POMPSearchResultProvDataWrapper {
            /*border:1px solid purple;*/
            display:inline-block;
            height:auto;
            vertical-align:top;
            width:49%; min-width:202px;
        }
            .POMPSearchResultProvDataWrapper a{
                /*border:1px solid purple;*/
                display:block;
                font-size:1.2em; line-height:1.1em; font-weight:normal;
                letter-spacing:-0.8px;
            }
            .POMPSearchResultProvDataWrapper label, .POMPSearchResultProvDataWrapper label span{
                /*border:1px solid green;*/                
                font-size:0.97em; line-height:1.3em; font-weight:normal;
                letter-spacing:-0.2px; margin:0px;
                color:#4d4d4d;
            }
            .POMPSearchResultProvDataWrapper label span {
                font-weight:bold;
            }
        .POMPSearchResultProvAlert{
               border:none !important;
            display:inline-block;
            width:27px; height:24px;
            margin:0px 0px 0px 3px; padding:0px;
            vertical-align:top;
            background-image:url('http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/POMPsprite1.png');
            background-repeat:no-repeat;
            background-position:-24px 0px;
            background-size:101px auto;
        }
        .POMPSearchResultIncludeCoparisonIcon {
              border:none !important;
            float:right;
            width:22px; height:26px;
            margin:0px 3px 0px 0px; padding:0px;
            background-image:url('http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/POMPsprite1.png');
            background-repeat:no-repeat;
            background-position:-81px -26px;
            background-size:102px auto;
        }
.POMPSearchResultLineTwo {
    border-bottom:1px solid #ff8300;
    display:block;
    margin:0px; padding:0px;
    width:100%; height:auto;
}
    .POMPSearchResultProvRating{
        /*border:1px solid red;*/
        display:inline-block;
        width:96px; height:22px;
        margin:0px 6%;
        text-align:center;
        background-image:url('http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/starsSmall.png');
        background-repeat:no-repeat;
        background-position:0px 1px;
        background-size:96px auto;
    }
        .POMPSearchResultProvActions{
            /*border:1px solid orange;*/
            float:right;
            margin:0px 0px 0px 0px;
        }
        div.POMPSearchResultProvActions a{
            border-right:1px solid #666;
            margin:0px auto 0px -3px;
            padding:0px 4px;
            font-size:10px;
        }
        div.POMPSearchResultProvActions a:nth-child(3){
            border-right:none;
        }