<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
    <add name="POL_CompanyProviderConnection" connectionString="Data Source=devproveedoresonline.c21n120xwlou.us-east-1.rds.amazonaws.com;Initial Catalog=005_ProveedoresOnLine;User Id=ProveedoresUser;Password=gerEdit!.$" />
    <add name="IntegrationPlatformSANOFIIProcess" connectionString="Data Source=devproveedoresonline.c21n120xwlou.us-east-1.rds.amazonaws.com; Initial Catalog=008_IntegrationPlatform; User Id=ProveedoresUser;Password=gerEdit!.$" />
    <add name="LogConnection" connectionString="Data Source=devproveedoresonline.c21n120xwlou.us-east-1.rds.amazonaws.com;Initial Catalog=003_LogModule;User Id=ProveedoresUser;Password=gerEdit!.$"/>
  </connectionStrings>
  <appSettings>

    <add key="LogTimer" value="3000" />    
    
    <add key="SettingsConfig" value="C:\Users\JOHMARVA\Source\Repos\ProveedoresOnLine\IntegrationPlattaform.SANOFIProcess\IntegrationPlatform.SANOFIProcess.Test\Rsx-SettingsConfig.xml" />
  </appSettings>
</configuration>