
@{
    ViewBag.Title = "Administrador Roles";
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
} 

<div>
    <div class="AdminRolesHeader">
        <label>REGISTRO DE USUARIOS - ROLES</label>
        <img class="DMPOLogo" src="~/Areas/Web/Content/Images/LogoPOLogInAlpha.png" alt="" />
    </div>
    <div class="AdminRolesBody">

    </div>
    <div class="AdminRolesFooter">
        <img class="DMLogPublicar" src="~/Areas/Web/Content/Images/LogoPublicarFooterBlack.png" alt="" />
        <label class="DMPublicarCopyright">Publicar publicidad y soluciones multimedia - Proveedores Online &copy; 2014 - 2015</label>
    </div>
</div>


