
<div id="SurveybyMonthChartId" class="ResponsiveChartsClass"></div>



<script type="text/javascript">
    google.load('visualization', '1.0', { 'packages': ['corechart'] });
    $(document).ready(function () {

        google.setOnLoadCallback(SurveyByMonth_ChartsObject.RenderChatrSurveyByMonth);

        SurveyByMonth_ChartsObject.Init({
            ObjectId: 'SurveybyMonthChartId',
            SurveyResoinsable: 'true',
            SearchUrl: '@(Url.RouteUrl(MarketPlace.Models.General.Constants.C_Routes_Default,
                            new
                            {
                                controller = MVC.Provider.Name,
                                action = MVC.Provider.ActionNames.Search
                            }))',
        });
        SurveyByMonth_ChartsObject.RenderAsync();
    })
</script>