
<div id="ProvidersStatusChartId" class="ResponsiveChartsClass" ></div>


<script type="text/javascript">
    google.load('visualization', '1.0', { 'packages': ['corechart'] });
    $(document).ready(function () {

        google.setOnLoadCallback(Providers_ChartsObject.RenderChatrProvidersByStatus);

        Providers_ChartsObject.Init({
            ObjectId: 'ProvidersStatusChartId',                        
            SearchUrl: '@(Url.RouteUrl(MarketPlace.Models.General.Constants.C_Routes_Default,
                            new
                            {
                                controller = MVC.Provider.Name,
                                action = MVC.Provider.ActionNames.Search
                            }))',
        }),

        Providers_ChartsObject.RenderAsync();
    })
</script>





