
<div id="dashboard_div">
    <div id="filter_div"></div>
    <div id="SurveybyMonthChartId" class="ResponsiveChartsClass"></div>
</div>

<script type="text/javascript">
    google.load('visualization', '1.0', { 'packages': ['controls'] });
    $(document).ready(function () {

        google.setOnLoadCallback(SurveyByMonth_ChartsObject.RenderChatrSurveyByMonth);

        SurveyByMonth_ChartsObject.Init({
            ObjectId: 'SurveybyMonthChartId',
            DashboardId: 'dashboard_div',
            SurveyMonth: 'true',
            SearchUrl: '@(Url.RouteUrl(MarketPlace.Models.General.Constants.C_Routes_Default,
                           new
                            {
                               controller = MVC.Provider.Name,
                               action = MVC.Provider.ActionNames.Search
                            }))',
        })
    })
</script>