<div id="dashboard_evaluators">
    <div id="filter_month"></div>
    <div id="filter_state"></div>
    <div id="SurveyByEvaluatorsChartId" class="ResponsiveChartsClass"></div>
</div>

<script type="text/javascript">
    google.load('visualization', '1.0', { 'packages': ['corechart','bar'] });
    $(document).ready(function () {

        google.setOnLoadCallback(SurveyByEvaluators_ChartsObject.RenderChatrSurveyByEvaluator);

        SurveyByEvaluators_ChartsObject.Init({
            ObjectId: 'SurveyByEvaluatorsChartId',
            DashboardId: 'dashboard_evaluators',
            SearchUrl: '@(Url.RouteUrl(MarketPlace.Models.General.Constants.C_Routes_Default,
                            new
                            {
                                controller = MVC.Provider.Name,
                                action = MVC.Provider.ActionNames.Search
                            }))',
        })
    })
</script>