<div id="dashboard_div_sv">
    <div id="filter_year_sv"></div>
    <div id="SurveyResponsableStatusChartId" class="ResponsiveChartsClass"></div>
</div>

@{
    var email = 0;

    //new function
    if (MarketPlace.Models.General.SessionModel.CurrentCompany.RelatedUser.FirstOrDefault().RelatedCompanyRole.ParentRoleCompany != null)
    {
        // NORMAL USER
        email = MarketPlace.Models.General.SessionModel.CurrentLoginUser.RelatedApplicationRole.Where(x => x.ApplicationRoleId != null).Select(x => x.ApplicationRoleId).DefaultIfEmpty(0).FirstOrDefault();//old
    }
}

<script type="text/javascript">
    google.load('visualization', '1.0', { 'packages': ['controls'] });
    $(document).ready(function () {

        google.setOnLoadCallback(Survey_ChartsObject.RenderChartSurveyByResponsable);

        Survey_ChartsObject.Init({
            ObjectId: 'SurveyResponsableStatusChartId',
            DashboardId: 'dashboard_div_sv',
            SurveyResponsible: 'true',
            UserEmail: '@(email)',
            SearchUrl: '@(Url.RouteUrl(MarketPlace.Models.General.Constants.C_Routes_Default,
                           new
                            {
                               controller = MVC.Provider.Name,
                               action = MVC.Provider.ActionNames.Search
                            }))',
        })
    })
</script>

