
<div id="SurveyResponsableStatusChartId" class="ResponsiveChartsClass"></div>
@{
    var email = 0;

    if (MarketPlace.Models.General.SessionModel.CurrentCompany.RelatedUser.FirstOrDefault().RelatedRole.ParentItem != null)
    {
        // NORMAL USER
        email = MarketPlace.Models.General.SessionModel.CurrentLoginUser.RelatedApplicationRole.Where(x => x.ApplicationRoleId != null).Select(x => x.ApplicationRoleId).DefaultIfEmpty(0).FirstOrDefault();
    }
}


<script type="text/javascript">
    google.load('visualization', '1.0', { 'packages': ['corechart'] });
    $(document).ready(function () {

        google.setOnLoadCallback(Survey_ChartsObject.RenderChartSurveyByResponsable);

        Survey_ChartsObject.Init({
            ObjectId: 'SurveyResponsableStatusChartId',
            SurveyResponsible: 'true',
            UserEmail: '@(email)',
            SearchUrl: '@(Url.RouteUrl(MarketPlace.Models.General.Constants.C_Routes_Default,
                            new
                            {
                                controller = MVC.Provider.Name,
                                action = MVC.Provider.ActionNames.Search
                            }))',
        })
    })
</script>