

<div id="SurveyResponsableStatusChartId" style="width:800px;height:600px;"></div>


<script type="text/javascript">
    google.load('visualization', '1.0', { 'packages': ['corechart'] });

    $(document).ready(function () {
        
        google.setOnLoadCallback(Survey_ChartsObject.RenderChatrSurveyByResponsable);
        
        Survey_ChartsObject.Init({
            ObjectId: 'SurveyResponsableStatusChartId',
            SurveyResoinsable: 'true',
        }),
        Survey_ChartsObject.RenderAsync();
    })

    $(window).resize(function () {
        google.setOnLoadCallback(Survey_ChartsObject.RenderChatrSurveyByResponsable);

        Survey_ChartsObject.Init({
            ObjectId: 'SurveyResponsableStatusChartId',
            SurveyResoinsable: 'true',
        }),
        Survey_ChartsObject.RenderAsync();
    });
    
</script>
