<div class="POBOFooterWrapper">
    <div>
        <img src="" />
    </div>
    <div>
        <span>©2014 Publicar SAS. Todos los derechos reservados</span>
        <a href="#">Terminos y condiciones de uso</a>
    </div>
</div>


