<div class="POBOFooterWrapper">
    <div class="POMPFooterLogos">
        <img src="http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/logos_footer2.png" />
        <img src="http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/logoPublicarBN.png" />
    </div>
    <div class="POMPFooterLegal">
        <span>©2015 Publicar SAS. Todos los derechos reservados</span>
        <a href="#">Terminos y condiciones de uso</a>
    </div>
</div>