<div class="POBOFooterWrapper">
    <div class="POMPFooterLogos">
        <img src="http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/logos_footer2.png" />
        <img src="http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/logoPublicarBN.png" />
    </div>
    <div class="POMPFooterLegal">
        <span>©2015 Publicar SAS. Todos los derechos reservados</span>
        <a href="https://localhost:44309/Home/TermsAndConditions?">Terminos y condiciones,</a> <a href="https://localhost:44309/Home/TermsAndConditions?_#">politica de tratamiento de datos</a>
    </div>
</div>