<div class="POBOFooterWrapper">
    <div class="POMPFooterLogos">
        <img src="http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/logos_footer2.png" />
        <img src="http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/logoPublicarBN.png" />
    </div>
    <div class="POMPFooterLegal">
        <span>©2015 Publicar SAS. Todos los derechos reservados</span>
        <a href="@(Url.RouteUrl (MarketPlace.Models.General.Constants.C_Routes_Default, new { controller = MVC.Home.Name, action = MVC.Home.ActionNames.TermsAndConditions}))">Terminos y condiciones,</a>
        <a href="@(Url.RouteUrl (MarketPlace.Models.General.Constants.C_Routes_Default, new { controller = MVC.Home.Name, action = MVC.Home.ActionNames.TermsAndConditions}))#TRATAMIENTO DE DATOS"> politica de tratamiento de datos</a>
    </div>
</div>