<div>
    <a href="@(Url.RouteUrl(MarketPlace.Models.General.Constants.C_Routes_Default,
                new
                {
                    controller = MVC.Home.Name,
                    action = MVC.Home.ActionNames.LogOutUser
                }))">Salir</a>
</div>
