<div id="Notification">
    <img id="OldNotification" src="https://s3.amazonaws.com/devproveedoresonline/MarketPlace/SiteImages/Bell.png"/>

    <img id="NewNotification" src="https://s3.amazonaws.com/devproveedoresonline/MarketPlace/SiteImages/Bell+New+Red.png" style="display:none"/>
</div>