<div id="Notification">
    @if (MarketPlace.Models.General.SessionModel.NewNotifications)
    {
        <img src="https://s3.amazonaws.com/devproveedoresonline/MarketPlace/SiteImages/Bell+New+Red.png" />
    }
    else
    {
        <img src="https://s3.amazonaws.com/devproveedoresonline/MarketPlace/SiteImages/Bell.png" />
    }
</div>