@model MarketPlace.Models.Provider.ProviderAditionalDocumentViewModel

@if (Model != null)
{
    /*Fecha*/
    <div>
        <label>@Model.ADT_Title</label>
        <br />
        <span>Tipo de dato: Fecha</span>
        <br />
        <span>@Model.ADT_Value</span>
        <br />
    </div>
}