@model MarketPlace.Models.Provider.ProviderViewModel

@{
    var oBalanceToShow = Model.RelatedFinancialInfo.
            Where(x => x.SH_HasValues).
            OrderByDescending(x => x.SH_Year).
            ToList();
}

@if (!Model.RenderScripts)
{
    if (oBalanceToShow != null &&
        oBalanceToShow.Count > 0 &&
        Model.RelatedFinancialInfo != null &&
        Model.RelatedFinancialInfo.Count > 0 &&
        Model.RelatedBalanceSheetInfo != null &&
        Model.RelatedBalanceSheetInfo.Count > 0)
    {
        <ul>
            <!--Render header-->
            <li class="POMPBalanceSheetFinanceIndex">
                <span class="POMPBalanceSheetFinanceCellOne">Concepto</span>
                @foreach (var oBalance in oBalanceToShow)
                {
                    <span class="POMPBalanceSheetFinanceCellTwo">
                        Año @oBalance.SH_Year
                    </span>
                }
                <span class="POMPBalanceSheetFinanceCellThree">Unidad</span>
                <span class="POMPBalanceSheetFinanceCellFour">Formula</span>
                <span class="POMPBalanceSheetFinanceCellFive">Interpretación</span>
            </li>
            <li class="divissionLine" style="display:block; width:100%; border-bottom:1px solid grey; padding:0px; margin:3px 0px 0px 0px;"></li>
            <!--Render content-->
            @foreach (var oBalanceInfo in Model.RelatedBalanceSheetInfo)
            {
                <li class="POMPBalanceSheetFinanceIndexData">
                    @Html.Partial(MVC.Desktop.Shared.Views._P_FI_IndicatorsItem, oBalanceInfo)
                </li>
            }
        </ul>
    }
}