@model MarketPlace.Models.Provider.ProviderViewModel

@if (!Model.RenderScripts)
{
    <label class="POMPSectionTitles">Conocimiento del Cliente Sector Asegurador Circular Básica Jurídica - Superintendencia Financiera</label>
    if (Model.RelatedLegalInfo != null && Model.RelatedLegalInfo.Count > 0)
    {
        <div class="container-fluid POMPContainerDetail">
            @foreach (var item in Model.RelatedLegalInfo.Where(lg => lg.LegalType == MarketPlace.Models.General.enumLegalType.SARLAFT))
            {
                <div class="row POMPSectionTitlesBox">
                    <div class="col-sm-12 POMPProviderBoxInfo">
                        @if (!string.IsNullOrEmpty(item.SF_ProcessDate))
                        {
                            <strong>Fecha de Diligenciamiento: @item.SF_ProcessDate</strong>
                        }
                        else
                        {
                            <strong>N/D</strong>
                        }
                    </div>
                </div>
                <br />
                <div class="container-fluid POMPProviderDetailContainer">
                    <div class="row">
                        @if (!string.IsNullOrEmpty(item.SF_PersonType))
                        {
                            <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                    <br />
                                    <label class="POMPProviderBoxInfo">Tipo de Persona</label>
                                    <br />
                                    <span>@item.SF_PersonType</span>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.SF_SARLAFTFile))
                        {
                            <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                    <br />
                                    <label class="POMPProviderBoxInfo">Archivo Anexo</label>
                                    <br />
                                    <a class="POMPProviderDocumetIcon" target="_blank" href="@item.SF_SARLAFTFile">Ver Archivo Archivo Anexo</a>
                            </div>
                        }
                    </div>
                    <br/>
                </div>
            }
        </div>
    }
}
