@model MarketPlace.Models.Provider.ProviderViewModel

@if (!Model.RenderScripts)
{
    <label class="POMPSectionTitles">Conocimiento del Cliente Sector Asegurador Circular Básica Jurídica - Superintendencia Financiera</label>
    if (Model.RelatedLegalInfo != null && Model.RelatedLegalInfo.Count > 0)
    {
        <ul class="POMPProviderInfoMultipleValues">
            @foreach (var item in Model.RelatedLegalInfo.Where(lg => lg.LegalType == MarketPlace.Models.General.enumLegalType.SARLAFT))
            {
                <li>
                    <label class="POMPProviderDataSubtitle">
                        @if (!string.IsNullOrEmpty(item.SF_ProcessDate))
                        {
                            <span>Fecha de Diligenciamiento: @item.SF_ProcessDate</span>
                        }
                    </label>
                    @if (!string.IsNullOrEmpty(item.SF_PersonType))
                    {
                        <label>
                            Tipo de Persona
                            <span>@item.SF_PersonType</span>
                        </label>
                    }
                    @if (!string.IsNullOrEmpty(item.SF_SARLAFTFile))
                    {
                        <label>
                            <a class="POMPProviderDocumetIcon" target="_blank" href="@item.SF_SARLAFTFile">Ver Archivo Archivo Anexo</a>
                        </label>
                    }
                </li>
            }
        </ul>
    }
}