@model MarketPlace.Models.Provider.ProviderSearchViewModel

@if (!Model.RenderScripts)
{
    <!--templates-->
    <div style="display:none;">
        <div id="Search_Compare_CreateToolTip" title="Nueva comparación">
            <span>Nombre: </span>
            <input type="text" id="Search_Compare_CreateToolTip_Name" />
        </div>
    </div>
}
else
{

}
