@model MarketPlace.Models.Provider.ProviderSearchViewModel

@if (!Model.RenderScripts)
{
    if (MarketPlace.Models.General.SessionModel.CurrentCompanyType != MarketPlace.Models.General.enumCompanyType.BuyerProvider &&
                      MarketPlace.Models.General.SessionModel.CurrentUserModules().Any(x => x == (int)MarketPlace.Models.General.enumMarketPlaceCustomerModules.ProviderRatingCreate))
    {
        <div class="row">
            <div class="col-sm-12 text-left"><span class="POMPComparisonTitle">Reportes Generales</span></div>
        </div>
        <div class="row text-left POMPSearchResultsOrder">
            <div class="col-sm-3 text-center"><a class="POBOSearchButtons" href="@Url.Action(MVC.Provider.ActionNames.RPDIAN, MVC.Provider.Name, new { SearchParam = Request["SearchParam"], SearchFilter = Request["SearchFilter"] })"><img src="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.MP_Report_ExcelReportIcon].Value" /><br />DIAN</a></div>
            <div class="col-sm-3 text-center"><a class="POBOSearchButtons" href="@Url.Action(MVC.Provider.ActionNames.RPGeneral, MVC.Provider.Name, new { SearchParam = Request["SearchParam"], SearchFilter = Request["SearchFilter"] })"><img src="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.MP_Report_ExcelReportIcon].Value" /><br />Descargar</a></div>
        </div>
        <br />
    }

}