@model MarketPlace.Models.Provider.ProviderSearchViewModel

@if (Model.RenderScripts)
{
    <span class="POMPComparisonTitle">Análisis de Competencias</span>
    <div class="POMPComparisonActionWrapper">
        <a href="" title="Guardar Selección">
            <div class="POMPComparisonActionSave"></div>
            <span>Guardar</span>
        </a>
        <a href="" title="Editar Selección">
            <div class="POMPComparisonActionEdit"></div>
            <span>Editar</span>
        </a>
        <a href="" title="Abrir Selección">
            <div class="POMPComparisonActionOpen"></div>
            <span>Abrir</span>
        </a>
        <a href="" title="Abrir Selección">
            <div class="POMPComparisonActionCompare"></div>
            <span>Comparar</span>
        </a>
        <a class="POMPComparisonActionNew" href="" title="Iniciar un Nuevo
Proceso de Selección">
            <div class="POMPComparisonActionNewComparison"></div>
            <span>
                Iniciar un Nuevo Proceso de Selección
            </span>
        </a>
    </div>
    
    <span class="POMPComparisonSelectionTitle">Constructores Marzo 10 2014 V0.1</span>

    <ul class="POMPComparisonProvListWrapper">
        <li>
            <div class="POMPComparisonResultLineOne">

                @*Check certificacion*@
                @*@if (Model.ProviderStatusId.ToString() == MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_ProviderStatus_Certified].Value)
                    { }*@
                @*<img class="POMPComparisonResultStatusCertified" src="" />*@

                <div class="POMPComparisonResultStatusCertified"></div>
                <img class="POMPComparisonResultProvLogo" src="" />

                <div class="POMPComparisonResultProvDataWrapper">
                    <a href="">
                        Nombre de la Compagnia
                    </a>
                    <label><span>NIT</span> 79982871456</label>
                    @*<label><span>Actividad Principal:</span> Fundición de partes en acero forjado y cobre mecanizado para la industria siderúrgica</label>*@
                </div>
                <a class="POMPComparisonResultProvAlert" href="" title="Este proveedor está en listas restrictivas"></a>
                <a class="POMPComparisonResultIncludeCoparisonIcon" href="" title="Quitar de la lista de comparación"></a>

            </div>
            <div class="POMPComparisonResultLineTwo">

                <div class="POMPComparisonResultProvRating">*****</div>

                @*@if (Model.ProviderRate != null)
                    {}*@

                @*@if (Model.IsProviderCustomer)
                    {}
                    else
                    {}*@

                @*Actions for related provider *@
                <div class="POMPComparisonResultProvActions">
                    <a href="" title="">Agregar a comparación</a>
                    <a href="">Ver detalle</a>
                    @*Actions for not related provider *@
                    <a href="" title="">Hacerlo mi proveedor</a>
                </div>
            </div>
        </li>
        <li>
            <div class="POMPComparisonResultLineOne">

                @*Check certificacion*@
                @*@if (Model.ProviderStatusId.ToString() == MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_ProviderStatus_Certified].Value)
            { }*@

                <img class="POMPComparisonResultStatusCertified" src="" />

                <img class="POMPComparisonResultProvLogo" src="" />

                <div class="POMPComparisonResultProvDataWrapper">
                    <a href="">
                        Nombre de la Compagnia
                    </a>
                    <label><span>NIT</span> 79982871456</label>
                    @*<label><span>Actividad Principal:</span> Fundición de partes en acero forjado y cobre mecanizado para la industria siderúrgica</label>*@
                </div>
                <a class="POMPComparisonResultProvAlert" href="" title=""></a>
                <a class="POMPComparisonResultIncludeCoparisonIcon" href="" title=""></a>

            </div>
            <div class="POMPComparisonResultLineTwo">

                <div class="POMPComparisonResultProvRating">*****</div>

                @*@if (Model.ProviderRate != null)
            {}*@

                @*@if (Model.IsProviderCustomer)
            {}
            else
            {}*@

                @*Actions for related provider *@
                <div class="POMPComparisonResultProvActions">
                    <a href="" title="">Agregar a comparación</a>
                    <a href="">Ver detalle</a>
                    @*Actions for not related provider *@
                    <a href="" title="">Hacerlo mi proveedor</a>
                </div>
            </div>
        </li>
        <li>
            <div class="POMPComparisonResultLineOne">

                @*Check certificacion*@
                @*@if (Model.ProviderStatusId.ToString() == MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_ProviderStatus_Certified].Value)
            { }*@

                <img class="POMPComparisonResultStatusCertified" src="" />

                <img class="POMPComparisonResultProvLogo" src="" />

                <div class="POMPComparisonResultProvDataWrapper">
                    <a href="">
                        Nombre de la Compagnia
                    </a>
                    <label><span>NIT</span> 79982871456</label>
                    @*<label><span>Actividad Principal:</span> Fundición de partes en acero forjado y cobre mecanizado para la industria siderúrgica</label>*@
                </div>
                <a class="POMPComparisonResultProvAlert" href="" title=""></a>
                <a class="POMPComparisonResultIncludeCoparisonIcon" href="" title=""></a>

            </div>
            <div class="POMPComparisonResultLineTwo">

                <div class="POMPComparisonResultProvRating">*****</div>

                @*@if (Model.ProviderRate != null)
            {}*@

                @*@if (Model.IsProviderCustomer)
            {}
            else
            {}*@

                @*Actions for related provider *@
                <div class="POMPComparisonResultProvActions">
                    <a href="" title="">Agregar a comparación</a>
                    <a href="">Ver detalle</a>
                    @*Actions for not related provider *@
                    <a href="" title="">Hacerlo mi proveedor</a>
                </div>
            </div>
        </li>
        <li>
            <div class="POMPComparisonResultLineOne">

                @*Check certificacion*@
                @*@if (Model.ProviderStatusId.ToString() == MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_ProviderStatus_Certified].Value)
            { }*@

                <img class="POMPComparisonResultStatusCertified" src="" />

                <img class="POMPComparisonResultProvLogo" src="" />

                <div class="POMPComparisonResultProvDataWrapper">
                    <a href="">
                        Nombre de la Compagnia
                    </a>
                    <label><span>NIT</span> 79982871456</label>
                    @*<label><span>Actividad Principal:</span> Fundición de partes en acero forjado y cobre mecanizado para la industria siderúrgica</label>*@
                </div>
                <a class="POMPComparisonResultProvAlert" href="" title=""></a>
                <a class="POMPComparisonResultIncludeCoparisonIcon" href="" title=""></a>

            </div>
            <div class="POMPComparisonResultLineTwo">

                <div class="POMPComparisonResultProvRating">*****</div>

                @*@if (Model.ProviderRate != null)
            {}*@

                @*@if (Model.IsProviderCustomer)
            {}
            else
            {}*@

                @*Actions for related provider *@
                <div class="POMPComparisonResultProvActions">
                    <a href="" title="">Agregar a comparación</a>
                    <a href="">Ver detalle</a>
                    @*Actions for not related provider *@
                    <a href="" title="">Hacerlo mi proveedor</a>
                </div>
            </div>
        </li>
    </ul>

    <div class="POMPComparisonActionWrapper">
        <a href="" title="Guardar Selección">
            <div class="POMPComparisonActionSave"></div>
            <span>Guardar</span>
        </a>
        <a href="" title="Editar Selección">
            <div class="POMPComparisonActionEdit"></div>
            <span>Editar</span>
        </a>
        <a href="" title="Abrir Selección">
            <div class="POMPComparisonActionOpen"></div>
            <span>Abrir</span>
        </a>
        <a href="" title="Abrir Selección">
            <div class="POMPComparisonActionCompare"></div>
            <span>Comparar</span>
        </a>
        <a class="POMPComparisonActionNew" href="" title="Iniciar un Nuevo
Proceso de Selección">
            <div class="POMPComparisonActionNewComparison"></div>
            <span>
                Iniciar un Nuevo Proceso de Selección
            </span>
        </a>
    </div>
}
