@model Tuple<MarketPlace.Models.Project.ProjectViewModel, List<MarketPlace.Models.Project.EvaluationItemViewModel>>

@if (!Model.Item1.RenderScripts)
{
    <div class="POMPProviderDataWrapper">
        <!--Render detail-->
        @Html.Partial(MVC.Desktop.Shared.Views._P_LI_ChaimberOfCommerceInfo, Model.Item1.CurrentProjectProvider.RelatedProvider)

        <a href="@(Url.RouteUrl
                (MarketPlace.Models.General.Constants.C_Routes_Default,
                new
                {
                    controller = MVC.Provider.Name,
                    action = MVC.Provider.ActionNames.LIChaimberOfCommerceInfo,
                    ProviderPublicId = Model.Item1.CurrentProjectProvider.RelatedProvider.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyPublicId
                }))">Ver camara y comercio</a>
    </div>
}


