@model Tuple<MarketPlace.Models.General.enumEvaluationItemUnitType, decimal, decimal>


@switch (Model.Item1)
{
    case MarketPlace.Models.General.enumEvaluationItemUnitType.LooseWin:
        if (Model.Item2 >= Model.Item3)
        {
            <span></span>
            <span>Pasa</span>
        }
        else
        {
            <span></span>
            <span>No Pasa</span>
        }
        break;
    case MarketPlace.Models.General.enumEvaluationItemUnitType.Percent:
        if (Model.Item2 >= Model.Item3)
        {
            <span>@Model.Item2.ToString("#,0.##") %</span>
            <span>Pasa</span>
        }
        else
        {
            <span>@Model.Item2.ToString("#,0.##") %</span>
            <span>No Pasa</span>
        }
        break;
    case MarketPlace.Models.General.enumEvaluationItemUnitType.Informative:
    <span>@Model.Item2.ToString("#,0.##")</span>
    <span>Informativo</span>
        break;
    default:
        break;
}


