@model Tuple<MarketPlace.Models.Project.ProjectViewModel, List<MarketPlace.Models.Project.EvaluationItemViewModel>>

@if (!Model.Item1.RenderScripts)
{
    <div class="POMPProviderDataWrapper">
        <!--Render detail-->
        <label class="POMPSectionTitles">Balances Financieros</label>
        Estos valores se calculan en base a los indicadores financieros del balance más reciente de esta compañia: <a href="@(Url.RouteUrl
                (MarketPlace.Models.General.Constants.C_Routes_Default,
                new
                {
                    controller = MVC.Provider.Name,
                    action = MVC.Provider.ActionNames.FIBalanceSheetInfo,
                    ProviderPublicId = Model.Item1.CurrentProjectProvider.RelatedProvider.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyPublicId
                }))">Ver Balances Financieros</a>
    </div>
}

