@model Tuple<MarketPlace.Models.Project.ProjectViewModel, List<MarketPlace.Models.Project.EvaluationItemViewModel>>

@if (!Model.Item1.RenderScripts)
{
    <div class="POMPProviderDataWrapper">
        <label class="POMPProviderVerDetalle">
            <a href="@(Url.RouteUrl
                (MarketPlace.Models.General.Constants.C_Routes_Default,
                new
                {
                    controller = MVC.Provider.Name,
                    action = MVC.Provider.ActionNames.HIHealtyPoliticInfo,
                    ProviderPublicId = Model.Item1.CurrentProjectProvider.RelatedProvider.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyPublicId
                }))">Ver todas las politicas</a>
        </label>
        <!--Render experience detail-->
        @Html.Partial(MVC.Desktop.Shared.Views._P_HI_HealtyPoliticInfo, Model.Item1.CurrentProjectProvider.RelatedProvider)
        @if (Model.Item1.CurrentProjectProvider.RelatedProvider.RelatedHSEQlInfo != null &&
            Model.Item1.CurrentProjectProvider.RelatedProvider.RelatedHSEQlInfo.Any(cer => cer.HSEQType == MarketPlace.Models.General.enumHSEQType.CompanyHealtyPolitic))
        {
            <label class="POMPProviderVerDetalle">
                <a href="@(Url.RouteUrl
                (MarketPlace.Models.General.Constants.C_Routes_Default,
                new
                {
                    controller = MVC.Provider.Name,
                    action = MVC.Provider.ActionNames.HIHealtyPoliticInfo,
                    ProviderPublicId = Model.Item1.CurrentProjectProvider.RelatedProvider.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyPublicId
                }))">Ver todas las politicas</a>
            </label>
        }
    </div>
}


