@model MarketPlace.Models.Project.ProjectViewModel

@if (!Model.RenderScripts)
{
    <div>
        <label>@Model.ProjectName</label>
        <ul>
            <li>
                

            </li>
        </ul>
    </div>
}

