@model Tuple<MarketPlace.Models.Project.ProjectViewModel, List<MarketPlace.Models.Project.EvaluationItemViewModel>>

@if (!Model.Item1.RenderScripts)
{
    <div class="POMPProviderDataWrapper">
        <!--Render experience detail-->
        @Html.Partial(MVC.Desktop.Shared.Views._P_HI_RiskPoliciesInfo, Model.Item1.CurrentProjectProvider.RelatedProvider)
    </div>
}


