@model MarketPlace.Models.Provider.ProviderViewModel

<div id="EditProviderDialog" name="EditProviderDialog" style="display:none">

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <form action="" method="post">


                        <ul>
                            <li>
                                <select>
                                    <option>PDF</option>
                                    <option>Excel</option>
                                </select>
                            </li>
                            <li>
                                <input type="submit" name="Edit" value="Generar Reporte" />
                            </li>
                        </ul>


                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>




