@model MarketPlace.Models.Provider.ProviderViewModel

@if (!Model.RenderScripts)
{
<label class="POMPSectionTitles">Reporte general de Evaluación de Desempeño</label>
    <div>
        <a href="@(Url.RouteUrl
                                (MarketPlace.Models.General.Constants.C_Routes_Default,
                                new
                                {
                                    controller = MVC.Report.Name,
                                    action = MVC.Report.ActionNames.RP_SV_SurveyGeneralInfoReport,
                                    SurveyGeneralInfoReport = true
                                }))">Descargar CVS</a>
    </div>  

    
}
else
{
    <script type="text/javascript">
        $(document).ready(function () {
            Survey_Report.Init({
                ObjectId: 'Report',
            });
        });
    </script>
}




