@model MarketPlace.Models.Provider.ProviderViewModel

@if (!Model.RenderScripts)
{
<label class="POMPSectionTitles">Reporte general de Evaluación de Desempeño</label>
    
    <div class="POMPResultInfoEvaluation">
        <p>Está a punto de descargar todas las evaluaciones de desempeño que usted ha programado. <br /><br /><strong>La operación podría tardar unos minutos, por favor espere.</strong></p>
        <div id="POMPReportGenerator">
            <a href="javascript:Survey_Report.ListSurveyGeneralInfoReport();">Generar Reporte</a>
        </div>
    </div>

    
}
else
{
    <script type="text/javascript">
        $(document).ready(function () {
            Survey_Report.Init({
                ObjectId: 'Report',
            });
        });
    </script>
}




