@model bool

@if (!Model)
{
    <div id="Survey_ProgramSurvey">
        <div id="Survey_ProgramSurvey_Dialog">
            <form id="Survey_ProgramSurvey_Form" action="@Url.Content("~/api/SurveyApi?SurveyUpsert=true")" method="post">
                <ul>
                    <li>
                        <label>Evaluación:</label>
                        <input id="Survey_ProgramSurvey_SurveyConfigName" placeholder="Evaluación" required validationmessage="Seleccione una evaluación" />
                    </li>
                    <li>
                        <label>Evaluador:</label>
                        <input id="Survey_ProgramSurvey_Evaluator" placeholder="andres.perez@gmail.com" required validationmessage="Seleccione un evaluador" name="SurveyInfo_@(((int)MarketPlace.Models.General.enumSurveyInfoType.Evaluator).ToString())_" />
                    </li>
                    <li>
                        <label>Fecha de programación:</label>
                        <input id="Survey_ProgramSurvey_IssueDate" placeholder="yyyy-MM-dd" required validationmessage="Seleccione una fecha" name="SurveyInfo_@(((int)MarketPlace.Models.General.enumSurveyInfoType.IssueDate).ToString())_" />
                    </li>
                </ul>
                <div style="display:none">
                    <input type="hidden" id="Survey_ProgramSurvey_SurveyPublicId" name="SurveyPublicId">
                    <input type="hidden" id="Survey_ProgramSurvey_ProviderPublicId" name="ProviderPublicId">
                    <input type="hidden" id="Survey_ProgramSurvey_SurveyConfigId" name="SurveyConfigId" />

                    <input type="hidden" id="Survey_ProgramSurvey_Responsible" name="SurveyInfo_@(((int)MarketPlace.Models.General.enumSurveyInfoType.Responsible).ToString())_" value="@MarketPlace.Models.General.SessionModel.CurrentLoginUser.Email" />
                    <input type="hidden" id="Survey_ProgramSurvey_Status" name="SurveyInfo_@(((int)MarketPlace.Models.General.enumSurveyInfoType.Status).ToString())_" value="@(((int)MarketPlace.Models.General.enumSurveyStatus.Program).ToString())" />
                    <input type="hidden" id="Survey_ProgramSurvey_Progress" name="SurveyInfo_@(((int)MarketPlace.Models.General.enumSurveyInfoType.Progress).ToString())_" value="0" />
                    <input type="hidden" id="Survey_ProgramSurvey_Rating" name="SurveyInfo_@(((int)MarketPlace.Models.General.enumSurveyInfoType.Rating).ToString())_" value="0" />
                </div>
            </form>
        </div>
    </div>
}
else
{
    <script type="text/javascript">
        $(document).ready(function () {
            Survey_ProgramObject.Init({
                ObjectId: 'Survey_ProgramSurvey',
                DateFormat: '@(MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_DateFormat_Kendo].Value)',
            });
        });
    </script>
}
