@model MarketPlace.Models.Provider.ProviderViewModel

@if (!Model.RenderScripts && Model.RelatedThidKnowledgeSearch != null)
{

    <div class="container-fluid">

        @foreach (var item in Model.RelatedThidKnowledgeSearch.ThirdKnowledgeResult)
        {
            var QueryPublicId = item.QueryPublicId;
            <div class="POMPEvalTitle" id="POMPEvalTitleMargin">
                <div class="col-xs-12">
                    <div class="col-xs-10">
                        <span>Tipo de consulta:</span>&nbsp;@item.SearchType.ItemName
                    </div>
                    <div class="col-xs-2 text-right ThirdKnowledge_Detail">
                        <a href="@(Url.RouteUrl
                              (MarketPlace.Models.General.Constants.C_Routes_Default,
                              new
                              {
                                  controller = MVC.ThirdKnowledge.Name,
                                  action = MVC.ThirdKnowledge.ActionNames.TKThirdKnowledgeDetail,
                                  QueryPublicId = QueryPublicId,
                                  InitDate = Model.RelatedThidKnowledgeSearch.InitDate.ToString("yyyy-MM-dd"),
                                  EndDate = Model.RelatedThidKnowledgeSearch.EndDate.ToString("yyyy-MM-dd"),                                  
                                  Enable = "1",
                                  IsSuccess = item.QueryStatus.ItemName.ToString(),
                                    }))">Ver Detalle</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-4">
                    <div class="col-xs-12">
                        <label>
                            Usuario
                        </label>
                    </div>
                    <div class="col-xs-12">
                        <span>@item.User</span>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="col-xs-12">
                        <label>
                            Fecha de Consulta
                        </label>
                    </div>
                    <div class="col-xs-12">
                        <span>@item.CreateDate.AddHours(-5)</span>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="col-xs-12">
                        <label>
                            Estado
                        </label>
                    </div>
                    <div class="col-xs-12">
                        <span>
                            @(item.QueryStatus.ItemId == (int)MarketPlace.Models.General.enumThirdKnowledgeQueryStatus.Finalized == true ? "Finalizado" : "En Progreso")
                        </span>
                    </div>
                </div>

            </div>

        }

    </div>

}