@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";

    string Success = Request["Success"];
    string Email = Request["Email"];
}

@if (!string.IsNullOrEmpty(Success) && Success.Trim().ToLower() == "true")
{
    <div>
        <span>Se ha enviado el correo de recuperación de contraseña a @Email</span>
    </div>
}
else
{
    <div>
        <span>Se ha generado un error recuperando su contraseña por favor comuniquese con el administrador de sistema.</span>
    </div>
}



