@{
    ViewBag.Title = "Proveedores OnLine - Inicio";
    Layout = MVC.Desktop.Shared.Views._Layout;
}

<div class="POMPInternalLoginGreatWrapper">
    @{
        //get login urls
        string RetUrl = Url.RouteUrl(MarketPlace.Models.General.Constants.C_Routes_Default,
                new
                {
                    controller = MVC.Home.Name,
                    action = MVC.Home.ActionNames.Index
                },
                Request.Url.Scheme);

        string InternalLoginUrl = MarketPlace.Models.General.InternalSettings.Instance
            [MarketPlace.Models.General.Constants.C_Settings_Login_InternalLogin]
            .Value.Replace("{{UrlRetorno}}", RetUrl);
    }
    <div class="POMPPOMPInternalLoginHeader">
        <img title="Provedores Online" alt="Provedores Online" src="http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/logo.png" />
    </div>
    <div class="POMPPOMPInternalLoginBody">
        <label>Bienvenido a <br />Proveedores Online</label>
        <hr>
        @if (ViewData[MarketPlace.Models.General.Constants.C_ViewData_UserNotAutorizedText] != null &&
                !string.IsNullOrEmpty(ViewData[MarketPlace.Models.General.Constants.C_ViewData_UserNotAutorizedText].ToString()))
        {
            <label class="gitkit-title">@ViewData[MarketPlace.Models.General.Constants.C_ViewData_UserNotAutorizedText].ToString()</label>
        }
        <a class="gitkit-button" href="@InternalLoginUrl">
            Ingresar
        </a>
    </div>
</div>


