@{
    ViewBag.Title = "Proveedores OnLine - Términos y Condiciones";
    Layout = MVC.Desktop.Shared.Views._Layout;
}
<div class="POMPTermsConditionsGreatWrapper">
    <div></div>
    <label>TERMINOS Y CONDICIONES PROVEEDORES ONLINE:</label>
    <span>
        Con el diligenciamiento de la informaci&oacute;n en el portal de Proveedores Online o Landing Pages de env&iacute;o de
        informaci&oacute;n, y/o el suministro de informaci&oacute;n y/o documentaci&oacute;n de cualquier tipo usted est&aacute; aceptando:<br />
        <br />- La divulgaci&oacute;n de la informaci&oacute;n a trav&eacute;s de Proveedores Online
        <br />- La confirmaci&oacute;n de bases de datos con fines para ser comercializados
        <br />- Consulta y certificaci&oacute;n de la informaci&oacute;n en listas restrictivas, centrales de riesgo y dem&aacute;s
        entidades p&uacute;blicas y privadas para verificaci&oacute;n de la informaci&oacute;n.
    </span>
    <label class="POMPTermsConditionSubtitle"><a name="TRATAMIENTO DE DATOS">
            POL&Iacute;TICA DE TRATAMIENTO DE DATOS PERSONALES
            PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S.</a></label>
    <label>
        1. NORMATIVIDAD LEGAL Y &Aacute;MBITO DE APLICACI&Oacute;N:
    </label>
    <span>
        La presente pol&iacute;tica de Tratamiento de datos personales es elaborada de conformidad con lo dispuesto en la
        Constituci&oacute;n Pol&iacute;tica, la Resoluci&oacute;n 3066 de 2011, la Ley 1581 de 2012, el Decreto Reglamentario 1377 de
        2013 y dem&aacute;s disposiciones complementarias y ser&aacute; aplicada por PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S
        respecto de la recolecci&oacute;n, almacenamiento, uso, circulaci&oacute;n, supresi&oacute;n y de todas aquellas actividades que
        constituyan tratamiento de datos personales.
    </span>
    <label>2. DEFINICIONES:</label>
    <span>
        Para efectos de la ejecuci&oacute;n de la presente pol&iacute;tica y de conformidad con la normatividad legal, ser&aacute;n
        aplicables las siguientes definiciones: <span>a) Autorizaci&oacute;n:</span> Consentimiento previo, expreso e informado del
        Titular para llevar a cabo el Tratamiento de datos personales; <span>b) Aviso de privacidad:</span> Documento f&iacute;sico,
        electr&oacute;nico o en cualquier otro formato generado por el Responsable que se pone a disposici&oacute;n del Titular
        para el tratamiento de sus datos personales. En el Aviso de Privacidad se comunica al Titular la informaci&oacute;n
        relativa a la existencia de las pol&iacute;ticas de tratamiento de informaci&oacute;n que le ser&aacute;n aplicables, la forma de
        acceder a las mismas y las caracter&iacute;sticas del tratamiento que se pretende dar a los datos personales; <span>
            c)
            Base de Datos:
        </span> Conjunto organizado de datos personales que sea objeto de Tratamiento; <span>
            d) Dato
            personal:
        </span> Cualquier informaci&oacute;n vinculada o que pueda asociarse a una o varias personas naturales
        determinadas o determinables; <span>e) Dato p&uacute;blico:</span> Es el dato calificado como tal seg&uacute;n los mandatos de la ley
        o de la Constituci&oacute;n Pol&iacute;tica y aquel que no sea semiprivado, privado o sensible. Son p&uacute;blicos, entre otros,
        los datos relativos al estado civil de las personas, a su profesi&oacute;n u oficio, a su calidad de comerciante o de
        servidor p&uacute;blico y aquellos que puedan obtenerse sin reserva alguna. Por su naturaleza, los datos p&uacute;blicos
        pueden estar contenidos, entre otros, en registros p&uacute;blicos, documentos p&uacute;blicos, gacetas y boletines
        oficiales; <span>f) Dato privado:</span> Es el dato que por su naturaleza &iacute;ntima o reservada s&oacute;lo es relevante para el
        titular; <span>g) Datos sensibles:</span> Se entiende por datos sensibles aquellos que afectan la intimidad del Titular o
        cuyo uso indebido puede generar su discriminaci&oacute;n, tales como aquellos que revelen el origen racial o
        &eacute;tnico, la orientaci&oacute;n pol&iacute;tica, las convicciones religiosas o filos&oacute;ficas, la pertenencia a sindicatos,
        organizaciones sociales, de derechos humanos o que promueva intereses de cualquier partido pol&iacute;tico o que
        garanticen los derechos y garant&iacute;as de partidos pol&iacute;ticos de oposici&oacute;n, as&iacute; como los datos relativos a la
        salud, a la vida sexual y los datos biom&eacute;tricos; <span>h) Encargado del Tratamiento:</span> Persona natural o jur&iacute;dica,
        p&uacute;blica o privada, que por s&iacute; misma o en asocio con otros, realice el Tratamiento de datos personales por
        cuenta del Responsable del Tratamiento; <span>i) Responsable del Tratamiento:</span> Persona natural o jur&iacute;dica,
        p&uacute;blica o privada, que por s&iacute; misma o en asocio con otros, decida sobre la base de datos y/o el Tratamiento
        de los datos; <span>j) Titular:</span> Persona natural cuyos datos personales sean objeto de Tratamiento; <span>
            k)
            Tratamiento:
        </span> Cualquier operaci&oacute;n o conjunto de operaciones sobre datos personales, tales como la
        recolecci&oacute;n, almacenamiento, uso, circulaci&oacute;n o supresi&oacute;n de los mismos.
    </span>
    <label>
        3. FINALIDAD CON LA QUE SE EFECT&Uacute;A LA RECOLECCI&Oacute;N DE DATOS PERSONALES Y TRATAMIENTO DE
        LOS MISMOS:
    </label>
    <span>
        PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S recolecta datos personales de sus clientes y/o de los usuarios de
        sus productos para efectos de: <span>a)</span> Ejecutar la relaci&oacute;n contractual existente con ellos; <span>b)</span> Proveer servicios
        los productos requeridos por sus usuarios; <span>c)</span> Informar sobre nuevos productos o servicios y/o sobre cambios
        en los mismos; <span>d)</span> Evaluar la calidad del servicio; <span>e)</span> Realizar estudios internos sobre h&aacute;bitos de
        consumo; <span>f)</span> Enviar al correo f&iacute;sico, electr&oacute;nico, celular o dispositivo m&oacute;vil, v&iacute;a mensajes de texto (SMS y/o
        MMS) o a trav&eacute;s de cualquier otro medio an&aacute;logo y/o digital de comunicaci&oacute;n creado o por crearse,
        informaci&oacute;n comercial, publicitaria o promocional sobre los productos y/o servicios, eventos y/o
        promociones de tipo comercial o no de estas, con el fin de impulsar, invitar, dirigir, ejecutar, informar y de
        manera general, llevar a cabo campa&ntilde;as, promociones o concursos de car&aacute;cter comercial o publicitario,
        adelantados por PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S y/o por terceras personas; <span>g)</span> Permitir su consulta
        a terceros con el fin de contactar al titular del dato, de corroborar su informaci&oacute;n y/o de efectuar
        cualquiera de las actividades descritas en este art&iacute;culo de la POL&iacute;TICA DE TRATAMIENTO DE DATOS
        PERSONALES. El tratamiento efectuado respecto de los datos personales consistir&aacute; en su obtenci&oacute;n,
        recolecci&oacute;n, intercambio, almacenamiento, uso, circulaci&oacute;n, correcci&oacute;n o supresi&oacute;n; <span>h)</span> Los indicados en la
        autorizaci&oacute;n otorgada por el titular del dato o descritos en el aviso de privacidad respectivo, seg&uacute;n sea el
        caso.
    </span>
    <label>
        4. PRINCIPIOS APLICABLES AL TRATAMIENTO DE DATOS PERSONALES:
    </label>
    <span>
        El tratamiento de datos personales en PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S se regir&aacute; por los siguientes
        principios: <span>a) Principio de finalidad:</span> El Tratamiento de los datos personales recogido debe obedecer a una
        finalidad leg&iacute;tima de la cual debe ser informada al Titular; <span>b) Principio de libertad:</span> El Tratamiento s&oacute;lo
        puede llevarse a cabo con el consentimiento, previo, expreso e informado del Titular. Los datos personales
        no podr&aacute;n ser obtenidos o divulgados sin previa autorizaci&oacute;n, o en ausencia de mandato legal o judicial que
        releve el consentimiento; <span>c) Principio de veracidad o calidad:</span> La informaci&oacute;n sujeta a Tratamiento debe
        ser veraz, completa, exacta, actualizada, comprobable y comprensible. No ser&aacute; efectuado el Tratamiento
        de datos parciales, incompletos, fraccionados o que induzcan a error; <span>d) Principio de transparencia:</span> En el
        Tratamiento debe garantizarse el derecho del Titular a obtener de PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S
        en cualquier momento y sin restricciones, informaci&oacute;n acerca de la existencia de datos que le
        conciernan; <span>e) Principio de acceso y circulaci&oacute;n restringida:</span> El Tratamiento se sujeta a los l&iacute;mites que se
        derivan de la naturaleza de los datos personales, de las disposiciones de la presente ley y la Constituci&oacute;n.
        Los datos personales, salvo la informaci&oacute;n p&uacute;blica, y lo dispuesto en la autorizaci&oacute;n otorgada por el titular
        del dato, no podr&aacute;n estar disponibles en Internet u otros medios de divulgaci&oacute;n o comunicaci&oacute;n masiva,
        salvo que el acceso sea t&eacute;cnicamente controlable para brindar un conocimiento restringido s&oacute;lo a los
        Titulares o terceros autorizados; <span>f) Principio de seguridad:</span> La informaci&oacute;n sujeta a Tratamiento por parte
        de PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S se deber&aacute; proteger mediante el uso de las medidas t&eacute;cnicas,
        humanas y administrativas que sean necesarias para otorgar seguridad a los registros evitando su
        adulteraci&oacute;n, p&eacute;rdida, consulta, uso o acceso no autorizado o fraudulento; <span>g) Principio de confidencialidad:</span> Todas las personas que intervengan en el Tratamiento de datos personales est&aacute;n obligadas
        a garantizar la reserva de la informaci&oacute;n, inclusive despu&eacute;s de finalizada su relaci&oacute;n con alguna de las
        labores que comprende el Tratamiento.
    </span>
    <label>
        5. DERECHOS DE LOS TITULARES DE DATOS PERSONALES OBJETO DE TRATAMIENTO POR PARTE DE
        PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S.:
    </label>
    <span>
        Los titulares de datos personales por s&iacute; o por intermedio de su representante y/o apoderado o su
        causahabiente podr&aacute;n ejercer los siguientes derechos, respecto de los datos personales que sean objeto de
        tratamiento por parte de PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S.: <span>a) Derecho de acceso:</span> En virtud del
        cual podr&aacute; acceder a los datos personales que est&eacute;n bajo el control de PUBLICAR PUBLICIDAD MULTIMEDIA
        S.A.S, para efectos de consultarlos de manera gratuita al menos una vez cada mes calendario, y cada vez
        que existan modificaciones sustanciales de las Pol&iacute;ticas de Tratamiento de la informaci&oacute;n que motiven
        nuevas consultas; <span>b) Derecho de actualizaci&oacute;n, rectificaci&oacute;n y supresi&oacute;n:</span> En virtud del cual podr&aacute; solicitar
        la actualizaci&oacute;n, rectificaci&oacute;n y/o supresi&oacute;n de los datos personales objeto de tratamiento, de tal manera
        que se satisfagan los prop&oacute;sitos del tratamiento; <span>c) Derecho a solicitar prueba de la autorizaci&oacute;n:</span> salvo en
        los eventos en los cuales, seg&uacute;n las normas legales vigentes, no se requiera de la autorizaci&oacute;n para realizar
        el tratamiento; <span>d) Derecho a ser informado respecto del uso del dato personal;</span> <span>
            e) Derecho a presentar
            quejas ante la Superintendencia de Industria y Comercio:
        </span> por infracciones a lo dispuesto en la
        normatividad vigente sobre tratamiento de datos personales; <span>
            f) Derecho a requerir el cumplimiento de las
            &oacute;rdenes emitidas por la Superintendencia de Industria y Comercio.
        </span>
    </span>
    <label>PAR&Aacute;GRAFO PRIMERO:</label>
    <span>
        Para efectos del ejercicio de los derechos antes descritos tanto el titular como la persona que lo represente
        deber&aacute; demostrar su identidad y, de ser el caso, la calidad en virtud de la cual representa al
        titular. <span>PAR&Aacute;GRAFO SEGUNDO:</span> Los derechos de los menores de edad ser&aacute;n ejercidos por medio de las
        personas que est&eacute;n facultadas para representarlos.
    </span>
    <label>6. SOLICITUD DE AUTORIZACI&Oacute;N AL TITULAR DEL DATO PERSONAL:</label>
    <span>
        Con antelaci&oacute;n y/o al momento de efectuar la recolecci&oacute;n del dato personal, PUBLICAR PUBLICIDAD
        MULTIMEDIA S.A.S solicitar&aacute; al titular del dato su autorizaci&oacute;n para efectuar su recolecci&oacute;n y tratamiento,
        indicando la finalidad para la cual se solicita el dato, utilizando para esos efectos medios t&eacute;cnicos
        automatizados, escritos u orales, que permitan conservar prueba de la autorizaci&oacute;n y/o de la conducta
        inequ&iacute;voca descrita en el art&iacute;culo 7 del Decreto 1377 de 2013. Dicha autorizaci&oacute;n se solicitar&aacute; por el tiempo
        que sea razonable y necesario para satisfacer las necesidades que dieron origen a la solicitud del dato y, en
        todo caso, con observancia de las disposiciones legales que rigen sobre la materia.
    </span>
    <label>7. AVISO DE PRIVACIDAD: En el evento en el que PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S.</label>
    <span>
        No pueda poner a disposici&oacute;n del titular del dato personal la presente pol&iacute;tica de tratamiento de la
        informaci&oacute;n, publicar&aacute; el aviso de privacidad que se adjunta al presente documento, cuyo texto conservar&aacute;
        para consulta posterior por parte del titular del dato y/o de la Superintendencia de Industria y Comercio.
    </span>
    <label>8. LIMITACIONES TEMPORALES AL TRATAMIENTO DE LOS DATOS PERSONALES.</label>
    <span>
        PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S. solo podr&aacute; recolectar, almacenar, usar o circular los datos
        personales durante el tiempo que sea razonable y necesario, de acuerdo con las finalidades que justificaron el tratamiento, atendiendo a las disposiciones aplicables a la materia de que se trate y a los aspectos
        administrativos, contables, fiscales, jur&iacute;dicos e hist&oacute;ricos de la informaci&oacute;n. Una vez cumplida la o las
        finalidades del tratamiento y sin perjuicio de normas legales que dispongan lo contrario, proceder&aacute; a la
        supresi&oacute;n de los datos personales en su posesi&oacute;n. No obstante lo anterior, los datos personales deber&aacute;n ser
        conservados cuando as&iacute; se requiera para el cumplimiento de una obligaci&oacute;n legal o contractual.
    </span>
    <label>
        9. &Aacute;REA RESPONSABLE Y PROCEDIMIENTO PARA EL EJERCICIO DE LOS DERECHOS DE LOS TITULARES DEL
        DATO PERSONAL:
    </label>
    <span>
        El &Aacute;REA DE SERVICIO AL CLIENTE de PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S. ser&aacute; la responsable de atender
        las peticiones, quejas y reclamos que formule el titular del dato en ejercicio de los derechos contemplados
        en el numeral 5 de la presente pol&iacute;tica, a excepci&oacute;n del descrito en su literal e). Para tales efectos, el
        titular del dato personal o quien ejerza su representaci&oacute;n podr&aacute; enviar su petici&oacute;n, queja o reclamo de
        lunes a viernes de 8:00 a.m a 5:00 p.m al correo electr&oacute;nico servicioalcliente@publicar.com , llamar a la
        l&iacute;nea telef&oacute;nica nacional gratuita 018000964444, Bogot&aacute; tel&eacute;fono 6465544, o radicarla en las siguientes
        direcciones, correspondientes a nuestra oficinas en todo el Pa&iacute;s:
    </span>
    <img src="http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/tabla1.png" title="" alt="" />
    <span>
        La petici&oacute;n, queja o reclamo deber&aacute; contener la identificaci&oacute;n del Titular, la descripci&oacute;n de los hechos que
        dan lugar al reclamo, la direcci&oacute;n, y acompa&ntilde;ando los documentos que se quiera hacer valer. Si el reclamo
        resulta incompleto, se requerir&aacute; al interesado dentro de los cinco <span>(5)</span> d&iacute;as siguientes a la recepci&oacute;n del
        reclamo para que subsane las fallas. Transcurridos dos <span>(2)</span> meses desde la fecha del requerimiento, sin que
    el solicitante presente la informaci&oacute;n requerida, se entender&aacute; que ha desistido del reclamo. En caso de que
    quien reciba el reclamo no sea competente para resolverlo, dar&aacute; traslado a quien corresponda en un
    t&eacute;rmino m&aacute;ximo de dos <span>(2)</span> d&iacute;as h&aacute;biles e informar&aacute; de la situaci&oacute;n al interesado. Una vez recibido el
    reclamo completo, se incluir&aacute; en la base de datos una leyenda que diga “reclamo en tr&aacute;mite” y el motivo
    del mismo, en un t&eacute;rmino no mayor a dos <span>(2)</span> d&iacute;as h&aacute;biles. Dicha leyenda deber&aacute; mantenerse hasta que el
    reclamo sea decidido. El t&eacute;rmino m&aacute;ximo para atender el reclamo ser&aacute; de quince <span>(15)</span> d&iacute;as h&aacute;biles contados
    a partir del d&iacute;a siguiente a la fecha de su recibo. Cuando no fuere posible atender el reclamo dentro de dicho t&eacute;rmino, se informar&aacute; al interesado los motivos de la demora y la fecha en que se atender&aacute; su
    reclamo, la cual en ning&uacute;n caso podr&aacute; superar los ocho <span>(8)</span> d&iacute;as h&aacute;biles siguientes al vencimiento del primer
    t&eacute;rmino.
</span>
    <label>10. DATOS RECOLECTADOS ANTES DE LA EXPEDICI&Oacute;N DEL DECRETO 1377 DE 2013:</label>
    <span>
        De conformidad con lo dispuesto en el numeral 3 del art&iacute;culo 10 del Decreto Reglamentario 1377 de 2013
        PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S proceder&aacute; a publicar un aviso en su p&aacute;gina web oficial
        www.publicar.com dirigido a los titulares de datos personales para efectos de dar a conocer la presente
        pol&iacute;tica, as&iacute; como sus derechos como titulares de datos personales alojados en las bases de datos de
        PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S
    </span>
    <label>11. MEDIDAS DE SEGURIDAD:</label>
    <span>
        En desarrollo del principio de seguridad establecido en la Ley 1581 de 2012, PUBLICAR PUBLICIDAD
        MULTIMEDIA S.A.S adoptar&aacute; las medidas t&eacute;cnicas, humanas y administrativas que sean necesarias para
        otorgar seguridad a los registros evitando su adulteraci&oacute;n, p&eacute;rdida, consulta, uso o acceso no autorizado o
        fraudulento. El personal que realice el tratamiento de los datos personales ejecutar&aacute; los protocolos
        establecidos con el fin de garantizar la seguridad de la informaci&oacute;n.
    </span>
    <label>12. FECHA DE ENTRADA EN VIGENCIA:</label>
    <span>
        La presente pol&iacute;tica entrar&aacute; en vigencia desde el d&iacute;a 2 de julio de 2013, hasta que as&iacute; lo determine
        PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S de conformidad con la normatividad legal aplicable. Cualquier
        cambio que se presente respecto de la presente pol&iacute;tica, se informar&aacute; a trav&eacute;s de la direcci&oacute;n:
        www.publicar.com
    </span>
    <label>
        PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S.
        DOMICILIO: AVENIDA 68 75 A 50 PISO 4 BOGOT&Aacute; D.C.
        servicioalcliente@publicar.com
        L&Iacute;NEA TELEF&Oacute;NICA NACIONAL GRATUITA 018000964444
    </label>
    <label class="POMPTermsConditionSubtitle">AVISO DE PRIVACIDAD</label>
    <span>
        RESPONSABLE DEL TRATAMIENTO:<br />
        PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S.<br />
        DOMICILIO: AVENIDA 68 75 A 50 PISO 4 BOGOT&Aacute; D.C.<br />
        servicioalcliente@publicar.com<br />
        L&Iacute;NEA TELEF&Oacute;NICA NACIONAL GRATUITA 018000964444
    </span>
    <label>
        FINALIDAD CON LA QUE SE EFECT&Uacute;A LA RECOLECCI&Oacute;N DE DATOS PERSONALES Y TRATAMIENTO DE LOS
        MISMOS:
    </label>
    <span>
        PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S. recolecta datos personales de sus clientes y/o de los usuarios de
        sus productos para efectos de: <span>a)</span> Ejecutar la relaci&oacute;n contractual existente con ellos; <span>b)</span> Proveer servicios
        los productos requeridos por sus usuarios; <span>c)</span> Informar sobre nuevos productos o servicios y/o sobre cambios
        en los mismos; <span>d)</span> Evaluar la calidad del servicio; <span>e)</span> Realizar estudios internos sobre h&aacute;bitos de
        consumo; <span>f)</span> Enviar al correo f&iacute;sico, electr&oacute;nico, celular o dispositivo m&oacute;vil, v&iacute;a mensajes de texto (SMS y/o
        MMS) o a trav&eacute;s de cualquier otro medio an&aacute;logo y/o digital de comunicaci&oacute;n creado o por crearse, informaci&oacute;n comercial, publicitaria o promocional sobre los productos y/o servicios, eventos y/o
        promociones de tipo comercial o no de estas, con el fin de impulsar, invitar, dirigir, ejecutar, informar y de
        manera general, llevar a cabo campa&ntilde;as, promociones o concursos de car&aacute;cter comercial o publicitario,
        adelantados por PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S y/o por terceras personas; <span>g)</span> Permitir su consulta
        a terceros con el fin de contactar al titular del dato, de corroborar su informaci&oacute;n y/o de efectuar
        cualquiera de las actividades descritas en este art&iacute;culo de la POL&iacute;TICA DE TRATAMIENTO DE DATOS
        PERSONALES. El tratamiento efectuado respecto de los datos personales consistir&aacute; en su obtenci&oacute;n,
        recolecci&oacute;n, intercambio, almacenamiento, uso, circulaci&oacute;n, correcci&oacute;n o supresi&oacute;n; <span>h)</span> Los indicados en la
        autorizaci&oacute;n otorgada por el titular del dato o descritos en el aviso de privacidad respectivo, seg&uacute;n sea el
        caso.
        POL&iacute;TICA DE TRATAMIENTO DE DATOS PERSONALES: Podr&aacute; ser consultada en la siguiente direcci&oacute;n:
        www.publicar.com
    </span>
    <label>DERECHOS:</label>
    <span>
        Como titular de datos personales, usted tiene los siguientes derechos: <span>a) Derecho de acceso:</span> En virtud del
        cual podr&aacute; acceder a los datos personales que est&eacute;n bajo el control de PUBLICAR PUBLICIDAD MULTIMEDIA
        S.A.S., para efectos de consultarlos de manera gratuita al menos una vez cada mes calendario, y cada vez
        que existan modificaciones sustanciales de las Pol&iacute;ticas de Tratamiento de la informaci&oacute;n que motiven
        nuevas consultas; <span>b) Derecho de actualizaci&oacute;n, rectificaci&oacute;n y supresi&oacute;n:</span> En virtud del cual podr&aacute; solicitar
        la actualizaci&oacute;n, rectificaci&oacute;n y/o supresi&oacute;n de los datos personales objeto de tratamiento, de tal manera
        que se satisfagan los prop&oacute;sitos del tratamiento; <span>c) Derecho a solicitar prueba de la autorizaci&oacute;n:</span> salvo en
        los eventos en los cuales, seg&uacute;n las normas legales vigentes, no se requiera de la autorizaci&oacute;n para realizar
        el tratamiento; <span>d) Derecho a ser informado respecto del uso del dato personal;</span> <span>
            e) Derecho a presentar
            quejas ante la Superintendencia de Industria y Comercio:
        </span> por infracciones a lo dispuesto en la
        normatividad vigente sobre tratamiento de datos personales; <span>
            f) Derecho a requerir el cumplimiento de las
            &oacute;rdenes emitidas por la Superintendencia de Industria y Comercio.
        </span>
        Usted podr&aacute; formular peticiones, quejas y/o reclamos respecto de su Dato Personal en El &aacute;REA DE SERVICIO
        AL CLIENTE de PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S. de lunes a viernes de 8:00 a.m a 5:00 p.m al correo
        electr&oacute;nico servicioalcliente@publicar.com, llamar a la l&iacute;nea telef&oacute;nica nacional gratuita 018000964444,
        Bogot&aacute; tel&eacute;fono 6465544, o radicarla en las siguientes direcciones, correspondientes a nuestra oficinas en
        todo el Pa&iacute;s:
    </span>
    <img src="http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/tabla2.png" title="" alt="" />
</div>