@{
    ViewBag.Title = "Proveedores OnLine - Términos y Condiciones";
    Layout = MVC.Desktop.Shared.Views._Layout;
}

<div class="POMPTermsConditionsGreatWrapper">
    <div></div>
        <label>TERMINOS Y CONDICIONES PROVEEDORES ONLINE:</label>
        <span>Con el diligenciamiento de la información en el portal de Proveedores Online o Landing Pages de envío de
        información, y/o el suministro de información y/o documentación de cualquier tipo usted está aceptando:
        - La divulgación de la información a través de Proveedores Online
        - La confirmación de bases de datos con fines para ser comercializados
        - Consulta y certificación de la información en listas restrictivas, centrales de riesgo y demás
        entidades públicas y privadas para verificación de la información.</span>
        <label>POLÍTICA DE TRATAMIENTO DE DATOS PERSONALES
        PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S.</label>
        <label>
        1. NORMATIVIDAD LEGAL Y ÁMBITO DE APLICACIÓN:
        </label>
        <span>La presente política de Tratamiento de datos personales es elaborada de conformidad con lo dispuesto en la
        Constitución Política, la Resolución 3066 de 2011, la Ley 1581 de 2012, el Decreto Reglamentario 1377 de
        2013 y demás disposiciones complementarias y será aplicada por PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S
        respecto de la recolección, almacenamiento, uso, circulación, supresión y de todas aquellas actividades que
        constituyan tratamiento de datos personales.</span>
        <label>2. DEFINICIONES:</label>
        <span>Para efectos de la ejecución de la presente política y de conformidad con la normatividad legal, serán
        aplicables las siguientes definiciones: a) Autorización: Consentimiento previo, expreso e informado del
        Titular para llevar a cabo el Tratamiento de datos personales; b) Aviso de privacidad: Documento físico,
        electrónico o en cualquier otro formato generado por el Responsable que se pone a disposición del Titular
        para el tratamiento de sus datos personales. En el Aviso de Privacidad se comunica al Titular la información
        relativa a la existencia de las políticas de tratamiento de información que le serán aplicables, la forma de
        acceder a las mismas y las características del tratamiento que se pretende dar a los datos personales; c)
        Base de Datos: Conjunto organizado de datos personales que sea objeto de Tratamiento; d) Dato
        personal: Cualquier información vinculada o que pueda asociarse a una o varias personas naturales
        determinadas o determinables; e) Dato público: Es el dato calificado como tal según los mandatos de la ley
        o de la Constitución Política y aquel que no sea semiprivado, privado o sensible. Son públicos, entre otros,
        los datos relativos al estado civil de las personas, a su profesión u oficio, a su calidad de comerciante o de
        servidor público y aquellos que puedan obtenerse sin reserva alguna. Por su naturaleza, los datos públicos
        pueden estar contenidos, entre otros, en registros públicos, documentos públicos, gacetas y boletines
        oficiales; f) Dato privado: Es el dato que por su naturaleza íntima o reservada sólo es relevante para el
        titular; g) Datos sensibles: Se entiende por datos sensibles aquellos que afectan la intimidad del Titular o
        cuyo uso indebido puede generar su discriminación, tales como aquellos que revelen el origen racial o
        étnico, la orientación política, las convicciones religiosas o filosóficas, la pertenencia a sindicatos,
        organizaciones sociales, de derechos humanos o que promueva intereses de cualquier partido político o que
        garanticen los derechos y garantías de partidos políticos de oposición, así como los datos relativos a la
        salud, a la vida sexual y los datos biométricos; h) Encargado del Tratamiento: Persona natural o jurídica,
        pública o privada, que por sí misma o en asocio con otros, realice el Tratamiento de datos personales por
        cuenta del Responsable del Tratamiento; i) Responsable del Tratamiento: Persona natural o jurídica,
        pública o privada, que por sí misma o en asocio con otros, decida sobre la base de datos y/o el Tratamiento
        de los datos; j) Titular: Persona natural cuyos datos personales sean objeto de Tratamiento; k)
        Tratamiento: Cualquier operación o conjunto de operaciones sobre datos personales, tales como la
        recolección, almacenamiento, uso, circulación o supresión de los mismos.</span>
        <label>3. FINALIDAD CON LA QUE SE EFECTÚA LA RECOLECCIÓN DE DATOS PERSONALES Y TRATAMIENTO DE
        LOS MISMOS:</label>
        <span>PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S recolecta datos personales de sus clientes y/o de los usuarios de
        sus productos para efectos de: a) Ejecutar la relación contractual existente con ellos; b) Proveer servicios
        los productos requeridos por sus usuarios; c) Informar sobre nuevos productos o servicios y/o sobre cambios
        en los mismos; d) Evaluar la calidad del servicio; e) Realizar estudios internos sobre hábitos de
        consumo; f) Enviar al correo físico, electrónico, celular o dispositivo móvil, vía mensajes de texto (SMS y/o
        MMS) o a través de cualquier otro medio análogo y/o digital de comunicación creado o por crearse,
        información comercial, publicitaria o promocional sobre los productos y/o servicios, eventos y/o
        promociones de tipo comercial o no de estas, con el fin de impulsar, invitar, dirigir, ejecutar, informar y de
        manera general, llevar a cabo campañas, promociones o concursos de carácter comercial o publicitario,
        adelantados por PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S y/o por terceras personas; g) Permitir su consulta
        a terceros con el fin de contactar al titular del dato, de corroborar su información y/o de efectuar
        cualquiera de las actividades descritas en este artículo de la POLÍTICA DE TRATAMIENTO DE DATOS
        PERSONALES. El tratamiento efectuado respecto de los datos personales consistirá en su obtención,
        recolección, intercambio, almacenamiento, uso, circulación, corrección o supresión; h) Los indicados en la
        autorización otorgada por el titular del dato o descritos en el aviso de privacidad respectivo, según sea el
        caso.</span>
        <label>
        4. PRINCIPIOS APLICABLES AL TRATAMIENTO DE DATOS PERSONALES:
        </label>
        <span>El tratamiento de datos personales en PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S se regirá por los siguientes
        principios: a) Principio de finalidad: El Tratamiento de los datos personales recogido debe obedecer a una
        finalidad legítima de la cual debe ser informada al Titular; b) Principio de libertad: El Tratamiento sólo
        puede llevarse a cabo con el consentimiento, previo, expreso e informado del Titular. Los datos personales
        no podrán ser obtenidos o divulgados sin previa autorización, o en ausencia de mandato legal o judicial que
        releve el consentimiento; c) Principio de veracidad o calidad: La información sujeta a Tratamiento debe
        ser veraz, completa, exacta, actualizada, comprobable y comprensible. No será efectuado el Tratamiento
        de datos parciales, incompletos, fraccionados o que induzcan a error; )d Principio de transparencia: En el
        Tratamiento debe garantizarse el derecho del Titular a obtener de PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S
        en cualquier momento y sin restricciones, información acerca de la existencia de datos que le
        conciernan; e) Principio de acceso y circulación restringida: El Tratamiento se sujeta a los límites que se
        derivan de la naturaleza de los datos personales, de las disposiciones de la presente ley y la Constitución.
        Los datos personales, salvo la información pública, y lo dispuesto en la autorización otorgada por el titular
        del dato, no podrán estar disponibles en Internet u otros medios de divulgación o comunicación masiva,
        salvo que el acceso sea técnicamente controlable para brindar un conocimiento restringido sólo a los
        Titulares o terceros autorizados; f) Principio de seguridad: La información sujeta a Tratamiento por parte
        de PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S se deberá proteger mediante el uso de las medidas técnicas,
        humanas y administrativas que sean necesarias para otorgar seguridad a los registros evitando su
        adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento; g) Principio de confidencialidad: Todas las personas que intervengan en el Tratamiento de datos personales están obligadas
        a garantizar la reserva de la información, inclusive después de finalizada su relación con alguna de las
        labores que comprende el Tratamiento.</span>
        <label>5. DERECHOS DE LOS TITULARES DE DATOS PERSONALES OBJETO DE TRATAMIENTO POR PARTE DE
        PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S.:</label>
        <span>Los titulares de datos personales por sí o por intermedio de su representante y/o apoderado o su
        causahabiente podrán ejercer los siguientes derechos, respecto de los datos personales que sean objeto de
        tratamiento por parte de PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S.: a) Derecho de acceso: En virtud del
        cual podrá acceder a los datos personales que estén bajo el control de PUBLICAR PUBLICIDAD MULTIMEDIA
        S.A.S, para efectos de consultarlos de manera gratuita al menos una vez cada mes calendario, y cada vez
        que existan modificaciones sustanciales de las Políticas de Tratamiento de la información que motiven
        nuevas consultas; b) Derecho de actualización, rectificación y supresión: En virtud del cual podrá solicitar
        la actualización, rectificación y/o supresión de los datos personales objeto de tratamiento, de tal manera
        que se satisfagan los propósitos del tratamiento; c) Derecho a solicitar prueba de la autorización: salvo en
        los eventos en los cuales, según las normas legales vigentes, no se requiera de la autorización para realizar
        el tratamiento; d) Derecho a ser informado respecto del uso del dato personal; e) Derecho a presentar
        quejas ante la Superintendencia de Industria y Comercio: por infracciones a lo dispuesto en la
        normatividad vigente sobre tratamiento de datos personales; f) Derecho a requerir el cumplimiento de las
        órdenes emitidas por la Superintendencia de Industria y Comercio.</span>
        <label>PARÁGRAFO PRIMERO:</label>
        <span>Para efectos del ejercicio de los derechos antes descritos tanto el titular como la persona que lo represente
        deberá demostrar su identidad y, de ser el caso, la calidad en virtud de la cual representa al
        titular. PARÁGRAFO SEGUNDO: Los derechos de los menores de edad serán ejercidos por medio de las
        personas que estén facultadas para representarlos.</span>
        <label>6. SOLICITUD DE AUTORIZACIÓN AL TITULAR DEL DATO PERSONAL:</label>
        <span>Con antelación y/o al momento de efectuar la recolección del dato personal, PUBLICAR PUBLICIDAD
        MULTIMEDIA S.A.S solicitará al titular del dato su autorización para efectuar su recolección y tratamiento,
        indicando la finalidad para la cual se solicita el dato, utilizando para esos efectos medios técnicos
        automatizados, escritos u orales, que permitan conservar prueba de la autorización y/o de la conducta
        inequívoca descrita en el artículo 7 del Decreto 1377 de 2013. Dicha autorización se solicitará por el tiempo
        que sea razonable y necesario para satisfacer las necesidades que dieron origen a la solicitud del dato y, en
        todo caso, con observancia de las disposiciones legales que rigen sobre la materia.</span>
        <label>7. AVISO DE PRIVACIDAD: En el evento en el que PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S.</label>
        <span>No pueda poner a disposición del titular del dato personal la presente política de tratamiento de la
        información, publicará el aviso de privacidad que se adjunta al presente documento, cuyo texto conservará
        para consulta posterior por parte del titular del dato y/o de la Superintendencia de Industria y Comercio.</span>
        <label>8. LIMITACIONES TEMPORALES AL TRATAMIENTO DE LOS DATOS PERSONALES.</label>
        <span>PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S. solo podrá recolectar, almacenar, usar o circular los datos
        personales durante el tiempo que sea razonable y necesario, de acuerdo con las finalidades que justificaron el tratamiento, atendiendo a las disposiciones aplicables a la materia de que se trate y a los aspectos
        administrativos, contables, fiscales, jurídicos e históricos de la información. Una vez cumplida la o las
        finalidades del tratamiento y sin perjuicio de normas legales que dispongan lo contrario, procederá a la
        supresión de los datos personales en su posesión. No obstante lo anterior, los datos personales deberán ser
        conservados cuando así se requiera para el cumplimiento de una obligación legal o contractual.</span>
        <label>9. ÁREA RESPONSABLE Y PROCEDIMIENTO PARA EL EJERCICIO DE LOS DERECHOS DE LOS TITULARES DEL
        DATO PERSONAL:</label>
        <span>El ÁREA DE SERVICIO AL CLIENTE de PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S. será la responsable de atender
        las peticiones, quejas y reclamos que formule el titular del dato en ejercicio de los derechos contemplados
        en el numeral 5 de la presente política, a excepción del descrito en su literal e). Para tales efectos, el
        titular del dato personal o quien ejerza su representación podrá enviar su petición, queja o reclamo de
        lunes a viernes de 8:00 a.m a 5:00 p.m al correo electrónico servicioalcliente@publicar.com , llamar a la
        línea telefónica nacional gratuita 018000964444, Bogotá teléfono 6465544, o radicarla en las siguientes
        direcciones, correspondientes a nuestra oficinas en todo el País:</span>
        <label>tabla</label>
        <span>La petición, queja o reclamo deberá contener la identificación del Titular, la descripción de los hechos que
        dan lugar al reclamo, la dirección, y acompañando los documentos que se quiera hacer valer. Si el reclamo
        resulta incompleto, se requerirá al interesado dentro de los cinco (5) días siguientes a la recepción del
        reclamo para que subsane las fallas. Transcurridos dos (2) meses desde la fecha del requerimiento, sin que
        el solicitante presente la información requerida, se entenderá que ha desistido del reclamo. En caso de que
        quien reciba el reclamo no sea competente para resolverlo, dará traslado a quien corresponda en un
        término máximo de dos (2) días hábiles e informará de la situación al interesado. Una vez recibido el
        reclamo completo, se incluirá en la base de datos una leyenda que diga “reclamo en trámite” y el motivo
        del mismo, en un término no mayor a dos (2) días hábiles. Dicha leyenda deberá mantenerse hasta que el
        reclamo sea decidido. El término máximo para atender el reclamo será de quince (15) días hábiles contados
        a partir del día siguiente a la fecha de su recibo. Cuando no fuere posible atender el reclamo dentro de dicho término, se informará al interesado los motivos de la demora y la fecha en que se atenderá su
        reclamo, la cual en ningún caso podrá superar los ocho (8) días hábiles siguientes al vencimiento del primer
        término.</span>
        <label>10. DATOS RECOLECTADOS ANTES DE LA EXPEDICIÓN DEL DECRETO 1377 DE 2013:</label>
        <span>De conformidad con lo dispuesto en el numeral 3 del artículo 10 del Decreto Reglamentario 1377 de 2013
        PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S procederá a publicar un aviso en su página web oficial
        www.publicar.com dirigido a los titulares de datos personales para efectos de dar a conocer la presente
        política, así como sus derechos como titulares de datos personales alojados en las bases de datos de
        PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S</span>
        <label>11. MEDIDAS DE SEGURIDAD:</label>
        <span>En desarrollo del principio de seguridad establecido en la Ley 1581 de 2012, PUBLICAR PUBLICIDAD
        MULTIMEDIA S.A.S adoptará las medidas técnicas, humanas y administrativas que sean necesarias para
        otorgar seguridad a los registros evitando su adulteración, pérdida, consulta, uso o acceso no autorizado o
        fraudulento. El personal que realice el tratamiento de los datos personales ejecutará los protocolos
        establecidos con el fin de garantizar la seguridad de la información.</span>
        <label>12. FECHA DE ENTRADA EN VIGENCIA:</label>
        <span>La presente política entrará en vigencia desde el día 2 de julio de 2013, hasta que así lo determine
        PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S de conformidad con la normatividad legal aplicable. Cualquier
        cambio que se presente respecto de la presente política, se informará a través de la dirección:
        www.publicar.com</span>
        <label>PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S.
        DOMICILIO: AVENIDA 68 75 A 50 PISO 4 BOGOTÁ D.C.
        servicioalcliente@publicar.com
        LÍNEA TELEFÓNICA NACIONAL GRATUITA 018000964444</label>
        <label>AVISO DE PRIVACIDAD</label>
        <span>RESPONSABLE DEL TRATAMIENTO:
        PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S.
        DOMICILIO: AVENIDA 68 75 A 50 PISO 4 BOGOTÁ D.C.
        servicioalcliente@publicar.com
        LÍNEA TELEFÓNICA NACIONAL GRATUITA 018000964444</span>
        <label>FINALIDAD CON LA QUE SE EFECTÚA LA RECOLECCIÓN DE DATOS PERSONALES Y TRATAMIENTO DE LOS
        MISMOS:</label>
        <span>PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S. recolecta datos personales de sus clientes y/o de los usuarios de
        sus productos para efectos de: a) Ejecutar la relación contractual existente con ellos; b) Proveer servicios
        los productos requeridos por sus usuarios; c) Informar sobre nuevos productos o servicios y/o sobre cambios
        en los mismos; d) Evaluar la calidad del servicio; e) Realizar estudios internos sobre hábitos de
        consumo; f) Enviar al correo físico, electrónico, celular o dispositivo móvil, vía mensajes de texto (SMS y/o
        MMS) o a través de cualquier otro medio análogo y/o digital de comunicación creado o por crearse, información comercial, publicitaria o promocional sobre los productos y/o servicios, eventos y/o
        promociones de tipo comercial o no de estas, con el fin de impulsar, invitar, dirigir, ejecutar, informar y de
        manera general, llevar a cabo campañas, promociones o concursos de carácter comercial o publicitario,
        adelantados por PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S y/o por terceras personas; g) Permitir su consulta
        a terceros con el fin de contactar al titular del dato, de corroborar su información y/o de efectuar
        cualquiera de las actividades descritas en este artículo de la POLÍTICA DE TRATAMIENTO DE DATOS
        PERSONALES. El tratamiento efectuado respecto de los datos personales consistirá en su obtención,
        recolección, intercambio, almacenamiento, uso, circulación, corrección o supresión; h) Los indicados en la
        autorización otorgada por el titular del dato o descritos en el aviso de privacidad respectivo, según sea el
        caso.
        POLÍTICA DE TRATAMIENTO DE DATOS PERSONALES: Podrá ser consultada en la siguiente dirección:
        www.publicar.com</span>
        <label>DERECHOS:</label>
        <span>Como titular de datos personales, usted tiene los siguientes derechos: a) Derecho de acceso: En virtud del
        cual podrá acceder a los datos personales que estén bajo el control de PUBLICAR PUBLICIDAD MULTIMEDIA
        S.A.S., para efectos de consultarlos de manera gratuita al menos una vez cada mes calendario, y cada vez
        que existan modificaciones sustanciales de las Políticas de Tratamiento de la información que motiven
        nuevas consultas; b) Derecho de actualización, rectificación y supresión: En virtud del cual podrá solicitar
        la actualización, rectificación y/o supresión de los datos personales objeto de tratamiento, de tal manera
        que se satisfagan los propósitos del tratamiento; c) Derecho a solicitar prueba de la autorización: salvo en
        los eventos en los cuales, según las normas legales vigentes, no se requiera de la autorización para realizar
        el tratamiento; d) Derecho a ser informado respecto del uso del dato personal; e) Derecho a presentar
        quejas ante la Superintendencia de Industria y Comercio: por infracciones a lo dispuesto en la
        normatividad vigente sobre tratamiento de datos personales; f) Derecho a requerir el cumplimiento de las
        órdenes emitidas por la Superintendencia de Industria y Comercio.
        Usted podrá formular peticiones, quejas y/o reclamos respecto de su Dato Personal en El ÁREA DE SERVICIO
        AL CLIENTE de PUBLICAR PUBLICIDAD MULTIMEDIA S.A.S. de lunes a viernes de 8:00 a.m a 5:00 p.m al correo
        electrónico servicioalcliente@publicar.com, llamar a la línea telefónica nacional gratuita 018000964444,
        Bogotá teléfono 6465544, o radicarla en las siguientes direcciones, correspondientes a nuestra oficinas en
        todo el País:</span>
        <label>tabla</label>
</div>