@{
    ViewBag.Title = "Error";
    Layout = MVC.Desktop.Shared.Views._Layout;
}


<div class="POMPErrorContainer">
    <div class="POMPErrorMessage">
        <div id="POMPImageError">
            <div id="POMPGear1"><img src="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_Error_Gear1].Value" ></div>
            <div id="POMPGear2"><img src="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_Error_Gear2].Value" ></div>
            <div id="POMPGear3"><img src="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_Error_Gear3].Value"></div>            
        </div>
        <div id="POMPTextError">La página no se encuentra disponible.</div>
    </div>
    </div>
