@model BackOffice.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Administración de Backoffice";
    Layout = MVC.Shared.Views._Layout;

    Model.RenderScripts = false;
}
<div class="POBOProviderWrapper">
    <div class="POBOProviderSideMenuWrapper">
        @Html.Partial(MVC.Shared.Views._P_ProviderMenu, Model)
    </div>
</div>
@{
    Model.RenderScripts = true;
}
@section inlinescripts{
    @Html.Partial(MVC.Shared.Views._P_ProviderMenu, Model);
}