<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="POL_ThirdKnowledgeConnection" connectionString="Data Source=stgproveedoresonline.c21n120xwlou.us-east-1.rds.amazonaws.com;Initial Catalog=007_ThirdKnowledge;User Id=ProveedoresUser;Password=gerEdit!.$" />
    <add name="LogConnection" connectionString="Data Source=stgproveedoresonline.c21n120xwlou.us-east-1.rds.amazonaws.com;Initial Catalog=003_LogModule;User Id=ProveedoresUser;Password=gerEdit!.$" />
  </connectionStrings>
  <appSettings>

    <add key="LogFile" value="Log\" />

    <add key="LogTimer" value="3000" />

    <add key="SettingsConfig" value="C:\Users\JOHMARVA\Source\Repos\ProveedoresOnLine\ProveedoresOnLine.ThirdKnowledge\ProveedoresOnLine.ThirdKnowledge.Test\Rsx-SettingsConfig.xml" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WS-InspektorSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="WS-InspektorSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://190.242.114.111:2021/WSInspektor.asmx"
          binding="basicHttpBinding" bindingConfiguration="WS-InspektorSoap"
          contract="WS_Inspekt.WSInspektorSoap" name="WS-InspektorSoap" />
      <endpoint address="http://190.242.114.111:2021/WSInspektor.asmx"
          binding="customBinding" bindingConfiguration="WS-InspektorSoap12"
          contract="WS_Inspekt.WSInspektorSoap" name="WS-InspektorSoap12" />
    </client>
  </system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>