@{
    ViewBag.Title = "Proveedores OnLine - Estadisticas";
    Layout = MVC.Desktop.Shared.Views._Layout;
    @model MarketPlace.Models.Company.CompanyUtil
}
@*<div class="POMPProviderSideMenuWrapper">
    @Html.Partial(MVC.Desktop.Shared.Views._ST_StatsMenu, Model)
</div>*@
<div id="POMPGraphicContainerMain">
    <div class="POMPGraphicDynamic">
        <div class="POMPHeaderGraphicDynamic">
            <h1>Desempeño por evaluadores</h1>
        </div>
        @Html.Partial(MVC.Desktop.Shared.Views._CH_SurveyByEvaluators)
    </div>
    @*<div class="POMPGraphicDynamic">
        <div class="POMPHeaderGraphicDynamic">
            <h1>Evaluaciones de desempeño por estado año en curso</h1>
        </div>
        @Html.Partial(MVC.Desktop.Shared.Views._CH_Survey)
    </div>*@
    <div class="POMPGraphicDynamic">
    </div>*@
    @*<div class="POMPGraphicDynamic">
        <div class="POMPHeaderGraphicDynamic">
            <h1>Estado de los proveedores</h1>
        </div>
        @Html.Partial(MVC.Desktop.Shared.Views._CH_StateProviders)
    </div>*@
</div>