@model DocumentManagement.Models.Customer.UpserCustomerModel

@{
    ViewBag.Title = "Compradores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>

    @Html.Partial(MVC.Shared.Views._C_CustomerMenu, Model)

    <div>

    </div>


</div>
