@{
    ViewBag.Title = "Compradores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
</div>

@section inlinescripts
{
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}
