@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Información de contacto de empresa";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = true;
}

<div class="">
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
</div>

<div>
    <ul>
        @foreach (var item in Model.RelatedGeneralInfo)
        {
            <li>Nombre de información de contacto</li>
            <li>
                @item.CI_ContactName
            </li>
            <li>Tipo de Contacto</li>
            
                if (item.CI_ContactType == "209001")
                {
                    <li>Teléfono</li>
                }
                else if (item.CI_ContactType == "209002")
                {
                    <li>Celular</li>
                }
                else if (item.CI_ContactType == "209003")
                {
                    <li>Página Web</li>
                }

            <li>
                @item.CI_Value
            </li>
        }        
    </ul>
</div>
