@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Información de contacto de empresa";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}

@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>

    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">Información de contacto de empresa</label>
        <ul class="POMPProviderInfoDisplayList">
            @foreach (var item in Model.RelatedGeneralInfo)
            {
                <li>
                    <label>
                        Nombre de información de contacto                
                        <span>@item.CI_ContactName</span>
                    </label>
                    <label>
                        Tipo de Contacto
                    </label>
                    <label class="POMPProviderTypeOption">
                        @if (item.CI_ContactType == "209001")
                        {
                            <span>Teléfono: </span>
                        }
                        else if (item.CI_ContactType == "209002")
                        {
                            <span>Celular: </span>
                        }
                        else if (item.CI_ContactType == "209003")
                        {
                            <span>Página Web: </span>
                        }

                        <span class="POMPProviderTypeOptionValue">@item.CI_Value</span>
                    </label>

                </li>
            }
        </ul>
    </div>
</div>
    @{
        Model.RenderScripts = true;
    }
    @section inlinescripts
{
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    }
