@{
    ViewBag.Title = "Proveedores OnLine - Proveedores";
    Layout = MVC.Desktop.Shared.Views._Layout;    
}

@*Aqui va la validación*@
<div >
    @Html.Partial(MVC.Desktop.Shared.Views._CH_Survey)
</div>

