<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="POL_CompanyConnection" connectionString="Data Source=devproveedoresonline.c21n120xwlou.us-east-1.rds.amazonaws.com;Initial Catalog=005_ProveedoresOnLine;User Id=ProveedoresUser;Password=gerEdit!.$" />
    <add name="POL_CompanyProviderConnection" connectionString="Data Source=devproveedoresonline.c21n120xwlou.us-east-1.rds.amazonaws.com;Initial Catalog=005_ProveedoresOnLine;User Id=ProveedoresUser;Password=gerEdit!.$" />
    <add name="POL_CompanyCustomerConnection" connectionString="Data Source=devproveedoresonline.c21n120xwlou.us-east-1.rds.amazonaws.com;Initial Catalog=005_ProveedoresOnLine;User Id=ProveedoresUser;Password=gerEdit!.$" />
    <add name="LogConnection" connectionString="Data Source=devproveedoresonline.c21n120xwlou.us-east-1.rds.amazonaws.com;Initial Catalog=003_LogModule;User Id=ProveedoresUser;Password=gerEdit!.$" />
  </connectionStrings>
  <appSettings>
    <add key="LogTimer" value="3000"/>
    <add key="SettingsConfig" value="E:\Publicar Software\ProveedoresOnline\WebCrawler\WebCrawler\Rsx-SettingsConfig.xml"/>
    <!--<add key="SettingsConfig" value="D:\Publicar Software\ProveedoresOnline\ProveedoresOnlineV1.0\WebCrawler\WebCrawler\Rsx-SettingsConfig.xml"/>-->
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>