@model DocumentManagement.Models.Provider.ProviderSearchModel

@{
    ViewBag.Title = "Control de Cambios";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string UrlAction = Url.Action(MVC.Provider.ActionNames.DownloadFile, MVC.Provider.Name);
}

<div>
    <div>
        <span class="spanTitleForm">Control de Cambios</span>
        <div id="divGridChangesControl"></div>
    </div>
    <div id="template" style="display:none;">
        <div id="divGridChangesControl_Header">
            <form id="ProfileInfoFormId" action="@Url.Content("~/api/ProviderApi?ChangesControlSearch=true&SearchParam=a")" method="post">
                <label>Filtrar por:</label>
                <input type="text" id="divGridChangesControl_txtSearch" name="divGridChangesControl_txtSearch" />
                <div class="DMProviderFilterActions">
                    <input type="button" id="divGridChangesControl_SearchButton" value="Buscar" />
                </div>
            </form>
        </div>
    </div>
</div>

@section inlinescripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            ChangesControl('divGridChangesControl', '');
        });
    </script>
}
