/************Header************/
.AdminRolesHeader {
    /*border: 1px solid red;*/
    padding: 0;
    vertical-align: top;
    margin: -50px 0px 0px 0px;
    width: 100%;
    height: 100px;
    text-align: center;
}

    .AdminRolesHeader label {
        margin: 3.6% 22% 0 auto;
        font-size: 25px;
        font-weight: normal;
        line-height: 25px;
        letter-spacing: -0.5px;
        color: #ff8300;
    }

    .AdminRolesHeader img {
        float: left;
        width: 20%;
        height: auto;
        margin: 11px 1% 0 2%;
    }

/*************Body*************/
.AdminRolesBody {
    /*border: 1px solid blue;*/
    width: 100%;
    min-height: 410px;
}

div#divGridAutorization {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}

.OptionsList {
    list-style: none;
}

    .OptionsList li {
        display: inline-block;
        margin-left: 5%;
    }

.DMButtonsForm {
    border: none;
    width: auto;
    height: auto;
    background-color: #ff8300;
    color: #fff;
    font-size: 1.3em;
    padding: 3px 38px;
    margin: 5px 0px 8px -10px;
}

.DMButtonsDeleteForm {
    border: none;
    width: auto;
    height: auto;
    color: #ff8300;
    font-size: 1.3em;
    padding: 3px 38px;
    background-color: transparent;
}

th.k-header {
    text-align: center !important;
}

/**********Validate***************/
span#UserEmail-error {
    position: absolute;
    margin: 25px 0px 0px -173px;
    color: red;
    font-size: 15px;
    font-weight: bold;
}

/*************Footer***********/
.AdminRolesFooter {
    /*border: 1px solid green;*/
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: #DADADA;
}

    .AdminRolesFooter label {
        display: block;
        margin: 5px 0px 7px 0px;
        width: 100%;
        color: #4d4d4d;
        font-size: 0.9em;
        line-height: 0.7em;
        font-weight: normal;
    }

    .AdminRolesFooter img {
        display: block;
        margin: 6px 0 0 86%;
        width: 12%;
        height: auto;
    }
