/************Header************/
.AdminRolesHeader {
    /*border: 1px solid red;*/
    padding: 0;
    vertical-align: top;
    margin: -50px 0px 0px 0px;
    width: 100%;
    height: 100px;
    text-align: center;
}
    .AdminRolesHeader label {
        margin: 3.6% 22% 0 auto;
        font-size: 25px;
        font-weight: normal;
        line-height: 25px;
        letter-spacing: -0.5px;
        color: #ff8300;
    }
    .AdminRolesHeader img {
        float: left;
        height: auto;
        margin: 11px 1% 0 1%;
        min-width: 250px;
        width: 300px;
        height: auto;
    }
/*************Body*************/
.AdminRolesBody {
    /*border: 1px solid blue;*/
    width: 100%;
    min-height: 410px;
    margin:0px 0px 0px 0px;
}
div#divGridAutorization {
    width:99.8%;
    margin-left:0;
    margin-top:0;
}
    .OptionsList {
        margin:0px 0px 15px 0px;
        padding:0px;
    }
        .OptionsList li {
            margin:6px 0px 0px 0px;
        }
        .OptionsList li,
        .OptionsList li label,
        .OptionsList li select,
        .OptionsList li input{
            display: inline-block !important;
            width:auto;
        }
        .OptionsList li label{
            font-size:1em !important;
            margin:0px 0px 0px 10px !important;
        }
            .OptionsList li select,
            .OptionsList li input {
                border: 1px solid #999;
                font-size: 1em;
                padding: 3px 10px 3px 3px;
                background-color:#f9f9f9;
            }
input.DMButtonsForm {
    background-color: #ff8300 !important;
    border: 1px solid #ececec !important;
    border-radius: 2px !important;
    color: #fff;
    font-size: 1.1em;
    height: auto;
    padding: 3px 31px !important;
    margin:0px 0px 0px 10px;
    width: auto;
}
.DMButtonsDeleteForm {
    border: none;
    width: auto;
    height: auto;
    color: #ff8300;
    font-size: 1.3em;
    padding: 3px 38px;
    background-color: transparent;
}
th.k-header {
    text-align: center !important;
}
/********** AQUI VA EL FORMULARIO DE USUARIO POR ROL ***********/

#AutorizationId label{
    color: #4d4d4d;
    display: block;
    font-size: 1.2em;
    font-weight: normal;
    letter-spacing: -0.5px;
    margin: 0px 0px 0px 8px;
}

/**********Validate***************/
span#UserEmail-error {
    color: red;
    font-size: 0.9em;
    font-weight: normal;
    margin: 0;
    position: absolute;
    right: 225px;
    top: 60px;
}

/*************Footer***********/
.AdminRolesFooter {
    /*border: 1px solid green;*/
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: #DADADA;
}

    .AdminRolesFooter label {
        display: block;
        margin: 5px 0px 7px 0px;
        width: 100%;
        color: #4d4d4d;
        font-size: 0.9em;
        line-height: 0.7em;
        font-weight: normal;
    }

    .AdminRolesFooter img {
        display: block;
        margin: 6px 0 0 86%;
        width: 12%;
        height: auto;
    }