/**************** PANTALLA DE AUTENTICACION ****************/
.POMPInternalLoginGreatWrapper {
        border:none;
    background-image: url("http://devproveedoresonline.s3.amazonaws.com/MarketPlace/SiteImages/panthermedia_A21277028_1748x1130.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height:100%;
    margin: 0; padding: 0px;
    min-width:960px; min-height:579px;
    width: 100%;
}
    .POMPPOMPInternalLoginHeader{
            border:none;
        background-color: rgba(225, 225, 225, 0.8);
        height: 88px;
        min-width:960px;
        text-align: left;
        width: 100%;
    }
        .POMPPOMPInternalLoginHeader img{
            height: auto;
            left: 14px;
            position: relative;
            top: 4px;
            width: 235px;
        }
    .POMPPOMPInternalLoginBody{
            border:none;
        background-color: rgba(255, 255, 255, 0.7);
        height: auto;
        margin: 8% 0 6% 62%;
        padding: 28px 12px;
        width: 346px;
    }
        .POMPPOMPInternalLoginBody label{
            color: #0066ae; 
            font-size: 2.2em;
            font-weight: normal;
            letter-spacing: -1.6px;
            line-height: 30px;
        }
        hr {
            border-color: #ff8300;
            color: #ff8300;
            margin: 6px auto;
            width: 90%;
        }
/**************** DIALOGO DE LOGIN, AVISO Y CREACION DE USUARIO POR HERENCIA *****************/
        .gitkit-container {
            background-color: rgba(255, 255, 255, 0.1) !important;
        }
            .gitkit-title, .recaptcha_only_if_image, 
            .gitkit-recaptcha-label {
                font-size: 1.5em !important;
                font-weight: normal !important;
                line-height: 1 !important;
                margin-bottom: 12px !important;
                margin-top: 2px !important;
                padding-bottom: 0 !important;
                color:#666 !important;
                letter-spacing:-0.9px;
            }
            .gitkit-label {
                color: #666 !important;
                font-size: 1.2em !important;
                font-weight: normal !important;
                letter-spacing: -1px !important;
                line-height:1em !important;
                margin:0px 0px 3px 0px !important;
            }
                .gitkit-sign-in-options {
                    margin:0px 0 24px !important;
                }
            .gitkit-input, .gitkit-recaptcha-input,
            .gitkit-id-recaptcha-input, .gitkit-recaptcha-image{
                border:1px solid #727276 !important;
                background-color:#f9f9f9 !important;
                margin:0px 0px 10px 0px !important;
            }
            .gitkit-arrow-indicator, .gitkit-id-arrow-indicator {
                bottom:0px !important;
                margin:0px 0px 10px 0px !important;
            }
            .gitkit-checkbox-label, .gitkit-text, .gitkit-link {
                font-size:14px !important;
                color:#0066ae !important;
                letter-spacing:-0.5px!important;
                line-height: 1.5em !important;
            }
                .gitkit-id-remember-account {
                    margin:0px 10px 0px 0px !important;
                }
                .gitkit-recommend-option {
                    margin-bottom: 8px !important;
                    margin-top: 0px !important;
                }
                    .gitkit-idp-button:focus, .gitkit-idp-button:hover,
                    .gitkit-idp-password:focus, .gitkit-idp-password:hover,
                    .gitkit-id-idp-button:focus, .gitkit-id-idp-button:hover{
                        background-color:#b3b3b3;
                    }
                        .gitkit-idp-text {
                            font-weight:normal !important;
                        }
                            .gitkit-idp-text:hover {
                                text-decoration:underline;
                            }
                .gitkit-text{
                    margin:0px !important;
                }
/*********** BOTONES DE REGISTRO ***********/

.gitkit-button {
    font-weight:normal !important;
    background-color:#ff8300 !important;
    font-size: 1em !important;
    background-image:none !important;
    color:#fff !important;
    font:inherit !important;
    padding:0px 26px !important;
    cursor:pointer !important;
}
    .gitkit-recaptcha {
        margin:12px 0px 0px 0px !important;
    }
        .gitkit-form-actions {
            margin:12px 0px 0px 0px !important;
        }

/*********** LLAMA AL FOOTER ***********/
    .POMPPOMPInternalLoginFooter{
            border:none;
        height: auto;
        width: 100%;
    }
        .POMPPOMPInternalLoginFooterWrapper {
            height:94px;
        }
            .POMPPOMPInternalLoginFooterLogos,
            .POMPPOMPInternalLoginFooterLegal{
                border: medium none;
                display: block;
                min-width: 960px;
                width: 100%;
            }
            .POMPPOMPInternalLoginFooterLogos {
                background-color: #b3b3b3;
                height: 76px;
                text-align: right;
            }
                .POMPPOMPInternalLoginFooterLogos img {
                    border: medium none;
                    height: auto;
                    position: relative;
                    right: 12px;
                    top: 13px;
                    width: auto;
                }
            .POMPPOMPInternalLoginFooterLegal {
                background-color: #727276;
                height: 22px;
                text-align: center;
            }
                .POMPPOMPInternalLoginFooterLegal span,
                .POMPPOMPInternalLoginFooterLegal a {
                    color: #fff;
                    font-size: 0.9em;
                }